<?php $this->display('header.html');?>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">地区列表</h3>
        <div class="box-tools pull-right">
              <a class="btn btn-box-tool" data-toggle="tooltip" data-original-title="添加地区" href="/admin/video/addArea">
              <i class="glyphicon glyphicon-edit"></i></a>
            </div>
      </div>
      <div class="box-body pb-0">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-hover mb-0" data-delete="/admin/video/delArea">
              <tr>
                <th>ID</th>
                <th>名称</th>
                <th>显示</th>
                <th>操作</th>
              </tr>
              <?php  foreach($list as $value) { ?>
                  <tr data-id="<?=$value->id?>">
                    <td align=right><?=$value->id?></td>
                    <td align=right><?=$value->name?></td>
                    <td align=right><?php if($value->lookStatus == '1'){echo "显示";}else{echo "隐藏";}?></td>
                    <td>
                      <a class="btn btn-ssm btn-success" href="/admin/video/editArea<?='?id='.$value->id?>"> <i class="glyphicon glyphicon-edit icon-white"></i>
                        编辑
                      </a>
                      <a  class="btn btn-ssm btn-danger btn-delete">
                        <i class="glyphicon glyphicon-trash icon-white"></i>
                        删除
                      </a>
                    </td>
                  </tr>
              <?php  } ?></table>
          </div>
        </div>
      </div>
      <div class="box-footer clearfix">
        <?=$list->render()?>
      </div>
    </div>
  </div>
</div>

<?php $this->display('footer.html');?>