<?php $this->display('header.html');?>
<div id="user-app">
    <?php $this->display('position.html');?>
    <!-- 主体 的右边-->
    <div class="container admin_body">
        <?php $this->display('menu.html');?>
        <div class="admin_right_body">
            <div class="userMessageBody">
                <ul class="list-unstyled Messageqie">
                    <li class="MessageqieLi">我的消息</li>
                    <li>消息设置</li>
                    <li>登录日志</li>
                    <div class="clearfix"></div>
                </ul>
                <div class="wodexx">
                    <ul class="list-inline">
                        <li class="saixuan">筛选：</li>
                        <li class="saixuan1 saixuan2">全部<span>（0）</span></li>
                        <li class="saixuan1">系统消息<span>（0）</span></li>
                        <li class="saixuan1">投资通知<span>（0）</span></li>
                        <li class="saixuan1">回款通知<span>（0）</span></li>
                        <li class="saixuan1">奖品卡券<span>（0）</span></li>
                        <li class="saixuan1">活动通知<span>（0）</span></li>
                        <div class="clearfix"></div>
                    </ul>
                    <table class="userDetail-1 table">
                        <thead>
                            <tr>
                                <th><img src="<?=RSRC?>/images/user/xinfen.png" alt=""></th>
                                <th>类别</th>
                                <th>主题</th>
                                <th>时间</th>
                                <th>全部删除</th>
                            </tr>
                        </thead>
                        <tbody id="message">
                            <tr>
                                <td><img src="<?=RSRC?>/images/user/weidu.png" alt=""></td>
                                <td>系统通知</td>
                                <td>提现审核</td>
                                <td>2017-10-1</td>
                                <td><a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <p>您于2017年10月10日15:24申请提现因审核未通过。</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="<?=RSRC?>/images/user/weidu.png" alt=""></td>
                                <td>系统通知</td>
                                <td>提现审核</td>
                                <td>2017-10-1</td>
                                <td><a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <p>您于2017年10月10日15:24申请提现因审核未通过。</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="<?=RSRC?>/images/user/weidu.png" alt=""></td>
                                <td>系统通知</td>
                                <td>提现审核</td>
                                <td>2017-10-1</td>
                                <td><a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <p>您于2017年10月10日15:24申请提现因审核未通过。</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="<?=RSRC?>/images/user/weidu.png" alt=""></td>
                                <td>系统通知</td>
                                <td>提现审核</td>
                                <td>2017-10-1</td>
                                <td><a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <p>您于2017年10月10日15:24申请提现因审核未通过。</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="<?=RSRC?>/images/user/weidu.png" alt=""></td>
                                <td>系统通知</td>
                                <td>提现审核</td>
                                <td>2017-10-1</td>
                                <td><a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <p>您于2017年10月10日15:24申请提现因审核未通过。</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="<?=RSRC?>/images/user/weidu.png" alt=""></td>
                                <td>系统通知</td>
                                <td>提现审核</td>
                                <td>2017-10-1</td>
                                <td><a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <p>您于2017年10月10日15:24申请提现因审核未通过。</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="<?=RSRC?>/images/user/weidu.png" alt=""></td>
                                <td>系统通知</td>
                                <td>提现审核</td>
                                <td>2017-10-1</td>
                                <td><a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <p>您于2017年10月10日15:24申请提现因审核未通过。</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="<?=RSRC?>/images/user/weidu.png" alt=""></td>
                                <td>系统通知</td>
                                <td>提现审核</td>
                                <td>2017-10-1</td>
                                <td><a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <p>您于2017年10月10日15:24申请提现因审核未通过。</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="<?=RSRC?>/images/user/weidu.png" alt=""></td>
                                <td>系统通知</td>
                                <td>提现审核</td>
                                <td>2017-10-1</td>
                                <td><a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <p>您于2017年10月10日15:24申请提现因审核未通过。</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="<?=RSRC?>/images/user/weidu.png" alt=""></td>
                                <td>系统通知</td>
                                <td>提现审核</td>
                                <td>2017-10-1</td>
                                <td><a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <p>您于2017年10月10日15:24申请提现因审核未通过。</p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="<?=RSRC?>/images/user/weidu.png" alt=""></td>
                                <td>系统通知</td>
                                <td>提现审核</td>
                                <td>2017-10-1</td>
                                <td><a href="#">删除</a></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <p>您于2017年10月10日15:24申请提现因审核未通过。</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" style="opacity: 0;border: none !important">按时阿萨德按时加上大家爱护的安徽大家啊哈撒谎建设的速度</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <!-- 消息设置 -->
                <div class="xxshezhi">
                    <div class="account_notice">
                      <h2>您可以自定义消息通知接收方式，勾选表示您接受该方式的消息通知，反之，表示您不接受该方式的消息通知。</h2>
                    </div>
                    <div class="account_table2 message-setting">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td width="35%" class="td1">
                                        <h4>投资通知</h4>
                                        <p>
                                            投资相关、自动投标、回款、债权转让、<br> We计划提前退出/到期退出等消息提醒
                                        </p>
                                    </td>
                                    <td width="13%">
                                        <i class="checkbox"></i>
                                        <span class="label">系统消息</span>
                                    </td>
                                    <td width="13%">
                                        <i class="checkbox"></i>
                                        <span class="label">短信</span>
                                    </td>
                                    <td width="13%">
                                        <i class="checkbox"></i>
                                        <span class="label">APP</span>
                                    </td>
                                    <td width="17.5%">
                                        <i class="checkbox"></i>
                                        <span class="label">微信服务号</span>
                                    </td>
                                    <td width="8.5%">
                                        <i class="checkbox"></i>
                                        <span class="label">邮件</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        <h4>借款通知</h4>
                                        <p>借款、还款相关消息提醒</p>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">系统消息</span>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">短信</span>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">APP</span>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">微信服务号</span>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">邮件</span>
                                    </td>
                                </tr>
                                <tr class="gray">
                                    <td class="td1">
                                        <h4>奖品通知</h4>
                                        <p>邀请好友成功及奖品过期前消息提醒</p>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">系统消息</span>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">短信</span>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">APP</span>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">微信服务号</span>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">邮件</span>
                                    </td>
                                    <td style="display: none">
                                        <i class="checkbox"></i>
                                        <span class="label"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        <h4>新标通知</h4>
                                        <p>新标上线消息提醒</p>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">系统消息</span>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">短信</span>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">APP</span>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">微信服务号</span>
                                    </td>
                                    <td>
                                        <i class="checkbox"></i>
                                        <span class="label">邮件</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="savebtn">
                            <a href="javascript:" class="td-btn-1-or">保存</a>
                        </div>
                        <p class="describe">
                            温馨提示：为保障您的汇诚金融消息通知及时有效，建议您下载汇诚，微信关注“汇诚金融服务平台”
                        </p>
                        <div class="codebox">
                           <div class="code code1">
                                <p class="img"></p>
                                <p>手机APP下载</p>
                           </div>
                           <div class="code code2">
                                <p class="img"></p>
                                <p>微信服务号</p>
                           </div>
                        </div>
                    </div>
                </div>
            <!-- 登录日志 -->
                <div class="rizhi">
                    <div class="account_notice">
                      <h2>温馨提示：若您发现有异常登录情况，请联系汇诚金融客服。</h2>
                    </div>
                    <div class="account_table">
                        <table class="account_tableNR table">
                            <thead>
                                    <tr style="background-color: rgb(244, 244, 244);"  class="item-tr">
                                        <th class="a_low06">
                                            编号
                                        </th>
                                        <th class="a_low10">
                                            登录时间
                                        </th>
                                        <th class="a_low17">
                                            登录IP
                                        </th>
                                    </tr>
                            </thead>
                            <tbody>                     
                                <tr style="background-color: rgb(255, 255, 255);">
                                    <td>1</td>
                                    <td>2017/10/20 16:21:49</td>
                                    <td>117.27.81.156, 183.136.179.80</td>
                                </tr>
                                <tr style="background-color: rgb(244, 244, 244);">
                                    <td>2</td>
                                    <td>2017/10/20 15:30:14</td>
                                    <td>117.27.81.156, 183.136.179.80</td>
                                </tr>
                                <tr style="background-color: rgb(255, 255, 255);">
                                    <td>3</td>
                                    <td>2017/10/20 15:30:08</td>
                                    <td>117.27.81.156, 114.80.59.150</td>
                                </tr>
                                <tr style="background-color: rgb(244, 244, 244);">
                                    <td>4</td>
                                    <td>2017/10/20 10:33:09</td>
                                    <td>117.27.81.156, 183.136.179.80</td>
                                </tr>
                                <tr style="background-color: rgb(255, 255, 255);">
                                    <td>5</td>
                                    <td>2017/10/19 16:40:50</td>
                                    <td>117.27.81.156, 114.80.59.150</td>
                                </tr>
                                <tr style="background-color: rgb(244, 244, 244);">
                                    <td>6</td>
                                    <td>2017/10/19 16:40:44</td>
                                    <td>117.27.81.156, 183.136.179.80</td>
                                </tr>
                                <tr style="background-color: rgb(255, 255, 255);">
                                    <td>7</td>
                                    <td>2017/10/19 16:40:39</td>
                                    <td>117.27.81.156, 114.80.59.150</td>
                                </tr>
                                <tr style="background-color: rgb(244, 244, 244);">
                                    <td>8</td>
                                    <td>2017/10/16 10:41:35</td>
                                    <td>27.155.235.218, 183.136.179.80</td>
                                </tr>
                                <tr style="background-color: rgb(255, 255, 255);">
                                    <td colspan="3" class="tdContent" align="center" style="display: none;">登录记录暂未开放</td>
                                </tr>
                            </tbody>
                       </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php $this->display('footer.html');?>