<html>
<head>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
        #allmap{height:100%;width:100%;}
        #r-result{width:100%; font-size:14px;}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=696a7cc06c6b3c71f73b053fd9997fea"></script>
    <script type="text/javascript" src="http://www.w3school.com.cn/jquery/jquery-1.11.1.min.js"></script>
    <title>城市名定位</title>
</head>
<body>
<div id="allmap">
    <h1><?php echo $value; ?></h1>
</div>

</body>
</html>
<script type="text/javascript">
    $.getJSON("http://www.hcjrfw.com/gps/ajaxGps", { oddNumber: "<?php echo $_GET['odd'];?>"}, function(json){
        var x = parseFloat(parseFloat(json["longitude"])), y = parseFloat(parseFloat(json["latitude"]));
        var z = Math.sqrt(x * x + y * y) + 0.00002 * Math.sin(y * 3.1415926535);
        var theta = Math.atan2(y, x) + 0.000003 * Math.cos(x * 3.1415926535);
        lng = z * Math.cos(theta) + 0.0065;
        lat = z * Math.sin(theta) + 0.006;
        var map = new BMap.Map("allmap");
        map.centerAndZoom(new BMap.Point(lng,lat),15);
        map.enableScrollWheelZoom(true);

        var opts = {
            width : 200,     // 信息窗口宽度
            height: 100,     // 信息窗口高度
            title : json['title'] , // 信息窗口标题
        }
        var infoWindow = new BMap.InfoWindow(json['msg'], opts);
        map.clearOverlays();
        var new_point = new BMap.Point(lng,lat);
        var marker = new BMap.Marker(new_point);  // 创建标注
        map.addOverlay(marker);              // 将标注添加到地图中
        map.panTo(new_point);
        marker.addEventListener("click", function(){
            map.openInfoWindow(infoWindow,new_point); //开启信息窗口
        });
    });
</script>