<div class="q-module-hot mt15">
  <h3>
    热门板块
    <a href="#" class="more">查看更多</a>
  </h3>
  <div class="clearfix ico-wrap">
    <a href="#" class="noticeico">
      <span>官方公告</span>
    </a>
    <a href="#" class="milestoneico">
      <span>新手入门</span>
    </a>
    <a href="#" class="moneylsitico">
      <span>投资交流</span>
    </a>
    <a href="#" class="presentico">
      <span>有奖活动</span>
    </a>
    <a href="#" class="talkico">
      <span>有问必答</span>
    </a>
    <a href="#" class="libraryico">
      <span>理财日记</span>
    </a>
  </div>
</div>