<?php $this->display('header.html');?>
<?php $this->display('safe/common/menu.html');?>
<div id="ad20160831">
  <div class="header">
    <p><a href="<?=WEB_USER?>/user/investRecord">查询我的电子合同</a></p>
  </div>
  <div class="infoWhite">
    <h2>电子数据存证的法律效力</h2>
    <h3>免证效力：</h3>
    <p>已为有效公证书证明的事实，无须当事人举证。</p>
    <p>《民事诉讼法》第六十七条规定，经过法定程序公证证明的法律行为、法律事实和文书，人民法院应当作为认定事实的根据，但有相反证据足以推翻公证证明的除外。《最高人民法院关于民事诉讼证据的若干规定》第九条规定，已为有效公证文书所证明的事实无需当事人举证证明。</p>
    <h3>优势证据效力：</h3>
    <p>公证书的效力大于其他证据的效力。</p>
    <p>2013年1月1日实施的《中华人民共和国民事诉讼法》第63条已经明确将电子数据列为单一证据类别——电子数据证据成为法定证据。</p>
    <p>《最高人民法院关于民事诉讼证据的若干规定》第七十七条规定，经过公证的书证，其证明力一般大于其他书证、视听资料和证人证言。</p>
    <p>当您在汇诚普惠完成投资后，将会生成一份具有最高法律效力的电子合同，同时可至安存官网查询电子合同。</p>
  </div>
  <div class="infoLine"></div>
  <div class="infoBlue">
    <div class="infoBlueInside">
      <h2>关于无忧存证</h2>
      <p>杭州安存网络科技有限公司于2008年创建于杭州，公司以“瞬间证明虚拟世界的真实性”为使命，凭借20年中国法律服务及信息安全领域专业研发经验沉淀，安存致力于服务全球电子数据存证领域。</p>
      <p>“无忧存证”是杭州安存网络旗下的电子数据存证产品，采取全电子数据生命周期存证模式，即从数据的生成和创建——数据的存储和传输——数据的取得，全方位确保所保全的电子数据的真实性、完整性、安全性。在“无忧存证”中保全的电子数据，能通过后台申请公证机关公证，证明力获人民法院认可。</p>
    </div>
  </div>
  <div class="infoPic"></div>
</div>
<?php $this->display('footer.html');?>