<?php $this->display('header.html');?>
<?php $this->display('safe/common/menu.html');?>
<div class="fengxianbbj">
	<h2>风险拔备金</h2>
	<p>风险准备金是汇诚普惠债权回购机制的一部分，目的是提高平台抗风险能力，保障平台逾期事件应对；当借款人发生还款逾期，汇诚普惠将启动债权回购机制，在承诺的工作日内进行债权回购，降低投资风险保证平台与投资人双方权益。</p>
	<div class="babeijin">
		<div class="logobbj"><a href="#"><img src="<?=RSRC?>/images/safe/fxlogo.png"/></a></div>
		<div class="babeijlevel">
			<img src="<?=RSRC?>/images/safe/ryfengxianbobei1.png" width="650" />
			<hr style="border: 1px dashed #ccc; width: 100%; height: 1px;" /> 
			<img src="<?=RSRC?>/images/safe/ryfengxianbobei2.png" width="650" />
			<!--<div class="level level1"><a href="#"><span>进入平安<br/>银行官网</span></a></div>
			<div class="level level2"><a href="#"><span>点击企业<br/>网银登录</span></a></div>
			<div class="level level3"><a href="#"><span>点击快速<br/>查询</span></a></div>
			<div class="level level4"><a href="#"><span>点击企业<br/>账户查询</span></a></div>
			<div class="level level5"><a href="#"><span>输入账号<br/>密码登录</span></a></div>
			<div class="level level6"><a href="#"><span>点击查询<br/>余额查看</span></a></div>-->
		</div>
	</div>
</div>
<?php $this->display('footer.html');?>