<?php 
    $asset = Yaf\Registry::get('asset');
    $webAsset = $asset->url;
?>
<?php $this->display('header.html');?>
<table width="979" border="0" cellspacing="0" cellpadding="0" class="top-table">
  <tbody>
    <tr>
      <td height="80" colspan="2" background="<?php echo $webAsset;?>/images/safe/touzhione.jpg">
        <table width="205" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td align="center" class="cabout">
                <span class="f22 baitis fya1">债权转让协议</span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td width="21"></td>
      <td width="957">
        <div class="bkki">
          <br>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <span class="bkkifont f15 line_35">转让人（以下简称甲方）：网签本协议的债权转让人（原出借人）</span>
                  <br>
                  <span class="bkkifont  line_35 f15">受让人（以下简称乙方）：网签本协议的债权受让人（新债权人）</span>
                  <br>
                  <span class="bkkifont  line_35 f15">债务人：网签协议的资金借款人</span>
                  <br>
                  <span class="bkkifont  line_35 f15">平台方：福建汇诚普惠科技发展有限公司</span>
                  <br>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35"> <strong>鉴于甲方在福建汇诚普惠科技发展有限公司运营管理的“汇诚普惠”网站平台（以下简称平台）上对债务人拥有合法债权，现甲方将其债权通过平台转让给乙方。双方达成如下协议:</strong> 
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">（一） 转让债权标的：转让债权标的即甲方发标时的金额（债权本金及利息）</span>
                    <br>
                    <span class="bkkifont  line_35 f15">（二） 债权转让价格：转让债权标的即甲方发标时的价格。乙方应一次性支付转让价款。</span>
                    <br>
                    <span class="bkkifont  line_35 f15">（三） 本债权自本协议生效之日起转移，甲方的所有权利义务同时转移给乙方。甲乙双方具有向债务人送达债权转让通知的义务。</span>
                    <br>
                    <span class="bkkifont  line_35 f15">
                      （四） 甲方因转让债权而产生的相关费用具体收费标准详见“资费说明”。各项费用的调整，以公告的“资费说明”为准，并对调整后发生的借款发生效力。
                    </span>
                    <br>
                    <span class="bkkifont  line_35 f15">（五） 乙方承继甲方债权后可以再转让给第三人。</span>
                    <br>
                    <span class="bkkifont  line_35 f15">
                      （六） 乙方保证其支付受让标的债权的资金来源合法，乙方是该资金的合法所有人，如果第三方对资金归属、合法性问题发生争议，由乙方自行负责解决。
                    </span>
                    <br>
                    <span class="bkkifont  line_35 f15">
                      （七） 甲乙双方任何一方违反本协议的约定，使得本协议的全部或部分不能履行，均应承担违约责任，并赔偿对方因此遭受的损失（包括但不限于由此产生的诉讼费和律师费）。
                    </span>
                    <br>
                    <span class="bkkifont  line_35 f15">（八） 在本协议履行过程中，如发生任何争执或纠纷，且协商不成的，双方约定向平台住所地人民法院提起诉讼。</span>
                    <br>
                    <span class="bkkifont  line_35 f15">
                      （九） 甲方、乙方通过平台发标、投标转让债权时，视为接受本协议的条款，视为已认真阅读和理解本协议所有内容并自愿按本协议相关约定履行各自的权利义务。
                    </span>
                    <br>
                    <span class="bkkifont  line_35 f15">（十） 本协议自转让资金支付到甲方账户起生效。</span>
                    <br>
                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <div align="right">
                    <span class="bkkifont f15 line_35" style="text-align:right">福建汇诚普惠科技发展有限公司</span>
                    <br>
                    <span class="bkkifont f15 line_35" style="text-align:right">二0一四年一月二十六日</span>
                    <br>
                    <p>&nbsp;</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<?php $this->display('footer.html');?>
