<?php 
    $asset = Yaf\Registry::get('asset');
    $webAsset = $asset->url;
?>
<?php $this->display('header.html');?>
<table width="979" border="0" cellspacing="0" cellpadding="0" class="top-table">
  <tbody>
    <tr>
      <td height="80" colspan="2" background="<?php echo $webAsset;?>/images/safe/touzhione.jpg">
        <table width="205" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td align="center" class="cabout">
                <span class="f18 baitis fya1">资金安全保障操作办法</span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td width="21"></td>
      <td width="957">
        <div class="bkki">
          <br>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35"> <strong><br>一、“风险拨备金”</strong></span>
                    <br>
                    <span class="bkkifont f15 line_35">1、“风险拨备金”账户</span>
                    <br>
                    <span class="bkkifont  line_35 f15">福建汇诚普惠科技发展有限公司与银行合作，专设“风险拨备金”账户，作为垫付逾期债权的一种方式。</span>
                    <br>
                    <span class="bkkifont f15 line_35">2、账户资金来源</span>
                    <br>
                    <span class="bkkifont f15 line_35">“汇诚普惠”平台专门提供500万元人民币，交由银行托管。</span>
                    <br>
                    <span class="bkkifont f15 line_35">3、垫付规则</span>
                    <br>
                    <span class="bkkifont f15 line_35">（1）借款人出现逾期，经出借人申请、网站及银行审批后，符合条件的，从“风险拨备金”账户中提取资金垫付出借人。</span>
                    <br>
                    <span class="bkkifont f15 line_35">（2）垫付后，相应的本息债权转让给“汇诚普惠”，逾期本息由“汇诚普惠”或委托第三方清收。</span>
                    <br>
                    <span class="bkkifont f15 line_35">4、审批规则</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      时间顺序：依照申请的时间顺序进行审批，同一时间申请的，“风险拨备金”按照逾期债权发生的时间顺序进行垫付，先垫付时间发生在前的逾期债权，后垫付时间发生在后的逾期债权。
                    </span>
                    <br>

                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35"> <strong><br>二、风险管理服务</strong>
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      福建汇诚普惠科技发展有限公司与第三方融资性担保机构合作，由担保机构设立“本息保障金”。出借人与担保机构签订《投资服务协议》后，可申请“本息保障金”垫付逾期债权。
                    </span>
                    <br>
                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>三、债务担保</strong>
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">3.1借款金额即出借人投标时的金额、借款用途即借款人发标时公布的借款用途。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      通过借款人及借款人提供的第三人保证、抵押、质押担保方式，确保资金安全。 

借款人与第三方融资性担保机构（“汇诚普惠”合作方）签订《借款担保协议》，可由担保机构为其发标担保，吸引投标。
                    </span>
                    <br>
                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>四、债权转让</strong>
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">债权未到期但出借人因急需资金拟收回债权，或债权逾期，经通知借款人及获得第三人的同意，可将债权转让予第三人。</span>
                    <br>
                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>
                        五、出借人需保障资金安全时，可选择上述操作办法的一种或几种，可就借款全额或部分金额设定保障。借款人需提供担保时，可选择上述担保方式的一种或几种。</strong> 
                    </span>
                    <br>
                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>六、本《操作办法》最终解释权归本网站所有。</strong>
                    </span>
                    <br>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <div align="right">
                    <span class="bkkifont f15 line_35" style="text-align:right">福建汇诚普惠科技发展有限公司</span>
                    <br>
                    <span class="bkkifont f15 line_35" style="text-align:right">二0一四年十一月二十六日</span>
                    <br>
                    <p>&nbsp;</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<?php $this->display('footer.html');?>
