<?php 
    $asset = Yaf\Registry::get('asset');
    $webAsset = $asset->url;
?>
<?php $this->display('header.html');?>
<table width="979" border="0" cellspacing="0" cellpadding="0" class="top-table">
  <tbody>
    <tr>
      <td height="80" colspan="2" background="<?php echo $webAsset;?>/images/safe/touzhione.jpg">
        <table width="205" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td align="center" class="cabout">
                <span class="f22 baitis fya1">借款合同</span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>
      <td width="21"></td>
      <td width="957">
        <div class="bkki">
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35"> <strong><br>合同编号：除非上下文另有解释，下列用语具有以下含义：</strong></span><br>
                    <span class="bkkifont f15 line_35">出借人：网签本合同的资金借出人</span><br>
                    <span class="bkkifont line_35 f15">借款人：网签本合同的资金借入人</span><br>
                    <span class="bkkifont line_35 f15">居间人：福建汇诚普惠科技发展有限公司</span><br>
                    <span class="bkkifont line_35 f15">账户资金存管方：江西银行</span><br>
                    <p>&nbsp;</p>
                    <span class="bkkifont line_35 f15">
                      借款人因生产经营、消费所需，现通过居间人提供的“汇诚普惠”网站（www.hcjrfw.com，以下称网站）向出借人（投资人）进行借款。根椐中华人民共和国有关法律、法规，在遵循公平原则的基础上，经当事人协商一致，特订立本合同条款如下，以兹遵守。
                    </span><br>
                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>

          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong><br>第1条　名词定义 除非上下文另有解释，下列用语具有以下含义：</strong>
                    </span><br>
                    <span class="bkkifont f15 line_35">1.1本合同：指本《借款合同》及本网站公布的各规则、公告、办法等文本以及各方网签的相关协议或合同。</span><br>
                    <span class="bkkifont  line_35 f15">
                      1.2出借人、借款人：指本合同列明的出借人、借款人，为符合中华人民共和国法律（即中国法律，不包括香港特别行政区、澳门特别行政区和台湾地区的法律法规）规定的具有完全民事权利能力和民事行为能力，能独立行使和承担合同项下权利义务的自然人。
                    </span><br>
                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>

          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第2条 总则</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      2.1 借款人和出借人均认可居间人提供的网站，双方通过网站达成意愿，并自愿认可和遵守网站的经营模式及相关交易规则，出借人和借款人均一致同意委托居间人、账户资金存管方通过网站提供本次借款所涉及的各类电子合同和纸质合同、借款款项的划付、结算服务，并委托居间人行使催收催讨、监督借款的使用等权利，出借人和借款人对居间人、账户资金存管方的上述行为无任何异议。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">2.2出借人通过网站向居间人提供委托事项所需要的相关资料信息、文件、凭证等，并保证其真实性、完整性、合法性及有效性。出借人需要通过网站向借款人提供借款的，应保证该款项的合法性。
                    </span>
                    <br>
                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>

          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第3条 借款金额、用途、划付</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">3.1借款金额即出借人投标时的金额、借款用途即借款人发标时公布的借款用途。</span>
                    <br>
                    <span class="bkkifont f15 line_35">3.2 出借人委托并授权账户资金存管方将借款款项从其电子账户中划付到借款人的电子账户。划付款项后，即视为该借款款项已借出。
                    </span>
                    <br>
                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>

          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第4条 借款期限和利率</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      4.1借款期限即借款人发标时公布的借款期限。若有时间出入，以实际到账时间为准。借款天数按算头不算尾的方式计算。借款到期，借款人应根据本合同约定的还款方式向出借人偿还借款。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      4.2 借款利息即借款人发标时公布的借款利息。借款期限的起始日期以借款人在“江西银行”开立的电子账户中收到借款款项之日起计算。
                    </span>
                    <br>

                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>

          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第5条　费用</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      借款过程中若涉及相关费用（包括但不限于调查、评估、公证/见证、抵押/质押登记、保险、担保及债务催收催讨支出的费用），由借款人另行承担。
                    </span>
                    <br>

                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第6条 还款</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">6.1当事人约定借款人依照以下方式还本付息：</span>
                    <br>
                    <span class="bkkifont f15 line_35">6.1.1按月等额本息还款；</span>
                    <br>
                    <span class="bkkifont f15 line_35">6.1.2每月付息到期还本；</span>
                    <br>
                    <span class="bkkifont f15 line_35">6.1.3到期一次性还本付息。</span>
                    <br>
                    <span class="bkkifont f15 line_35">还款方式即借款人发标时公布的借款还款方式。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      6.2 借款人应于约定的借款到期日时，将应还借款本息委托“江西银行”从借款人的电子账户中划入出借人的电子账户。“江西银行”有权直接从借款人的电子账户中扣划相应的还款款项到出借人的电子账户中。借款人应于约定的借款到期日或（和）支付利息日前在“江西银行”电子账户中足额存入（充值）借款本金及利息。借款人将应还款项汇入“江西银行”电子账户，应还金额、应缴费用将按以下顺序依次归还：
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">6.2.1应付的居间服务费等服务费用；</span>
                    <br>
                    <span class="bkkifont f15 line_35">6.2.2如有债权转让，应付的相关违约金；</span>
                    <br>
                    <span class="bkkifont f15 line_35">6.2.3如有逾期的，应付的逾期罚息；</span>
                    <br>
                    <span class="bkkifont f15 line_35">6.2.4如提前还款的，应付的提前还款违约金；</span>
                    <br>
                    <span class="bkkifont f15 line_35">6.2.5借款利息；</span>
                    <br>
                    <span class="bkkifont f15 line_35">6.2.6借款本金。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      还款金额不足归还上述某一项目的，则该次还款至此项终止。如该款项涉及多个受款主体（包括出借人、居间人等）的，则按比例分配，分配金额精确到分。 

对分期还本付息的借款进行还款的，视为对最近一期的还款。
                    </span>
                    <br>

                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>

          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第7条　担保条款</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">7.1借款人提供以下方式的一种或多种担保：</span>
                    <br>
                    <span class="bkkifont f15 line_35">7.1.1连带责任保证。</span>
                    <br>
                    <span class="bkkifont f15 line_35">7.1.2抵押（借款人或者第三人不转移财产的占有，将该财产作为担保）。</span>
                    <br>
                    <span class="bkkifont f15 line_35">7.1.3动产质押（借款人或者第三人将其动产移交占有，以该财产作为担保）。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      7.1.4权利质押（转让所有权以外的财产权作为质押的担保方式。以下权利可以设定质押：汇票、支票、本票、债券、存款单、仓单、提单；依法可以转让的股份、股票；依法可以转让的商标专用权、专利权、著作权中的财产权等权利）。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">7.2担保方式即借款人发标时公布的借款担保方式。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      7.3动产质押时，质押动产（如车辆等）在居间人处存放，居间人有权对质押动产进行经营管理。在质押期间，若是由于动产自身原因或自然损坏、不可抗力等因素造成的损失，免除居间人赔偿责任。质押动产的保险，由借款人或者第三人到保险公司办理投保手续。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      7.4借款人或者第三人保证对担保财产依法享有所有权，在担保前未将该财产转让、担保及依法保全等，无任何经济纠纷；保证对担保权利享有完全的利益。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">7.5担保涉及第三人的，应经居间人书面同意或通过居间人平台进行担保，并另行签订补充协议。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      7.6“汇诚普惠”与第三方融资性担保机构形成合作关系，可由融资性担保机构在其所担保借款项目出现逾期、坏账时，就本金和利息向投资人履行全额赔付义务。
                    </span>
                    <br>

                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第8条 借款的监督使用</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      8.1借款人应严格依照本合同约定的合法用途使用借款，不得挪作他用。借款人保证不得将本借款用于从事违反国家法律法规的非法活动。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">8.2居间人有权监督检查借款的使用情况，有权随时要求借款人报告借款的使用情况。</span>
                    <br>

                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第9条 借款人违约情形</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">借款人发生下列任一事件，均构成借款人违约：</span>
                    <br>
                    <span class="bkkifont f15 line_35">9.1借款人未按本合同约定的借款用途使用借款；</span>
                    <br>
                    <span class="bkkifont f15 line_35">9.2借款人未依照本合同约定按时向出借人偿还借款本金、支付利息；</span>
                    <br>
                    <span class="bkkifont f15 line_35">9.3借款人向出借人提供虚假或者隐瞒重要事实的资料；</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      9.4未经居间人同意，借款人或抵押人或出质人将设定抵押权或质押权的财产或权益出售、转让、赠与、重复抵押或有其他行为，足以影响抵押权或质押权利行使的；
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      9.4未经居间人同意，借款人或抵押人或出质人将设定抵押权或质押权的财产或权益出售、转让、赠与、重复抵押或有其他行为，足以影响抵押权或质押权利行使的；
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">9.5借款人及其他反担保人未依照出借人及居间人的要求办妥相关抵押/质押及其他手续的；</span>
                    <br>
                    <span class="bkkifont f15 line_35">9.6发生其他违反本合同条款的行为的。</span>
                    <br>
                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第10条 借款人违约处理</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">10.1依照“汇诚普惠”网站的规则对借款人采取催收措施；</span>
                    <br>
                    <span class="bkkifont f15 line_35">10.2要求借款人对出借人造成的损失进行赔偿；</span>
                    <br>
                    <span class="bkkifont f15 line_35">10.3若借款人逾期还款的，逾期期间除应依照本合同约定的利率计算利息，还应向出借人支付剩余借款本金1‰每天逾期罚息。</span>
                    <br>
                    <span class="bkkifont f15 line_35">10.4借款人逾期7个工作日仍未还款的，7个工作日届满下一自然日起应向出借人支付剩余借款本金5‰每天逾期罚息。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      10.5借款人如需提前还款的，根据实际借款时间计算借款利息（时间精确到自然日），并向出借人支付2天的额外利息作为提前还款违约金，提前还款违约金与借款本息一并支付。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      10.6借款人在本合同有效期内，不能依照本合同约定履行还本付息及其他有关责任义务，致使居间人决定通过其他途径采取补救或追索措施的，由此引起的一切费用均由借款人承担（包括但不限于诉讼费、仲裁费、律师费、交通费、差旅费、调查费及其他实现债权所产生的费用）。
                    </span>
                    <br>

                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第11条 借款人与出借人的其他义务</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">为维护网站正常的经营秩序，创造良好的网站交易环境，借款人和各出借人通过网站从事活动时，同意遵守如下义务：</span>
                    <br>
                    <span class="bkkifont f15 line_35">11.1不得在网站虚假注册，向网站提供虚假的个人注册信息和资料；</span>
                    <br>
                    <span class="bkkifont f15 line_35">11.2不得借助网站从事非法活动；</span>
                    <br>
                    <span class="bkkifont f15 line_35">11.3不得违反网站公布的各项规则和程序进行操作；</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      11.4未经居间人书面同意，借款人和出借人不得擅自就本合同项下的借款期限、借款金额、还款方式、利息的计算及其他影响本合同履行的任何条款另行签署相关的协议或对合同进行变动；
                    </span>
                    <span class="bkkifont f15 line_35">11.5未经居间人同意或通过居间人平台，各出借人不得擅自转让债权；借款人也不得擅自转移债务；</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      11.6 未经居间人书面同意，借款人不得离开网站及“江西银行”直接或通过第三人向出借人偿还本金、利息及逾期罚息；未经居间人书面同意，出借人也不得离开网站及“江西银行”直接或通过第三人收取出借人偿还的本金、利息及逾期罚息； 
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">11.7未经居间人书面同意，出借人不得自行免除债务，不得行使抵销权。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      11.8如果出借人出现出借资金的继承或赠与，必须由主张权利的继承人或受赠人向居间人出示经国家权威机关认证的继承或赠与权利归属证明文件，居间人确认后方予协助进行资产的转移，由此产生的相关税费，由主张权利的继承人或受赠人，向其主管税务机关申报、缴纳，居间人不负责相关事宜处理。
                    </span>
                    <br>

                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第12条 居间人及第三方支付平台的权利</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      12.1出借人通过居间人网站确认投标并向“江西银行”支付投标资金后，“江西银行”将冻结该投标资金至投标结束，出借人不得将资金撤回。出借人可将未投标成功的资金在“江西银行”解除冻结后用于其他投标。投标行为视为出借人的出借承诺，无论出借人是选择性的投标还是委托系统自动投标，出借人均无权撤销或者收回投标或者减少投标资金，否则视为出借人违约，居间人有权在违约行为可能造成居间人损失的范围内冻结出借人“江西银行”电子账户内资金。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      12.2居间人为追究出借人违约而产生的相关费用（包括但不限于诉讼费或仲裁费、财产保全费、证据保全费、强制执行费、评估费、拍卖费、鉴定费、律师费、差旅费、调查取证费），均由出借人承担。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      12.3当借款人或出借人有违反本合同约定义务的，视为借款人或出借人对居间人的违约，居间人有权根据本合同及网站公布的规则，针对违约的程度采取以下一种或数种措施：
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">12.3.1要求违约人支付本次合同借款金额5%的违约金；</span>
                    <br>
                    <span class="bkkifont f15 line_35">12.3.2有权对借款人或出借人注册的网络账户采取部分网络权限限制；</span>
                    <br>
                    <span class="bkkifont f15 line_35">12.3.3在上述行为可能造成居间人损失的范围内冻结“江西银行”电子账户内的资金； </span>
                    <br>
                    <span class="bkkifont f15 line_35">12.3.4对逾期借款人，有权通过网站发布逾期信息和催收公告；</span>
                    <br>
                    <span class="bkkifont f15 line_35">12.3.5居间人、账户资金存管方不对任何交易而发生的任何损失承担任何单独或连带的补偿或赔偿责任。 </span>
                    <br>
                    <span class="bkkifont f15 line_35">12.3.6依照网站公布的规则进行其他处理行为。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      12.4借款人、出借人双方同意居间人有权代出借人在有必要时对借款人进行其所借款的违约提醒及催收工作，包括但不限于电话通知、发律师函、对借款人提起诉讼等。出借人在此确认明确委托居间人为其进行以上工作，并授权居间人可以将此工作委托给其他方进行。借款对前述委托的提醒、催收事项已明确知晓并应积极配合。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">12.5居间人、第三方支付平台不对任何交易而发生的任何损失承担任何单独或连带的补偿或赔偿责任。</span>
                    <br>

                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第13条 居间费用</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">出借人通过居间人网站完成出借行为的，应向居间人支付如下费用：</span>
                    <br>
                    <span class="bkkifont f15 line_35">13.1 VIP会员年费：120元/年。（推广期内不收取该费用，推广期截止日以公告为准。）</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      13.2居间服务费：居间人促成出借人与借款人签署《借款合同》的，出借人须在收到该借款人偿还的借款利息(包括利息、逾期罚息、提前还款违约金等基于借款合同的所有收益)或收到偿还的本金时，向居间人支付该期利息收入的10%或本金的5%作为居间服务费，该居间服务费直接由居间人从出借人的电子账户中扣收。（推广期内不收取该费用，推广期截止日以公告为准。）
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">13.3邮寄费用：出借人申请居间人邮寄纸质文件资料的费用，如邮寄居间服务协议、账单等，相关费用由出借人承担。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      13.4充值与提现费用：充值与提现具体服务细节和收费标准由居间人合作银行或第三方支付机构设定并执行，居间人将在网站相关位置予以公告，出借人同意直接由居间人代收。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      13.5借款管理费、利息管理费：借款人必须按期足额向居间人支付借款管理费用，出借人必须按期足额向居间人支付利息管理费用。（具体费用标准详见“资费说明”）
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">13.6各项费用的调整，以公告的“资费说明”为准，并对调整后发生的借款发生效力。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      13.7居间人促成借款合同成立的，居间人的受托事务即完成，非因居间人原因解除或不能履行本合同时，出借人仍应依上述约定向居间人支付居间服务费等上述各项费用。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      13.8居间人促成借款合同成立的，居间人的受托事务即完成，非因居间人原因解除或不能履行本合同时，出借人仍应依上述约定向居间人支付居间服务费等上述各项费用。
                    </span>
                    <br>

                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第14条　安全保障与债权转让</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">14.1居间人专门拨出“风险拨备金”，交由专门银行托管，作为借款资金的安全保障措施。</span>
                    <br>
                    <span class="bkkifont f15 line_35">14.1.1借款人出现逾期，经出借人申请、网站及银行审批后，符合条件的，从“风险拨备金”账户中提取资金垫付予出借人。</span>
                    <br>
                    <span class="bkkifont f15 line_35">14.1.2垫付后，相应的本息债权转让予“汇诚普惠”，逾期本息由“汇诚普惠”或委托第三方清收。</span>
                    <br>
                    <span class="bkkifont f15 line_35">14.1.3借款人、出借人均同意上述债权转让，出借人将相应的债权及担保权等从权利一并转让予居间人。</span>
                    <br>
                    <span class="bkkifont f15 line_35">14.1.4债权转让通知由居间人通过网站站内信、注册网站用户时填写的电子邮箱向借款人发送。</span>
                    <br>
                    <span class="bkkifont f15 line_35">14.1.5债权转让后，出借人仍应配合居间人进行催款等。</span>
                    <br>
                    <span class="bkkifont f15 line_35">14.2“汇诚普惠”与第三方融资性担保机构合作，由担保机构设立“本息保障金”。出借人资金可由担保机构进行安全保障。</span>
                    <br>
                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第15条　不可抗力条款</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">15.1 不可抗力：由于战争、动乱、自然灾害等不可抗力因素的出现而可能导致出借人资产损失的风险。</span>
                    <br>

                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第16条　风险提示</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">16.1 政策风险：国家因宏观政策、财政政策、货币政策、行业政策、地区发展、法律法规等因素引起的政策风险；</span>
                    <br>
                    <span class="bkkifont f15 line_35">16.2 信用风险：当借款人发生资金状况的风险，或者借款人的还款意愿发生变化时，出借人的出借资金可能无法按时收回；</span>
                    <br>

                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第17条 合同的生效</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">自居间人将借款款项从出借人的电子账户划付至借款人的电子账户时，本合同生效。</span>
                    <br>

                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35">
                      <strong>
                        <br>第18条 其他条款</strong>
                      
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      18.1出借人、借款人通过居间人网站借出、借入款项，视为接受本合同的条款，视为已认真阅读和理解本合同所有内容并自愿按本合同相关约定履行各自的权利义务。居间人将借款款项划付至借款人电子账户后，本网站将自动生成电子合同。借款合同双方在电子账户相关栏目中可查阅该电子合同，合同编号、借款金额、借款用途、借款期限、借款利息、还款方式等内容以借款招投标中确定的内容为准。电子合同文本为各方真实意思表示，对各方均具有法律约束力。电子合同与当事人签署的纸质合同具有同等法律效力。居间人通过网站站内信、注册网站用户时填写的电子邮箱向出借人及借款人发送相关文书达到站内信邮箱、或电子邮箱的即视为已送达。出借人及借款人应保持手机通讯畅通，通过短信发送相关文书的，发出即视为送达。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">18.2 出借人及借款人应当保守居间人及账户资金存管方的商业秘密，不得向任何人泄露。 </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      18.3本合同签订之日起至借款全部清偿之日止，出借人、借款人有义务在下列信息变更三日内提供更新后的信息给居间人：本人、本人的家庭联系人及紧急联系人、工作单位、居住地址、住所电话、手机号码、电子邮箱、银行账户的变更。若因任何一方不及时提供上述变更信息而带来的损失或额外费用应由该方承担。就出借人、借款人提供的个人信息及“汇诚普惠”通过合法渠道获取的与其相关的个人信息，“汇诚普惠”有权为本合同目的自行管理并使用。借款人同意：若未按期还款还息，居间人、出借人有权披露其信息。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">18.4本合同未尽事宜，以网站公布的规则为准。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      18.5本合同适用中华人民共和国法律。任何有关本借款合同产生的争议，由各方当事人协商；协商不成的，应向居间人住所地有管辖权的人民法院提起诉讼。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">18.6本合同各方委托福建汇诚普惠科技发展有限公司保管所有与本合同有关的书面文件或电子信息。</span>
                    <br>
                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <div align="right">
                    <span class="bkkifont f15 line_35" style="text-align:right">福建汇诚普惠科技发展有限公司</span>
                    <br>
                    <span class="bkkifont f15 line_35" style="text-align:right">二0一四年十一月二十六日</span>
                    <br>
                    <p>&nbsp;</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </div>
    </tr>
  </tbody>
</table>
<?php $this->display('footer.html');?>
