<?php 
    $asset = Yaf\Registry::get('asset');
    $webAsset = $asset->url;
?>
<?php $this->display('header.html');?>
<table width="979" border="0" cellspacing="0" cellpadding="0" class="top-table">
  <tbody>
    <tr>
      <td height="80" colspan="2" background="<?php echo $webAsset;?>/images/safe/touzhione.jpg">
        <table width="205" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td align="center" class="cabout">
                <span class="f22 baitis fya1">债权转让协议</span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td width="21"></td>
      <td width="957">
        <div class="bkki">
          <br>

          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <p>
                    <span class="bkkifont f18 line_35"> <strong><br>转让人：网签本协议的债权转让人（原出借人）</strong>
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">受让人：福建汇诚普惠科技发展有限公司</span>
                    <br>
                    <span class="bkkifont  line_35 f15">债务人：网签协议的资金借款人</span>
                    <br>
                    <span class="bkkifont f15 line_35">转让人将相应债权转让予受让人，现达成如下协议并做公告：</span>
                    <br>
                    <span class="bkkifont f15 line_35">1、转让人通过“汇诚普惠”网站出借款项逾期未收回，向受让人申请“风险拨备金”账户予以垫付。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      2、债权转让金额即转让人申请垫付后、受让人审批同意的债权本金及利息。转让人申请垫付的金额，受让人可按照一定比例审批同意，债权转让金额以受让人审批同意的金额为准。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">3、转让人将相应的债权本息及担保权等从权利一并转让予受让人。</span>
                    <br>
                    <span class="bkkifont f15 line_35">4、受让人有权自行或委托第三方清收。</span>
                    <br>
                    <span class="bkkifont f15 line_35">5、转让人、受让人具有向债务人送达债权转让通知的义务。</span>
                    <br>
                    <span class="bkkifont f15 line_35">6、转让人具有协助清收的义务。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      7、签署本协议后，受让人直接收取债权，转让人不再具有收取债权的权利，不得再向债务人主张该债权。债务人向转让人付款的，转让人应立即通知受让人并向受让人支付款项。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">8、转让人保证其转让的债权系合法、有效的债权。</span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      9、转让人违约，由此引起的受让人支出的一切费用均由转让人承担（包括但不限于诉讼费、仲裁费、律师费、交通费、差旅费、调查费及其他实现债权所产生的费用）。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">
                      10、转让人通过“汇诚普惠”网站提出“风险拨备金”垫付的申请，视为接受本协议的条款，视为已认真阅读和理解本协议所有内容并自愿按本协议相关约定履行各自的权利义务。在转让人提出申请时，协议生效，如有需要另行签订书面协议。
                    </span>
                    <br>
                    <span class="bkkifont f15 line_35">11、债权转让的具体费用标准详见“资费说明”。各项费用的调整，以公告的“资费说明”为准，并对调整后发生的借款发生效力。</span>
                    <br>

                    <p>&nbsp;</p>
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </tbody>
          </table>

          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="100%" align="left">
                  <div align="right">
                    <span class="bkkifont f15 line_35" style="text-align:right">福建汇诚普惠科技发展有限公司</span>
                    <br>
                    <span class="bkkifont f15 line_35" style="text-align:right">二0一四年十一月二十六日</span>
                    <br>
                    <p>&nbsp;</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<?php $this->display('footer.html');?>
