<?php $this->display('header.html');?>
<?php $this->display('safe/common/menu.html');?>
<div id="ad0526">
	<div class="area">
		<p ><a href="http://www.hcjrfw.com/news/show/id/4832" style="color:red;font-size:30px;">关于使用部分风险拨备金购买理财产品的说明公告</a></p>
	</div>
	<div class="area" id="ad0526header">
		<h3>风险拨备金</h3>
		<p>当借款项目发生还款逾期时，汇诚普惠将使用风险拨备金回购逾期借款项目的债权，</p>
	</div>
	<div class="area">
		<img src="<?=RSRC?>/images/hazard/hazard_01.png" alt="进入中信银行网站" />
	</div>
	<div class="area gray">
		<img src="<?=RSRC?>/images/hazard/hazard_02.png" alt="进入查询页面" />
	</div>
	<div class="area">
		<img src="<?=RSRC?>/images/hazard/hazard_03.png" alt="查询风险拨备金" />
	</div>
	<div class="area gray">
    	<img src="<?=RSRC?>/images/hazard/hazard_04.png" alt="关于购买活期理财产品公示" style="margin-left:35px;">
 	</div>
	<div class="area">
		<a id="ad0526link" href="https://enterprise.bank.ecitic.com/corporbank/userLogin.do" target="_blank">进入中信银行官网</a>
	</div>
</div>
<?php $this->display('footer.html');?>