<?php 
    $asset = Yaf\Registry::get('asset');
    $webAsset = $asset->url;
?>
<?php $this->display('header.html');?>
<?php $this->display('safe/common/menu.html');?>
<div class="zijinbz clearfix">
	<div class="icoleft fl"><span></span><p>资金保障</p></div>
	<div class="wordright fr">
		<ul>
			<li>汇诚普惠注册资金达5000万，雄厚的实力可以最大限度的保护投资用户的资金安全。</li>
			<li>汇诚普惠携手江西银行推出银行资金存管系统，拒绝“资金池”实现平台与资金真正隔离，规避暗箱操作真正实现公开透明，最大限度的保护用户的投资权益</li>
		</ul>
	</div>
</div>
<!-- 资金保障 -->

<div class="falubz">
	<div class="center clearfix">
		<div class="wordleft fl">
			<ul>
				<li>汇诚普惠与德恒律师事务所合作，由该律师事务所提供全程的、多方面的法律意见以保障融资方式、平台和项目的合法性。</li>
				<li>一切合同和规章制度将由我们的法律顾问和专业的金融机构一同起草保证投资人 在平台上的所有操作都合法有效的投资人通过汇诚普惠获得的收益为合法收益并受到法律保护。</li>
				<li>法律顾问将确保投资人在突发极端情况下能够及时行动维护自己的合法权当项目 或者投资人利益受损时均能快速找到我们的法律顾问并得到法律援助。</li>
			</ul>
		</div>
	    <div class="icoright fr"><span></span><p>法律保障</p></div>
	</div>
</div>
<!-- 法律保障 -->

<div class="zijinbz clearfix">
	<div class="icoleft icoleft2 fl"><span></span><p>项目保障</p></div>
	<div class="wordright fr">
		<ul>
			<li>实地调查：汇诚普惠拥有专业的风控团队，对平台每一个项目都进行实地的尽职调查及风险评估，确保融资项目必须具备足值的抵押物及拥有较强偿的偿债能力。</li>
			<li>数据采集：通过调取人民银行征集系统数据、公安部居民身份系统数据、工商系统数据、车管所系统数据、房管所系统数据等来建立起一套完善严格的风控措施，以确保项目及融资需求真实、合法，为投资者的资金安全保驾护航。</li>
		</ul>
	</div>
</div>
<!-- 项目保障 -->

<div class="falubz sitezc">
	<div class="center clearfix">
		<div class="wordleft fl">
			<ul>
				<li>汇诚普惠技术团队人员在网络数据安全、网站建设、资金托管于支付业务等核心技术方面有丰富的实践经验驱动包投资人和借款人在平台中的交易信息安全可靠。</li>
				<li>汇诚普惠运用先进的安全技术保护用户的个人信息，提供全面强大的隐私保障，并且运用最完善的网络安全监测系统有效防止黑客和病毒攻击，避免用户信息泄露。</li>
				<li>平台在运行过程中由专人全天24小时严密监控，遵循严格的安全保障流程通过先进的信息加密技术全方位异地多重数据备份技术、先进的存储机制强大的网络安全软硬件设备确保网站数据的安全。</li>
			</ul>
		</div>
	    <div class="icoright icoright2 fr"><span></span><p>网站技术保障</p></div>
	</div>
</div>
<?php $this->display('footer.html');?>