<?php 
    $asset = Yaf\Registry::get('asset');
    $webAsset = $asset->url;
?>
<?php $this->display('header.html');?>
<div class="middle">
  <?php $this->display('safe/common/menu.html');?>
  <!--<div class="main pt50 clearfix pb50">
    <div class="fl"><img src="<?php echo $webAsset;?>/images/dacheng.jpg"/></div>
    <div class="fl ml50 mt20">
      <h3 class="law-title">北京大成律师事务所</h3>
      <p class="grey-color-6 mt15 mb10">中国成立最早、规模最大的综合性律师事务所</p>
      <div class="mark-wrap"><span>专业团队</span><span>全球网络</span><span>综合性</span></div>
    </div>
    <div class="cl pt20">
      <h4 class="law-title mb10" style="font-size:18px">简要介绍</h4>
      <p class="lh180 grey-color-6">&nbsp;&nbsp;&nbsp;&nbsp;北京大成律师事务所（简称大成律师事务所）成立于1992年，是中国成立最早、规模最大的综合性律师事务所。 2009至2013年，
        大成律师事务所在亚太地区评价律师事务所的权威杂志《亚洲法律事务》（ALB） “中国律师事务所规模20强”和“亚洲律师事务
        所规模50强”评比中，连续五年排名第一。</p>
    </div>
  </div>-->
  <div style="background-color:#fafafa">
    <div class="main pt50 pb50">
      <h2 class="title-blue tc"><span>合同协议</span></h2>
      <p class="grey-color-6 lh180 mb30">&nbsp;&nbsp;&nbsp;&nbsp;合同是当事人或当事双方之间设立、变更、终止民事关系的协议。依法成立的合同，受法律保护。广义合同指所有法律部门中确定权利、义务关系的协议。狭义合同指一切民事合同。还有最狭义合同仅指民事合同中的债权合同。《中华人民共和国民法通则》第85条：合同是当事人之间设立、变更、终止民事关系的协议。依法成立的合同，受法律保护。《中华人民共和国合同法》第2条：合同是平等主体的自然人、法人、其他组织之间设立、变更、终止民事权利义务关系的协议。婚姻、收养、监护等有关身份关系的协议，适用其他法律的规定。</p>
      <div class="bookslide">
        <div class="slide1 clearfix">
          <div  class="law-list" id="law-list" >
            <ul>
              <li>
                <a class="bookbg" href="/safe/contractOne" target="_blank">
                  <h5>借款合同<br /> <em>（汇诚普惠四方）</em></h5> <span>2015-01-09修订<br /> hcjrfw.com</span></a> 
              </li>

              <li>
                <a class="bookbg" href="/safe/contractFour" target="_blank">
                  <h5>债权转让协议<br/> <em>（受让人第三人）</em></h5><span>2015-01-09修订<br /> hcjrfw.com</span>
                </a>
              </li>
              <li>
                <a class="bookbg" href="/safe/contractFive" target="_blank">
                  <h5>居间服务<br/>电子协议</h5><span>2015-01-09日修订<br /> hcjrfw.com</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main pt50 pb50">
    <h2 class="title-blue tc"><span>法律条款</span></h2>
    <p class="lh180 grey-color-6"> 依据《合同法》、《电子签名法》、《关于人民法院审理借贷案件的若干意见》，汇诚普惠提供居间撮合服务明确合法，汇诚普惠提供的电子合同合法并具合同效力，投资人通过汇诚普惠获得的出借理财收益为合法收益并受到法律保护。详情如下： <br />
      <br />
      关于投资人及借款人双方民间借贷的合法性：明确合法 <br />
      <br />
      根据《合同法》第196条规定"借款合同是借款人向贷款人借款，到期返还借款并支付利息的合同"，《合同法》允许普通民事主体之间发生借贷关系，并允许出借方到期可以收回本金和符合法律规定的利息。 <br />
      <br />
      关于汇诚普惠提供居间撮合服务的合法性：明确合法 <br />
      <br />
      根据《合同法》第23章关于"居间合同"的规定，特别是第424条规定的"居间合同是居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务，委托人支付报酬的合同"，汇诚普惠为民间借贷提供撮合借贷双方形成借贷关系的居间服务有着明确的法律基础。 <br />
      <br />
      关于电子合同的合法性及可执行性：现行法律明确确定了合同效力 <br />
      <br />
      根据《电子签名法》的规定，民事活动中的合同或者其他文件、单证等文书，当事人可以约定使用电子签名、数据电文，不能因为合同采用电子签名、数据电文就否定其法律效力。同时，《电子签名法》中还规定，可靠的电子签名与手写签名或者盖章具有同等的法律效力，明确肯定了符合条件的电子签名与手写签名或盖章具有同等的效力。 <br />
      <br />
      关于投资人在汇诚普惠获得的出借理财收益的合法性:明确为合法收益,受到法律保护 <br />
      <br />
      根据最高人民法院《关于人民法院审理借贷案件的若干意见》第6条："民间借贷的利率可以适当高于银行的利率，各地人民法院可以根据本地区的实际情况具体掌握，但最高不得超过银行同类贷款利率的四倍。超出此限度的，超出部分的利息不予保护。"当期人民银行一年期基准贷款利率为6.00%，则当期基准贷款利率的四倍为24.00%，汇诚普惠的出借理财收益低于24.00%，为合法利息收益，受到法律保护。 </p>
  </div>
</div>
<?php $this->display('footer.html');?>
