<?php 
    $asset = Yaf\Registry::get('asset');
    $webAsset = $asset->url;
?>
<?php $this->display('header.html');?>
<?php $this->display('safe/common/menu.html');?>
<div class="zhifubox">
	<ul class="zhifunav clearfix">
		<li class="ico1"><a href="/safe/payOne" class="cur"><em></em>江西银行介绍</a></li>
		<li class="ico2"><a href="/safe/payTwo"><em></em>托管流程</a></li>
		<li class="ico3"><a href="/safe/payThree"><em></em>资金安全</a></li>
	</ul>
	<div class="cont3">
        <dl class="bordertn">
        <dt>江西银行简介</dt>
        <dd><p>江西银行是2015年12月3日经中国银行业监督管理委员会批复成立。江西银行注册资本46.78亿元，资产总额突破2000亿元，各项存款余额1360亿元，各项贷款余额860亿元，设有211个营业网点。
        江西银行在实力背景与监管指标方面完全合规，这是江西银行存管最坚定的基石。</p></dd>
        </dl>
        <dl>
        <dt>风控保障，安全可靠</dt>
        <dd><p>江西银行从2015年8月份开始推广P2P资金存管业务，上线平台数量在银行中排名领先，目前与100余家网贷平台达成合作意向，已上线资金存管系统的平台近50家，所有平台经营效益均保持良好。江西银行相关负责团队包括技术团队、售后服务团队，在平台合规性把控方面一直处于行业优秀水平。
        江西银行与汇诚普惠合作，是对汇诚普惠专业实力和运营能力的肯定，双方的合作是建立在共赢的基础之上。</p></dd>
        </dl>
        <dl>
        <dt>业务模式合规，符合监管</dt>
            <dd><p>江西银行采用“独立账户模式”，由专业团队负责技术对接，为汇诚普惠设置专门的账户体系，在汇诚普惠独立的汇总账户下为投资人、融资人及平台开立相关独立子账户，每个账户间实行分账管理、有效隔离，符合《网络借贷资金存管业务指引》中对存管账户体系的监管要求。
                安全合规、资金透明，汇诚普惠与江西银行合作，是汇诚普惠在自身合规化、合法化的发展之路上极具里程碑意义的一步。</p></dd>
        </dl>
        <dl>
        <dt> 便捷高效，体验更佳</dt>
        <dd><p>随着监管意见的明确，银行资金存管已成为网贷行业准入的门槛条件，江西银行专有的“技术团队+专业运营团队+专业售后客服于一体”的服务体系，实行各个总、分账户间的分账管理，实现有效隔离，在符合相关监管要求的同时，为网贷平台提供T+0充值提现秒到、余额理财、个性化功能定制等优质体验。
        汇诚普惠始终注重用户体验，江西银行便捷高效的充值、转账、提现等功能将为汇诚普惠的投资人带来更优质的投资体验，这是汇诚普惠打造互联网金融平台知名品牌的有力保障！</p></dd>
        </dl>
	</div>
</div>
<?php $this->display('footer.html');?>