<?php $this->display('header.html');?>
<?php $this->display('safe/common/menu.html');?>
<div class="main mt30">
	<div class="main-content">
		<div class="risk-content">
			<h1>风险提示书</h1>
			<p class="content-head">致尊敬的汇诚普惠用户:</p>
			<p>鉴于网络借贷交易过程中,可能面临的多种风险因素,汇诚普惠特此温馨提示，望您在进行网络借贷交易前，请仔细阅读以下重要内容：</p>
			<p><strong>1.政策风险：</strong>因网络借贷是基于当前的国家宏观政策及相关法律法规所设计。如国家宏观政策（如财政政策、货币政策、行业政策、地区发展政策）以及市场相关法律法规发生变化，可能会导致网络借贷面临损失。</p>
			<p><strong>2.流动性风险：</strong>在借贷关系存续期间，投资者无正当理由及合法依据不得提出终止。</p>
			<p><strong>3.信用风险：</strong>当借款方短期或者长期丧失还款能力（包括但不限于借款方收入情况、财产状况发生变化，人身出现意外，发生疾病、死亡等情况），或者借款方的还款意愿发生变化时，投资者本金和预期收益将有可能遭受损失。</p>
			<p><strong>4.流标风险：</strong>如自借款信息发布并开始接受投标时起至约定的投标截止日止，借款项目仍未满标，根据相关法律法规以及政策，该借款标存在流标的风险。</p>
			<p><strong>5.不可抗力风险：</strong>因战争、自然灾害、重大政治事件等不可抗力，以及其他不可预见的意外事件，或其他可能导致网络借贷面临损失的任何风险。</p>
			<p>用户在做出投资决定、签署各项协议之前应认真阅读本风险提示书，并认真阅读网站内各项协议以及公布的各项规则的全部内容；同时，投资者需要了解相关投资项目的基本情况和投资风险与收益状况。如有任何疑问，用户应向汇诚普惠进行咨询。</p>
			<p class="content-foot">用户全面阅读《风险提示书》，并仅在确认其具有识别及承担相关风险能力、确认已从汇诚普惠获得令其满意的咨询结果、确认拟进行的交易安全符合其本身从事该交易的目的以及接受该交易可能会出现风险之后，才进行汇诚普惠平台上的网络借贷交易。</p>

		</div>
	</div>
</div>
<?php $this->display('footer.html');?>