<?php use custody\Type;?>
<?php $this->display('header.html');?>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">用户债权明细</h3>
                <div class="box-tools pull-right">
                    <?php $excelUrl = $queries->getUrl(['excel'=>1]);?>
                    <a class="btn btn-box-tool" data-toggle="tooltip" data-original-title="Excel下载" href="<?=$excelUrl;?>">
                    <i class="fa fa-file-excel-o text-red"></i></a>
                </div>
            </div>
            <div class="box-body pb-0">
                <div class="row">
                    <div class="col-sm-12">
                        <form action="" class="table-search-form clearfix">
                            <div class="form-group">
                                <label class="control-label">查询</label>
                                <?php $searchType = $queries->searchType;?>
                                <div class="select-wrap">
                                    <select class="form-control input-sm" name="searchType">
                                        <option value="username" <?php if($searchType=='username'):?>selected<?php endif;?>>帐号</option>
                                        <option value="userId" <?php if($searchType=='userId'):?>selected<?php endif;?>>用户ID</option>
                                        <option value="phone" <?php if($searchType=='phone'):?>selected<?php endif;?>>手机</option>
                                        <option value="name" <?php if($searchType=='name'):?>selected<?php endif;?>>姓名</option>
                                        <option value="email" <?php if($searchType=='email'):?>selected<?php endif;?>>邮箱</option>
                                        <option value="cardnum" <?php if($searchType=='cardnum'):?>selected<?php endif;?>>身份证</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control input-sm inline-input" name="searchContent" placeholder="查询内容" value="<?=$queries->searchContent?>">
                            </div>
                            <div class="form-group">
                                <label class="control-label">标的号</label>
                                <div class="input-wrap">
                                    <input type="text" class="form-control input-sm" name="oddNumber" placeholder="标的号" value="<?=$queries->oddNumber?>"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">状态</label>
                                <div class="select-wrap">
                                    <select class="form-control input-sm" name="state">
                                        <option value="0">所有债权</option>
                                        <option value="1">有效债权</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label time-label">交易时间</label>
                                <div class="input-group time-group">
                                    <input type="text" class="form-control input-sm timepicker" data-allow-input="true" name="beginTime" value="<?=$queries->beginTime?>">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-sm">至</button>
                                    </div>
                                    <input type="text" class="form-control input-sm timepicker" data-allow-input="true" name="endTime" value="<?=$queries->endTime?>">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-sm btn-info">搜索</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-hover mb-0">
                            <tr>
                                <th>标的号</th>
                                <th class="visible-lg">投标日期</th>
                                <th class="visible-lg">订单号</th>
                                <th class="visible-lg">交易金额</th>
                                <th class="visible-lg">预期年化率</th>
                                <th class="visible-lg">预期收益</th>
                                <th class="visible-lg">预期本息收益</th>
                                <th class="visible-lg">实际收益</th>
                                <th class="visible-lg">到期日</th>
                                <th class="visible-lg">状态</th>
                            </tr>
                            <?php foreach ($list as $item):?>
                            <tr>
                                <td><?=$item['productId']?></td>
                                <td class="visible-lg"><?=$item['buyDate']?></td>
                                <td class="visible-lg"><?=$item['orderId']?></td>
                                <td class="visible-lg"><?=$item['txAmount']?>元</td>
                                <td class="visible-lg"><?=$item['yield']?>%</td>
                                <td class="visible-lg"><?=$item['forIncome']?>元</td>
                                <td class="visible-lg"><?=$item['intTotal']?>元</td>
                                <td class="visible-lg"><?=$item['income']?>元</td>
                                <td class="visible-lg"><?=$item['endDate']?></td>
                                <td class="visible-lg"><?=Type::getName('creditState', $item['state'])?></td>
                            </tr>
                            <?php endforeach;?></table>
                    </div>
                </div>
            </div>
            <div class="box-footer clearfix">
                <?php if($status==1):?>
                <?=$list->render()?>
                <?php else:?>
                <div class="text-danger" style="text-align: center;"><?=$msg?></div>
                <?php endif;?>
            </div>
        </div>
    </div>
</div>
<?php $this->display('footer.html');?>