.header-box{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1001;
	background-color: #fff;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
	.title{
		padding: 10px;
		.logo{
			 img{
			 	height:40px;
			 }
		}
		.menu{
			text-align: right;
			line-height: 40px;
			button{
				font-size: 12px;
				margin-left: 10px;
			}
		}
	}
}