</div>
<div id="message-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="message-label" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h5 class="modal-title">消息</h5>
      </div>
      <div class="modal-body">
        修改成功！
      </div>
    </div>
  </div>
</div>
<div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h5 class="modal-title">提示</h5>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div id="loading-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loading-label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body" style="text-align: center;">
        <img src="<?=WEB_ASSET?>/common/images/loading.jpg">
      </div>
    </div>
  </div>
</div>
<?php tools\Layer::flash();?>
<?php $asset = Yaf\Registry::get('asset');?>
<?php $asset->end();?>
</body>
</html>