<?php $this->display('header.html');?>
<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools pull-right">
          <a class="btn btn-box-tool" data-toggle="tooltip" data-original-title="返回列表" href="/admin/promotion/list">
          <i class="fa fa-list"></i></a>
        </div>
      </div>
      <form method=post name=listForm class="form-horizontal" action="/admin/promotion/add" >
      <div class="box-body">
        <div class="form-group">
          <label class="col-sm-1 control-label">渠道名称</label>
          <div class="col-sm-11">
          <input type="text" class="form-control" name="channel_name" value="" placeholder="输入渠道名称">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">渠道代码</label>
          <div class="col-sm-11">
          <input type="text" class="form-control" name="channel_code" value="" placeholder="输入渠道代码">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-1">&nbsp;</div>
          <div class="col-sm-11">
            <button type="submit" class="btn btn-primary">提交</button>
          </div>
        </div>
      </div>
      </form>
<?php $this->display('footer.html');?>