<?php $this->display('header.html');?>
<?php 
  $disabled = (!$odd->oddNumber||$odd->progress=='prep'||($odd->oddNumber&&$continue))?'':'disabled';
?>
<div class="row">
  <div class="col-xs-12">
    <div id="odd-box" class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">
          标的编辑 <?php if($odd->oddNumber&&$continue):?><span class="text-danger">[正在续借]</span><?php endif;?>
        </h3>
        <div class="box-tools pull-right">
          <a class="btn btn-box-tool" data-toggle="tooltip" data-original-title="返回列表" href="/admin/loan/oddlist">
          <i class="fa fa-list"></i></a>
        </div>
      </div>
      <form action="/admin/loan/save" id="form-odd" class="form-horizontal" method="post" enctype="multipart/form-data">
      <div class="box-body">
        <div class="form-group hidden-vars hide">
          <input type="hidden" name="oddNumber" value="<?=$odd->oddNumber&&$continue?'':$odd->oddNumber?>">
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 借款人</label>
          <div class="col-sm-3 form-value">
          <input type="text" class="form-control check-user" name="username" value="<?=$odd->user?$odd->user->username:''?>"  <?=$disabled?> placeholder="借款人用户名" autofocus>
          </div>
        </div>

        <div class="form-group user-info">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 籍贯</label>
          <div class="col-sm-3 form-value">
            <input type="text" class="form-control" name="city" value="<?=$userinfo?$userinfo->city:''?>"  <?=$disabled?> placeholder="籍贯">
          </div>
        </div>
        <div class="form-group user-info">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 性别</label>
          <div class="col-sm-3 form-value">
          <input type="radio" value="man" name="sex" <?=$disabled?> <?php if($userinfo->sex == 'man') echo 'checked';?>>&nbsp;男&nbsp;&nbsp;
          <input type="radio" value="women" name="sex" <?=$disabled?> <?php if($userinfo->sex == 'women') echo 'checked';?>>&nbsp;女
          </div>
        </div>
        <div class="form-group user-info">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 婚姻状况</label>
          <div class="col-sm-3 form-value">
          <input type="radio" value="y" name="maritalstatus" <?=$disabled?> <?php if($userinfo->maritalstatus == 'y') echo 'checked';?>>&nbsp;已婚&nbsp;&nbsp;
          <input type="radio" value="n" name="maritalstatus" <?=$disabled?> <?php if($userinfo->maritalstatus == 'n') echo 'checked';?>>&nbsp;未婚
          </div>
        </div>
        <div class="form-group company-info">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 公司名称</label>
          <div class="col-sm-3 form-value">
          <input type="text" class="form-control" name="hidename" value="<?=$userinfo?$userinfo->hidename:''?>"  <?=$disabled?> placeholder="公司名称">
          </div>
        </div>
        <div class="form-group company-info">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 企业类型</label>
          <div class="col-sm-3 form-value">
          <input type="text" class="form-control" name="companyType" value="<?=$userinfo?$userinfo->companyType:''?>"  <?=$disabled?> placeholder="企业类型">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 所属行业</label>
          <div class="col-sm-3 form-value">
          <input type="text" class="form-control" name="credit" value="<?=$userinfo?$userinfo->credit:''?>"  <?=$disabled?> placeholder="所属行业">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 委托人</label>
          <div class="col-sm-3 form-value">
            <input type="text" class="form-control check-user" name="recUsername" value="<?=$receiptUser?$receiptUser->username:''?>"  <?=$disabled?> placeholder="委托人用户名">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 借款标题</label>
          <div class="col-sm-5 form-value">
          <input type="text" class="form-control" name="oddTitle" value="<?=$odd->oddTitle?>" placeholder="输入标题" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 风险等级</label>
          <div class="col-sm-5 form-value">
          <select id="riskLevel" name="riskLevel" class="form-control" >
            <!-- <option value="">请选择...</option> -->
            <option value="1" <?php if($odd->riskLevel == "1")echo 'selected';?> >低风险</option>
            <option value="2" <?php if($odd->riskLevel == "2")echo 'selected';?>>中低风险</option>
            <option value="3" <?php if($odd->riskLevel == "3")echo 'selected';?>>中等风险</option>
            <option value="4" <?php if($odd->riskLevel == "4")echo 'selected';?>>中高风险</option>
            <option value="5" <?php if($odd->riskLevel == "5")echo 'selected';?>>高风险</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 投标类型</label>
          <div class="col-sm-3 form-value">
          <input type="radio" value="0" name="investType" <?php if($odd->investType == 0) echo 'checked';?> <?=$disabled?>>&nbsp;自动投标&nbsp;&nbsp;
          <input type="radio" value="1" name="investType" <?php if($odd->investType == 1) echo 'checked';?> <?=$disabled?>>&nbsp;手动投标
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 标的类型</label>
          <div class="col-sm-3 form-value">
            <input type="radio" value="normal" name="oddStyle" <?php if($odd->oddStyle != 'newhand')echo 'checked';?> <?=$disabled?>>&nbsp;普通标&nbsp;&nbsp;
            <input type="radio" value="newhand" class="newhand" name="oddStyle" <?php if($odd->oddStyle == "newhand")echo 'checked';?> <?=$disabled?>>&nbsp;新手标
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 是否显示</label>
          <div class="col-sm-3 form-value">
            <input type="radio" value="0" name="lookstatus" <?php if($odd->lookstatus == 0) echo 'checked';?>>&nbsp;隐藏&nbsp;&nbsp;
            <input type="radio" value="1" name="lookstatus" <?php if($odd->lookstatus == 1) echo 'checked';?>>&nbsp;显示
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 借款类型</label>
          <div class="col-sm-3">
            <select id="oddType-select" name="oddType" class="form-control" >
            <option value="">请选择...</option>
            <option value="house-mor" <?php if($odd->oddType == "house-mor")echo 'selected';?> >房优贷</option>
            <option value="auto-ins" <?php if($odd->oddType == "auto-ins")echo 'selected';?>>车险优贷</option>
            </select>
          </div>
        </div>


        <div class="form-group house-mor-info">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 是否第三人</label>
          <div class="col-sm-3 form-value">
          <input type="radio" value="1" name="third" <?php if($info->third == 1)echo 'checked';?>>&nbsp;是&nbsp;&nbsp;
          <input type="radio" value="0" name="third" <?php if($info->third == 0)echo 'checked';?>>&nbsp;否
          </div>
        </div>
        <div class="form-group house-mor-info">
          <label class="col-sm-1 control-label"> 第三人姓名</label>
          <div class="col-sm-3 form-value">
            <input type="text" class="form-control" name="thirdname" value="<?=$info->thirdname?>"  placeholder="第三人姓名">
          </div>
        </div>
        <div class="form-group house-mor-info">
          <label class="col-sm-1 control-label"> 第三人身份证</label>
          <div class="col-sm-3 form-value">
            <input type="text" class="form-control" name="thirdcard" value="<?=$info->thirdcard?>"  placeholder="第三人身份证">
          </div>
        </div>
        <div class="form-group house-mor-info">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 抵押权人</label>
          <div class="col-sm-3">
            <select name="needcardnum" class="form-control" >
            <option value="">请选择...</option>
            <option value="350111198403083914" <?php if($info->needcardnum == "350111198403083914")echo 'selected';?> >高辉</option>
            <option value="350121196905093518" <?php if($info->needcardnum == "350121196905093518")echo 'selected';?> >林鼎</option>
            <option value="350105197812231517" <?php if($info->needcardnum == "350105197812231517")echo 'selected';?>>李雍</option>
            </select>
          </div>
        </div>
        <div class="form-group house-mor-info">
          <label class="col-sm-1 control-label"> <i class="fa fa-space-shuttle text-red"></i>房产地址</label>
          <div class="col-sm-3 form-value">
            <input type="text" class="form-control" name="houseaddr" value="<?=$info->houseaddr?>"  placeholder="房产地址">
          </div>
        </div>
        <div class="form-group house-mor-info">
          <label class="col-sm-1 control-label"> <i class="fa fa-space-shuttle text-red"></i>不动产权证号</label>
          <div class="col-sm-3 form-value">
            <input type="text" class="form-control" name="housecard" value="<?=$info->housecard?>"  placeholder="不动产权证书号">
          </div>
        </div>
        <div class="form-group house-mor-info">
          <label class="col-sm-1 control-label"> <i class="fa fa-space-shuttle text-red"></i>房产面积</label>
          <div class="col-sm-3 form-value">
            <input type="text" class="form-control" name="housespace" value="<?=$info->housespace?>"  placeholder="房产面积">
          </div>
        </div>



        <div id="carCont">
<?php if(!$info->cardNum){ ?>
          <div class="oneInfo">
            <div class="form-group auto-ins-info">
              <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 车牌号码</label>
              <div class="col-sm-3">
                  <input type="text" class="form-control" name="cardNum[1]" value="<?=$info->cardNum?>" placeholder="车牌号码" >
              </div>
            </div>
            <div class="form-group auto-ins-info">
              <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 汽车品牌型号</label>
              <div class="col-sm-3">
                  <input type="text" class="form-control" name="cardType[1]" value="<?=$info->cardType?>" placeholder="汽车品牌型号" >
              </div>
            </div>
            <div class="form-group auto-ins-info">
              <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 车辆识别码</label>
              <div class="col-sm-3">
                  <input type="text" class="form-control" name="cardIDCode[1]" value="<?=$info->cardIDCode?>" placeholder="车辆识别码" >
              </div>
            </div>
            <div class="form-group auto-ins-info">
              <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 发动机号</label>
              <div class="col-sm-3">
                  <input type="text" class="form-control" name="cardEngine[1]" value="<?=$info->cardEngine?>" placeholder="发动机号" >
              </div>
            </div>
            <div class="form-group auto-ins-info">
              <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 投保金额</label>
              <div class="col-sm-3">
                <div class="input-group">
                  <input type="text" class="form-control" name="insuranceMoney[1]" value="<?=$info->insuranceMoney?>" placeholder="投保金额" >
                  <span class="input-group-addon">元</span>
                </div>
              </div>
            </div>
            <div class="form-group auto-ins-info">
              <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 投保险种</label>
              <div class="col-sm-3">
                  <input type="text" class="form-control" name="insuranceType[1]" value="<?=$info->insuranceType?>" placeholder="投保险种" >
              </div>
            </div>

            </div>
          </div>
<?php }else{ 
  foreach($info->cardNum as $k => $v) {
?> 
          <div class="oneInfo">
            <div class="form-group auto-ins-info">
              <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 车牌号码</label>
              <div class="col-sm-3">
                  <input type="text" class="form-control" name="cardNum[<?=$k?>]" value="<?=$info->cardNum[$k]?>" placeholder="车牌号码" >
              </div>
            </div>
            <div class="form-group auto-ins-info">
              <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 汽车品牌型号</label>
              <div class="col-sm-3">
                  <input type="text" class="form-control" name="cardType[<?=$k?>]" value="<?=$info->cardType[$k]?>" placeholder="汽车品牌型号" >
              </div>
            </div>
            <div class="form-group auto-ins-info">
              <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 车辆识别码</label>
              <div class="col-sm-3">
                  <input type="text" class="form-control" name="cardIDCode[<?=$k?>]" value="<?=$info->cardIDCode[$k]?>" placeholder="车辆识别码" >
              </div>
            </div>
            <div class="form-group auto-ins-info">
              <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 发动机号</label>
              <div class="col-sm-3">
                  <input type="text" class="form-control" name="cardEngine[<?=$k?>]" value="<?=$info->cardEngine[$k]?>" placeholder="发动机号" >
              </div>
            </div>
            <div class="form-group auto-ins-info">
              <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 投保金额</label>
              <div class="col-sm-3">
                <div class="input-group">
                  <input type="text" class="form-control" name="insuranceMoney[<?=$k?>]" value="<?=$info->insuranceMoney[$k]?>" placeholder="投保金额" >
                  <span class="input-group-addon">元</span>
                </div>
              </div>
            </div>
            <div class="form-group auto-ins-info">
              <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 投保险种</label>
              <div class="col-sm-3">
                  <input type="text" class="form-control" name="insuranceType[<?=$k?>]" value="<?=$info->insuranceType[$k]?>" placeholder="投保险种" >
              </div>
            </div>
            </div>
<?php }}?>

        <div class="form-group auto-ins-info">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 增加车辆</label>
          <div class="col-sm-3">
            <div class="input-group">
              <input type="button" class="btn btn-primary" value="增加一辆" id="addFrom">
            </div>
          </div>
        </div>

        <div class="form-group auto-ins-info">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 投保公司</label>
          <div class="col-sm-3">
              <input type="text" class="form-control" name="insuranceCompany" value="<?=$info->insuranceCompany?>" placeholder="投保公司" >
          </div>
        </div>  
        <div class="form-group auto-ins-info">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 投保总额</label>
          <div class="col-sm-3">
              <input type="text" class="form-control" name="totalInsurance" value="<?=$info->totalInsurance?>" placeholder="投保公司" >
          </div>
        </div>  
            
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 发标时间</label>
          <div class="col-sm-3">
          <input type="text" class="form-control timepicker" name="openTime" value="<?=$odd->openTime=='0000-00-00 00:00:00'?'':$odd->openTime;?>" data-enable-time=true placeholder="发标时间" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 借款金额</label>
          <div class="col-sm-3">
            <div class="input-group">
              <input type="text" class="form-control" <?=$disabled?> name="oddMoney" value="<?=$odd->oddMoney?>" placeholder="借款金额" >
              <span class="input-group-addon">元</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 借款服务费</label>
          <div class="col-sm-3">
            <div class="input-group">
              <input type="text" class="form-control" <?=$disabled?> name="serviceFee" value="<?=$odd->serviceFee?>" placeholder="借款服务费" >
              <span class="input-group-addon">元</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 时间单位</label>
          <div class="col-sm-3">
          <select name="oddBorrowStyle" class="form-control" <?=$disabled?> id="oddBorrowStyle">
            <option value="month">月标</option>
            <option value="day">天标</option>
            <option value="sec">秒标</option>
          </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 借款期限</label>
          <div class="col-sm-3">
          <select class='form-control' <?=$disabled?> name="oddBorrowPeriod">
              <option value="1" <?php if($odd->oddBorrowPeriod == "1")echo 'selected';?>>1 月</option>
              <option value="2" <?php if($odd->oddBorrowPeriod == "2")echo 'selected';?>>2 月</option>
              <option value="3" <?php if($odd->oddBorrowPeriod == "3")echo 'selected';?>>3 月</option>
              <option value="6" <?php if($odd->oddBorrowPeriod == "6")echo 'selected';?>>6 月</option>
              <option value="11" <?php if($odd->oddBorrowPeriod == "11")echo 'selected';?>>11 月</option>
              <option value="12" <?php if($odd->oddBorrowPeriod == "12")echo 'selected';?>>12 月</option>
              <option value="24" <?php if($odd->oddBorrowPeriod == "24")echo 'selected';?>>24 月</option>
          </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 还款方式</label>
          <div class="col-sm-3">
            <select class='form-control' <?=$disabled?> name="oddRepaymentStyle" id="info-oddRepaymentStyle">
              <option value="monthpay" <?php if($odd->oddRepaymentStyle == "monthpay")echo 'selected';?>>先息后本</option>
              <option value="matchpay" <?php if($odd->oddRepaymentStyle == "matchpay")echo 'selected';?>>等额本息</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label"><i class="fa fa-space-shuttle text-red"></i> 年利率</label>
          <div class="col-sm-3">
            <div class="input-group">
              <input type="text" class="form-control" name="oddYearRate" value="<?=$odd->oddYearRate*100?>" placeholder="奖励利率">
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">奖励利率</label>
          <div class="col-sm-3">
            <div class="input-group">
              <input type="text" class="form-control" name="oddReward" value="<?=$odd->oddReward*100?>" placeholder="奖励利率">
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">最低投标金额</label>
          <div class="col-sm-3">
            <div class="input-group">
               <input type="text" class="form-control" <?=$disabled?> name="startMoney" value="<?=$odd->startMoney?>">
              <span class="input-group-addon">元</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">最高投标金额</label>
          <div class="col-sm-3">
            <div class="input-group">
               <input type="text" class="form-control" name="endMoney" value="<?=$odd->endMoney?>" placeholder="最高投标金额" disabled>
              <span class="input-group-addon">元</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">筹款期限</label>
          <div class="col-sm-3 form-value">
            <div class="input-group">
              <input type="text" class="form-control" name="oddBorrowValidTime" <?=$disabled?> value="<?=$odd->oddBorrowValidTime?$odd->oddBorrowValidTime:'7';?>" placeholder="输入筹款期限" >
              <span class="input-group-addon">天</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">还款来源</label>
          <div class="col-sm-5">
          <input type="text" class="form-control" name="repaySource" value="<?=$info->repaySource?>" placeholder="还款来源" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">逾期处理</label>
          <div class="col-sm-5">
          <input type="text" class="form-control" name="overdueTreat" value="<?=$info->overdueTreat?>" placeholder="逾期处理" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">借款原因</label>
          <div class="col-sm-11">
          <textarea id="editor-container2" class="editor-container" name="oddLoanRemark" style="width:100%;height:300px;display:none;">
            <?php if($info->oddLoanRemark):?>
            <?=htmlspecialchars_decode($info->oddLoanRemark)?>
            <?php endif;?>
          </textarea>
          </div>
        </div>
       <!--  <div class="form-group">
          <label class="col-sm-1 control-label">借款人信息</label>
          <div class="col-sm-11">
          <textarea id="editor-container2" class="editor-container" name="borrowerInfo" style="width:100%;height:300px;display:none;">
            <?php if($info->borrowerInfo):?>
            <?=htmlspecialchars_decode($info->borrowerInfo)?>
            <?php endif;?>
          </textarea>
          </div>
        </div> -->
        <?php $this->display('blocks/uploadImages.html', ['param'=>'idPhotos', 'name'=>'身份产权证件', 'images'=>$info->idPhotos]);?>
        <?php $this->display('blocks/uploadImages.html', ['param'=>'oddExteriorPhotos', 'name'=>'担保实物照片', 'images'=>$info->oddExteriorPhotos]);?>
        <?php $this->display('blocks/uploadImages.html', ['param'=>'oddPropertyPhotos', 'name'=>'合同协议', 'images'=>$info->oddPropertyPhotos]);?>
        <?php $this->display('blocks/uploadImages.html', ['param'=>'otherPhotos', 'name'=>'征信流水', 'images'=>$info->otherPhotos]);?>
        <div class="form-group">
          <div class="col-sm-1">&nbsp;</div>
          <div class="col-sm-11">
            <button type="button" class="btn btn-primary btn-sub">提交</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
<?php $this->display('blocks/uploadTemplate.html');?>
<?php $this->display('footer.html');?>