.body_div{
	padding: 15px 20px;
	background-color: #fff;
}
html,body{
	background-color:#f9f9f9;
	width: 100%;
	height: 100%
}
.menu{
	margin-bottom: 0;
}
.menu li{
	float: left;
	padding: 15px 0;
	width: 50%;
	text-align: center;
	color: #9a9a9a;
	font-size: 15px;
	font-weight: bold;
	box-sizing: border-box;
}
.menu li[data-page='1'] span{
	display: inline-block;
	width: 100%;
	border-right: 1px solid #6f95c1;
	cursor: pointer;
}
.menuLi{
	color: #6f95c1;
	border-bottom: 2px solid #6f95c1;
}
.detail{
	background-color: #fff;
	padding: 15px 20px 0 20px;
}
.table>tbody>tr>td{
	border-top: none;
	border-bottom: 1px solid #ddd;
}
.detail .table p{
	margin: 0;
}
.detail .table p.timer{
	text-indent:24px;
	background-image: url(../img/timer.png);
	background-repeat: no-repeat;
	background-position: left center;
	color: #9a9a9a;
}
.detail .table p.money{
	font-size: 15px;
	font-weight: 600;
	margin-bottom:5px;
}
.detail .table p.info{
	line-height: 44px;
	text-indent: 24px;
	background-repeat: no-repeat;
	background-position: left center;
}
.footer{
	background-color: #afafaf;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
}
.footer li{
	float: left;
	text-align: center;
	width: 50%;
}
.footer li h4{
	font-size: 14px;
	font-weight: 500;
}