@charset "utf-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
img {
  border: 0;
  vertical-align: middle;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
  outline: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
}
body{ max-width: 640px; margin:0 auto; font-family: "Helvetica Neue", Helvetica, sans-serif; font-size: .24rem;}
.cont-container{ width: 100%; padding:.2rem; overflow: hidden; font-size: .26rem; color: #5c5c5c; line-height: .46rem; }
.cont-container img,.cont-container p,.cont-container span{ max-width: 100%; }
.title-container{ width: 100%; padding:.3rem .2rem .01rem; overflow: hidden; text-align: center;}
.title-container h3{ overflow: hidden; padding-bottom: .1rem; font-size: .3rem; color: #383838;}
.title-container p{ padding-top:font-size: .26rem;}
.title-container p span{font-size: .26rem; padding: 0 .1rem; color: #b4b4b4;}
.fee-img{ width: 100%; padding: 5px; position: relative; }
.fee-img a{ text-align: center; text-decoration: none; color:#999; font-size: .24rem; }
.fee-img p{ position: absolute; top:50px; right:20px; padding:10px; color:#fff; background-color: rgba(0,0,0,.5) }
.fee-img img{ width:100%; display: block; }
.fee-items{ width: 100%; padding-top: .2rem; overflow: hidden; border-top:1px solid #eee;}
.fee-items ul{ width: 100%; overflow: hidden; }
.fee-items li{ display: block; width: 100%; margin: .1rem 0; padding:0 .2rem; overflow: hidden;}
.fee-items li .item-title{ position: relative; width: 100%; padding:.15rem .3rem; overflow: hidden;}
.fee-items li .item-title i{ position: absolute; top: 50%; left: .1rem; z-index: 5; width: 6px; height: 6px; margin-top:-3px; background-color: #2ea7e0; border-radius: 100%;}
.fee-items li .item-title em{ position: absolute; top: 50%; right: .15rem; z-index: 5; width: 11px; height: 8px; margin-top:-4px; background:url(../images/icon_show.png) no-repeat; }
.fee-items li .item-title span{ font-size: .26rem; color: #333; }
.fee-items li .item-cont{ display: none; position: relative; width: 100%; padding: .2rem .2rem .4rem; overflow: hidden; background-color: #f9f9f9; line-height: .4rem; border-radius: 5px; font-size: .24rem; color:#5c5c5c;}
.fee-items li .item-cont p{ padding:.05rem 0; }
.fee-items li .item-cont strong{ color: #f39800; }
.fee-items li .item-cont .item-hide{ position: absolute; right: .2rem; bottom: 0; width: 100%; height: .4rem; z-index: 5; background: url(../images/icon_hide.png) no-repeat 50% 50%; }
.fee-items li .item-cont,.fee-items li .item-cont p,.fee-items li .item-cont span{ max-width: 100%; }
.fee-items .table { width:100%; text-align: center; }
.fee-items .table tr { border-bottom: 1px solid #ccc; }
.fee-items .table td { padding: .1rem 0; }
.fee-view { position: absolute; top:0; left:0; width:100%; height:100%; padding-top: .6rem;}
.fee-view img { display: block; float:left; }
.fee-view a { display: block; position: fixed; top:0; right:0; width:38px; height:38px; border-radius: 0 0 0 56px;  font-size: 28px; color:#fff; background-color: #000; opacity: .4; text-decoration: none; text-align: center; }
