<?php $this->display('header.html');?>
<style type="text/css">
	canvas{position:absolute} 
	.word-content { width: 80%; margin:5% auto 5% auto;}
	.word-content h2 {text-align: center; margin-bottom: 20px;}
	.word-content p {text-indent: 2em; line-height: 25px;}
</style>
<div id="yoyo" class="row" style="height: 100%;overflow: hidden;">
	<!-- <iframe src="https://sh-meet.bigpixel.cn/" width="100%" height="120%" style="border:none" scrolling="no"></iframe> -->
	<div class="word-content" >
		<h2>生命柔软，时光清浅</h2>
		<p>清晨，一轮橘红色的阳光从地平线上升起，给笼罩在氤氲迷雾的大地涂摸上了一层霞光，虽是冬天，浓重的白霜盖住了草丛、田垛、菜蔬、田间、原野。然而这丝丝缕缕黄灿灿的光亮驱散了雾障霜凝朦胧的早晨，尤如穴居久了的生灵凝聚的血液重又活跃起来了。阴冷了一段时日的冬天，乘着这明媚的亮光，几乎家家户户皆争先恐后洗衣搓被单，翻晒被褥，阳光是有味道的，晚上躺在接受了紫外线曝晒的被窝里，郁香浓烈，连做的梦都是那般的甜。</p>
		<p>时光的辗转，一如流水般匆匆，指尖的年华，渐渐瘦成了一弦眉弯。坐在光阴深处，捻一瓣心香，将时光走过留下的清喜翻了又翻，看了又看。 走过的路，留下的心情，在心间慢慢开出了一朵风雅，丰盈了时光，旖旎了幽香点点。流年中，一些人，来了又去，一些缘，聚了又散，得得失失的行程，浮浮沉沉的心境，总有一些素念，如影随行；总有一些感悟，铭记心间。岁月是一壶陈年的佳酿，越往时光的深处行走，愈会发觉， 岁月中不但有山长水远，蓑草绵绵，还隐藏着细微的静好， 包蕴着淡淡的清欢。生命的美好在于从走过的行程， 经历的风霜中不断走向成熟，待繁华过尽，心素如简，恬淡安然。</p>
		<p>不可以消沉，因为还有责任；心，不可以冰冷，因为还有朋友；爱，不可以绝望，因为还有亲人；命，不可以轻视，因为还有父母；泪，不可以轻流，因为还有自尊；情，不可以执着，因为还有伤痛；缘，不可以强求，因为还有离散；苦，不可以倾诉，因为还有自我；伤，不可以流露，因为还有疤痕；诺，不可以轻许，因为还有来世；人生，简简单单就好；生命，健健康康就好；生活，快快乐乐就好。</p>
		<p>人的一生中，总有一些不舍的情结，令人难以忘怀。人世间的沧桑变化，人情中的世故冷暖，尘世间的悲欢离合，生活中的酸甜苦辣咸。舍的情结，令人难以割舍。</p>
		<p>流年，是一首涓涓不息无字的歌，一直流淌在心田，那人那些事总是惦念不忘。还有或许那些情感，总是难以割舍。</p>
		<p>错过的风景总是难以忘记，人生中的遇见，交错，已然是刻骨铭心。时光，就在这念与不念之间渐行渐远，心就在路上，一半明媚，一半忧伤。有些情，虽然短暂，却已然走过心间；有些人，近在咫尺，却是一生无缘。总以为，不再想起，就不再染相思；总以为，不再念起，就不会再有忧伤；总以为，放不下所有，却会在眼泪掉下时转身离开，或者一个不经意间的转身就是永远。</p>
		<p>这些往事，将尽藏于心，这些过往，将尘封收藏，不再去问流水无情还是落花无意，也不再执着的找寻有你的天涯。</p>
		<p>愿将所有的牵念，化做深深的祝福；你一定要比我幸福，爱若相逢，记住已然足够。有多少光阴可以用来等待？有多少人值得回眸？慢慢的就会发现，一直执着的东西，想着想着就淡了；一直在乎的人，走着走着就散了，谁能执守一颗心，直到永远？谁愿牵一人手，走过沧海桑田？写过太多风花雪夜的缠绵；听过太多天长地久的期许，岁月中的一地阑珊，再也无法拾起，有一种相遇叫情深缘浅；有一种结局是曲终人散。</p>
		<p>爱过，痛过，哭过笑过，然后借一方晴空，拥抱阳光，继续坚强。放下该放下的，珍惜所拥有的，一笑而过，安然生活。一支蘸了胭脂的画笔，任你在时光的镜中怎样涂抹，也描摹不出最初的滋味，曾经的风景再美，也只是曾经而已。</p>
		<p>只有回不去的过去，没有过不完的当下，伤划在心底，痛过了，终会结茧，其实，我们每个人都比想象中的要坚强。手中的花茶寂寥无声，只留一手的余温，经历过后再想起，那些曾经唱过的歌，依然飘荡在心里；曾经爱过的人，却再也提不起恨，遇到了，莫问是缘是劫，爱过了，别问缘深缘浅，珍惜了，便是永远。在心中留一径浅香给彼此，若忆起，便是温暖。</p>
	</div>
</div>
<?php $this->display('footer.html');?>