<?php $this->display('header.html');?>
<div class="middle">
    <?php $this->display('odd/common/menu.html');?>
    <div class="main">
        <div class="content-wrap">
            <div class="pr">
                <h3 class="m-title">债权转让列表<a href="javascript:;" class="mathbtn calculate-btn">理财计算器</a></h3>
                <p class="aside-wrap"><span class="pledgeico">转</span>债权转让</p></div>
            <table class="tablecomponent">
                <thead>
                  <tr>
                    <th>转让项目</th>
                    <th>债权总价</th>
                    <th>年化率</th>
                    <th>进度</th>
                    <th>最终还款日</th>
                    <th>转让状态</th>
                  </tr>
                </thead>
                <tbody>
                    <?php foreach ($crtrs as $crtr):?>
                      <?php $remain = $crtr->getRemain();?>
                      <tr>
                        <td class="gray3">
                            <span class="pledgeico" title="债权转让">转</span>
                            <a href="<?=Url::to('/crtr/view', ['num'=>$crtr->getSN()]);?>" target="_blank">
                                <?='转让项目'.$crtr->getSN().'号';?>
                            </a>
                        </td>
                        <td><?=$crtr->money?><i>元</i></td>
                        <td class="pr reward-row">
                            <?=$crtr->odd->oddYearRate*100;?><i>%</i>
                            <?php if($crtr->odd->oddReward>0):?>
                            <em class="reward">+<?=$crtr->odd->oddReward*100;?>%</em>
                            <?php endif;?>
                        </td>
                        <td><strong class="ui-progressbar-mid ui-progressbar-mid-<?=$crtr->getPer($remain)?> bc"><em><?=$crtr->getPer($remain)?></em>%</strong></td>
                        <td class="f16"><?=_date('Y-m-d', $crtr->odd->getEndTime())?><i></i></td>
                        <td>
                            <?php if($crtr->progress=='start'&&$remain>0):?>
                            <a href="<?=Url::to('/crtr/view', ['num'=>$crtr->getSN()])?>" class="status">认购</a>
                            <?php elseif($crtr->progress=='start'&&$remain==0):?>
                            <a href="<?=Url::to('/crtr/view', ['num'=>$crtr->getSN()])?>" class="status status2">复审中</a>
                            <?php else:?>
                            <a href="<?=Url::to('/crtr/view', ['num'=>$crtr->getSN()])?>" class="status status3">已出售</a> 
                            <?php endif;?>
                        </td>
                      </tr>
                      <?php endforeach;?>
                </tbody>
            </table>
            <div class="pagination-wrapper">
            <?=$crtrs->render();?>
            </div>
        </div>
    </div>
</div>
<?php $this->display('footer.html');?>