<?php $this->display('header.html');?>
<div class="container" ng-controller="newspaper">
	<ul class="list-inline subnav">
		<li><a ui-sref="index">首页</a></li>/
		<li><a>资讯中心</a></li>/
		<li><a ui-sref="{{url}}" class="subnav-now"><?=$news->news_title?></a></li>
	</ul>
	<div class="advisory-img">
		<img src="<?=RSRC?>/images/index/advisory/advisory-1.png" alt="资讯中心" class="pull-left">
		<img src="<?=RSRC?>/images/index/advisory/advisory-2.png" alt="SEO广告图" class="pull-right">
		<div class="clearfix"></div>
	</div>
	<div class="advisory-left pull-left">
		<dl>
			<?php foreach($types as $type):?>
			<dd class="<?php if($curType->type_key==$type->type_key):?>advisory-left-dd<?php endif;?> link-to" data-ref="/news/list?type=<?=$type->type_key?>"><?=$type->type_name?></dd>
			<?php endforeach;?>
		</dl>
	</div>
	<div class="advisory-right pull-right">
		<div class="details">
			<h1 class="details-title"><?=$news->news_title?></h1>
			<h4 class="details-title-s">作者汇诚普惠  时间<?=$news->news_time?></h4>
			<div id="details-p">
				<?=_decode($news->news_body);?>
			</div>
			<ul class="detail-choose list-unstyled">
				<li><a href="/news/show/id/<?=$prepId?>">上一篇</a></li>
				<li><a href="/news/show/id/<?=$nextId?>">下一篇</a></li>
				<div class="clearfix"></div>
			</ul>
			<h3 class="detail-same">热门文章</h3>
			<dl class="detail-list">
				<dt>
					<?php foreach($hotNews as $news):?>
					<div class="news-item">
						<a href="/news/show/id/<?=$news->id?>" title="<?=$news->news_title?>"><?=_title($news->news_title, 90);?></a>
						<span><?=$news->news_time?></span></div>
					<?php endforeach;?>
				</dt>
				<div class="clearfix"></div>
			</dl>

		</div>
	</div>
	<div class="clearfix"></div>
</div>
<?php $this->display('footer.html');?>