<?php $this->display('header.html');?>
<div>
	<div class="banner">&nbsp;</div>
	<div class="section1">
		<div class="content">
			<div class="section1-div">
				<p class="p1">10000元=10000现金券，超多红包礼品任性兑换！</p>
				<p class="p2">
					投资用户在活动期间的投资总额达到相应奖励档次的投资总额要求，
平台将赠送投资用户相应奖励档次的现金券，赠送的现金券用于兑换现金红包或实物礼品。
				</p>
				<p class="p3">如何获得现金劵？</p>
				<p>
					<a href="/news/show/id/4694" class="invest-btn" target="_blank">活动详情</a>
				</p>
			</div>
			<span class="gold">&nbsp;</span>
			<span class="red-packet">&nbsp;</span>
		</div>
	</div>
	<div class="section2">
		<div class="content">
			<div class="hexagon1" style="left:93px; top:65px;">
				<p class="p1">30,000现金券</p>
				<p class="p2">100</p>
				<p class="p3">100元现金红包</p>
				<p class="p4">
					<a href="javascript:;" data-id="1" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon1" style="left:625px; top:65px;">
				<p class="p1">50,000现金券</p>
				<p class="p2">178</p>
				<p class="p3">178元现金红包</p>
				<p class="p4">
					<a href="javascript:;" data-id="2" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon1" style="left:368px; top:177px;">
				<p class="p1">100,000现金券</p>
				<p class="p2">368</p>
				<p class="p3">368元现金红包</p>
				<p class="p4">
					<a href="javascript:;" data-id="3" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon1" style="left:93px; top:327px;">
				<p class="p1">190,000现金券</p>
				<p class="p2">788</p>
				<p class="p3">788元现金红包</p>
				<p class="p4">
					<a href="javascript:;" data-id="4" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon1" style="left:368px; top:437px;">
				<p class="p1">290,000现金券</p>
				<p class="p2">1288</p>
				<p class="p3">1288元现金红包</p>
				<p class="p4">
					<a href="javascript:;" data-id="5" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon1" style="left:625px; top:327px;">
				<p class="p1">480,000现金券</p>
				<p class="p2">2088</p>
				<p class="p3">2088元现金红包</p>
				<p class="p4">
					<a href="javascript:;" data-id="6" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon1" style="left:93px; top:579px;">
				<p class="p1">770,000现金券</p>
				<p class="p2">3388</p>
				<p class="p3">3388元现金红包</p>
				<p class="p4">
					<a href="javascript:;" data-id="7" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon1" style="left:625px; top:579px;">
				<p class="p1">960,000现金券</p>
				<p class="p2">5188</p>
				<p class="p3">5188元现金红包</p>
				<p class="p4">
					<a href="javascript:;" data-id="8" class="exchange-btn">兑换</a>
				</p>
			</div>
		</div>
	</div>
	<div class="section3">
		<div class="content">
			<p class="title-p title-p-purple" style="left:382px; top:61px">10,000现金券</p>
			<div class="hexagon2" style="left:262px; top:152px;">
				<p class="p1">10,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-29px -66px;">&nbsp;</span>
				</p>
				<p class="p3 lh36">威迪瑞户外强光手电筒</p>
				<p class="p4">
					<a href="javascript:;" data-id="9" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:570px; top:152px;">
				<p class="p1">10,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-231px -65px;">&nbsp;</span>
				</p>
				<p class="p3 lh36">三只松鼠碧根果</p>
				<p class="p4">
					<a href="javascript:;" data-id="10" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:878px; top:152px;">
				<p class="p1">10,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-435px -64px;">&nbsp;</span>
				</p>
				<p class="p3 lh36">天堂商务伞</p>
				<p class="p4">
					<a href="javascript:;" data-id="11" class="exchange-btn">兑换</a>
				</p>
			</div>
			<p class="title-p title-p-purple" style="left:308px; top:492px">30,000现金券</p>
			<div class="hexagon2" style="left:32px; top:582px;">
				<p class="p1">30,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-640px -66px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					帕森（PARZIN）驾驶墨镜
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="12" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:334px; top:638px;">
				<p class="p1">30,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-828px -66px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					乐扣乐扣 locklock<br>便携防漏 水杯
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="13" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:636px; top:586px;">
				<p class="p1">30,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-35px -242px;">&nbsp;</span>
				</p>
				<p class="p3 lh36">SWISSGEAR双肩电脑包</p>
				<p class="p4">
					<a href="javascript:;" data-id="14" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:938px; top:641px;">
				<p class="p1">30,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-226px -230px;">&nbsp;</span>
				</p>
				<p class="p3 lh36">AiSleep睡眠颈椎枕</p>
				<p class="p4">
					<a href="javascript:;" data-id="15" class="exchange-btn">兑换</a>
				</p>
			</div>
		</div>
	</div>
	<div class="section4">
		<div class="content">
			<p class="title-p title-p-blue" style="left:328px; top:0px">50,000现金券</p>
			<div class="hexagon2" style="left:32px; top:92px;">
				<p class="p1">50,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-435px -247px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					米其林（MICHELIN） 4387ML<br>车载充气泵
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="16" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:334px; top:147px;">
				<p class="p1">50,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-638px -247px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					欧丽薇兰 Olivoilà <br>特级初榨橄榄油
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="17" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:636px; top:92px;">
				<p class="p1">50,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-842px -256px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					华为（HUAWEI）荣耀路由<br>4-50M陶瓷白
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="18" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:945px; top:147px;">
				<p class="p1">50,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-28px -416px;">&nbsp;</span>
				</p>
				<p class="p3 lh36">Ferrari香水</p>
				<p class="p4">
					<a href="javascript:;" data-id="19" class="exchange-btn">兑换</a>
				</p>
			</div>
			<p class="title-p title-p-blue" style="left:328px; top:524px">100,000现金券</p>
			<div class="hexagon2" style="left:32px; top:612px;">
				<p class="p1">100,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-228px -412px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					karcher k2BASIC<br>家用高压洗车机
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="20" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:334px; top:668px;">
				<p class="p1">100,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-435px -416px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					家用懒人仰卧起坐收腹器
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="21" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:636px; top:616px;">
				<p class="p1">100,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-642px -413px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					西部数据（WD）Elements <br> 1TB移动硬盘
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="22" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:945px; top:668px;">
				<p class="p1">100,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-836px -417px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					飞利浦（Philips）<br>家用烤面包片机
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="23" class="exchange-btn">兑换</a>
				</p>
			</div>
		</div>
	</div>
	<div class="section5">
		<div class="content">
			<p class="title-p title-p-lightblue" style="left:318px; top:0px">190,000现金券</p>
			<div class="hexagon2" style="left:32px; top:88px;">
				<p class="p1">190,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-29px -590px;">&nbsp;</span>
				</p>
				<p class="p3 lh36">欧姆龙电子血压计</p>
				<p class="p4">
					<a href="javascript:;" data-id="24" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:334px; top:143px;">
				<p class="p1">190,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-220px -585px;">&nbsp;</span>
				</p>
				<p class="p3 lh36">三星oculus gear vr 3D眼镜</p>
				<p class="p4">
					<a href="javascript:;" data-id="25" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:636px; top:88px;">
				<p class="p1">190,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-440px -587px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					飞利浦 多功能电动剃须刀<br> 6500/RQ1160旋转三刀头
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="26" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:945px; top:143px;">
				<p class="p1">190,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-640px -589px;">&nbsp;</span>
				</p>
				<p class="p3 lh36">巴宝莉盒装香水</p>
				<p class="p4">
					<a href="javascript:;" data-id="27" class="exchange-btn">兑换</a>
				</p>
			</div>
			<p class="title-p title-p-lightblue" style="left:508px; top:476px">290,000现金券</p>
			<div class="hexagon2" style="left:498px; top:567px;">
				<p class="p1">290,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-839px -598px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					科沃斯（Ecovacs）<br />
					BFD-wsq智能扫地机器人
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="28" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:885px; top:567px;">
				<p class="p1">290,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-29px -759px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					德国GUGE谷格AD-G858<br />多功能榨汁机
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="29" class="exchange-btn">兑换</a>
				</p>
			</div>
			<span class="red-bag">&nbsp;</span>
		</div>
	</div>
	<div class="section6">
		<div class="content">
			<p class="title-p title-p-purple" style="left:318px; top:0px">480,000现金券</p>
			<div class="hexagon2" style="left:14px; top:93px;">
				<p class="p1">480,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-231px -766px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					Beats Studio Wireless<br />头戴式耳机
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="30" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:255px; top:146px;">
				<p class="p1">480,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-439px -763px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					美的CF14BD/N3-DF <br />
					家用除湿机
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="31" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:487px; top:93px;">
				<p class="p1">480,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-646px -764px;">&nbsp;</span>
				</p>
				<p class="p3 lh36">巴宝莉套装香水</p>
				<p class="p4">
					<a href="javascript:;" data-id="32" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:731px; top:146px;">
				<p class="p1">480,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-845px -766px;">&nbsp;</span>
				</p>
				<p class="p3 lh36">GUCCI套装香水</p>
				<p class="p4">
					<a href="javascript:;" data-id="33" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:968px; top:93px;">
				<p class="p1">480,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-41px -930px;">&nbsp;</span>
				</p>
				<p class="p3 lh36">vivo X6S 全网通4G手机</p>
				<p class="p4">
					<a href="javascript:;" data-id="34" class="exchange-btn">兑换</a>
				</p>
			</div>
			<p class="title-p title-p-purple" style="left:358px; top:484px">770,000现金券</p>
			<div class="hexagon2" style="left:225px; top:579px;">
				<p class="p1">770,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-233px -940px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					微软（Microsoft）Xbox One<br />
					体感游戏机
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="35" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:537px; top:579px;">
				<p class="p1">770,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-442px -937px;">&nbsp;</span>
				</p>
				<p class="p3 lh36">德国Aomacsi 空气净化器</p>
				<p class="p4">
					<a href="javascript:;" data-id="36" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:841px; top:579px;">
				<p class="p1">770,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-640px -933px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					极米 (XGIMI) Z4极光 <br />
					智能家用投影机
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="37" class="exchange-btn">兑换</a>
				</p>
			</div>
		</div>
	</div>
	<div class="section7">
		<div class="content">
			<p class="title-p title-p-blue" style="left:420px; top:0px;">960,000现金券</p>
			<div class="hexagon2" style="left:437px; top:90px;">
				<p class="p1">960,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-845px -938px;">&nbsp;</span>
				</p>
				<p class="p3 lh36">Apple iPhone7 32G 金色 国行</p>
				<p class="p4">
					<a href="javascript:;" data-id="38" class="exchange-btn">兑换</a>
				</p>
			</div>
			<div class="hexagon2" style="left:781px; top:90px;">
				<p class="p1">960,000现金券</p>
				<p class="p2">
					<span class="good-img" style="background-position:-33px -1112px;">&nbsp;</span>
				</p>
				<p class="p3 lh18">
					尼康（Nikon）D5500<br>
					半画幅数码单反相机
				</p>
				<p class="p4">
					<a href="javascript:;" data-id="39" class="exchange-btn">兑换</a>
				</p>
			</div>

		</div>
	</div>
	<div class="section8">
		<div class="content clearfix" style="background-color:#0e8cee; padding-bottom:50px;">
			<div class="fl exchange-list" >
				<div id="listAnimate" style="overflow:hidden; height:390px;">
					<ul style="height:390px">
						<?php foreach ($allRecords as $record):?>
						<li class="clearfix">
							<span><?=_hide_phone($record->user->phone)?></span>
							<span class="prize-name" title="<?=$record->prize->prizeName?>">
								<?=_title($record->prize->prizeName)?>
							</span>
						</li>
						<?php endforeach;?>
					</ul>
				</div>
			</div>
			<div class="fr pt30 pr20" style="width:661px;">
				<?php if($user):?>
				<div class="mb30">
					<span class="title-span">当前用户:</span>
					<?=$user->username?>
				</div>
				<div>
					<div class="clearfix mb30">
						<span class="title-span">&nbsp;&nbsp;&nbsp;&nbsp;现金券</span>
						<?php if(time()>strtotime('2016-12-10 00:00:00')):?>
						<span class="quan"> <b><?=$user->imiMoney?></b></span>
						<?php else:?>
						<span class="quan"> <b style="font-size: 14px;padding-left:5px; line-height: 40px;">(12月12日统一发放)</b></span>
						<?php endif;?>
					</div>
					<div class="clearfix mb30">
						<span class="title-span">收货地址</span>
						<table class="address-table">
							<thead>
								<tr>
									<td width="60">收货人</td>
									<td width="100">所在地区</td>
									<td width="135">详细地址</td>
									<td width="50">邮编</td>
									<td width="94">电话/手机</td>
									<td width="40">操作</td>
								</tr>
							</thead>
							<tbody>
								<?php if($address):?>
								<tr data-id="<?php echo $address['id'];?>">
									<td><?=$address->name?></td>
									<td><?=$address->address?></td>
									<td><?=$address->addressDetail?></td>
									<td><?=$address->zipcode?></td>
									<td><?=$address->phone?></td>
									<td>
										<a href="javascript:;" class="edit-btn" id="address-update">修改</a>
									</td>
								</tr>
								<?php else:?>
								<tr>
									<td colspan="6" style="text-align:center;line-height:28px;">
										尚未填写收货地址！<a href="javascript:;"  id="address-edit" class="edit-btn">填写收货地址</a>
									</td>
								</tr>
								<?php endif;?>
							</tbody>
						</table>
					</div>
					<div class="clearfix pr">
						<span class="title-span">我的兑换</span>
						<table class="exchange-table">
							<thead>
								<tr>
									<td>序号</td>
									<td>兑换奖品</td>
									<td>审核状态</td>
									<td>兑换时间</td>
									<td width="70">操作</td>
								</tr>
							</thead>
								<tbody>
								<?php if(count($records)>0):?>
								<?php foreach ($records as $key => $record):?>
								<tr data-id="<?=$record->id?>">
									<td><?php echo $key+1;?></td>
									<td class="record-prize-name"><?=$record->prize->prizeName?></td>
									<td>
										<?php if($record->status==0):?>
										审核中
										<?php elseif($record->status==1):?>
										已审核，发货中
										<?php elseif($record->status==2):?>
										已发货
										<?php elseif($record->status==-1):?>
										审核失败
										<?php endif;?>
									</td>
									<td><?php echo $record->addtime?></td>
									<td><a href="javascript:;" class="edit-btn delete-prize">取消兑换</a></td>
								</tr>
								<?php endforeach;?>
								<?php else:?>
								<tr>
									<td colspan="5" style="text-align:center;line-height:28px;">尚未兑换奖品！</td>
								</tr>
								<?php endif;?>
							</tbody>
						</table>
					</div>
					<div></div>
				</div>
				<?php else:?>
				<div class="mb30">
					<p class="tc">
						<a href="javascript:;" class="user-login-btn invest-btn tc">登录</a>
					</p>
				</div>
				<?php endif;?>
			</div>
		</div>
	</div>
	<div class="section9">
		<div class="content">
			<div class="rules p30">
				<h3>&nbsp;</h3>
				<p> <b>1.活动时间：</b>
					2016.11.11 — 2016.12.10
				</p>
				<p>
					<b>2.</b>
					赠送的现金券在2016.12.12当日统一发放，现金券不能用于提现或投资项目，仅能用于兑换此次活动奖品。
				</p>
				<p>
					<b>3.现金券使用有效期：</b>
					2016.12.12-2016.12.25，有效期到期现金券失效。
				</p>
				<p>
					<b>4.现金券兑换说明：</b>
					兑换时间为2016.12.12-2016.12.25，届时将在平台开放现金券兑换页面。兑换的现金红包自动充入投资用户一麻袋账户，可用于提现或投资项目，现金红包如需提现，按平台提现规则收取提现费用；实物礼品在兑换时若出现无货的情况，会适当延迟发货时间，投资用户需要耐心等待；无货时，投资用户也可与客服人员联系，调换同档次的其他类型实物礼品或现金红包。
				</p>
				<p>
					<b>5.</b>
					投资金额计算时不乘以标的月数。
				</p>
				<p>
					<b>6.</b>
					非活动期间发布项目的债权转让将不计入本次活动的投资总额中。
				</p>
				<p>
					<b>7.参与限制：</b>
					老用户不受限制，新用户（无投资记录用户）须在活动期间的投资总额≥20000元才能获赠相应奖励档次的现金券；本次活动可与新用户注册投资赠送50元现金红包活动兼容。
				</p>
				<p>
					<b>8.特别说明：</b>
					活动截止时，根据投资用户活动期间的投资总额，赠送相应奖励档次的现金券。赠送的现金券可分档兑换，自由选择兑换现金红包或实物礼品。
				</p>
			</div>
		</div>
	</div>
</div>
<div class="fancy-box-hide none">
    <div id="data" class="success-word"></div>
    <div id="data1" class="success-word">恭喜您,获得费列罗榛果威化巧克力</div>
    <div id="data2" class="f16 p30">请联系平台客服人员更改兑换奖励。</div>
    <div id="data3">
       <form>
    	<table class="edit-table">
        	<tr><td>收货人</td><td><input  type="text" value="李成德" class="ui-input"/></td></tr>
            <tr><td>所在地区</td><td><input  type="text" value="福建省福州市仓山区下渡街道" class="ui-input" style="width:350px;"/></td></tr>
            <tr><td>详细地址</td><td><input  type="text" value="临江新天地23弄23号1座211室" class="ui-input" style="width:350px;"/></td></tr>
            <tr><td>邮编</td><td><input  type="text"  value="350007" class="ui-input"/></td></tr>
            <tr><td>电话\手机</td><td><input  type="text" value="18785456411" class="ui-input"/></td></tr>
        </table>
        <p class="tc mt20"><input  type="submit" value="确定" class="mr20 btn-blue"/><input  type="button" value="取消" class="btn-blue"/></p>
       </form>
    </div>
</div>
<div id="ajax-exchange-box" class="hide-box box modal">
	<div class="exchange-content">
		<p>您确定要使用 <em id="prize-cash"></em> 现金卷兑换奖品 <em id="prize-name"></em> ?</p>
		<p>您当前还有现金卷 <em id="now-cash"></em> </p>
		<div class="none" id="prize-id"></div>
		<button class="btn-purse" id="ajax-exchange-btn">确定</button>
	</div>
</div>
<div id="ajax-delete-prize-box" class="hide-box box modal">
	<div class="exchange-content">
		<p>您确定要取消兑换 <em id="delete-prize-name"></em> ?</p>
		<p>如果取消成功，您的现金卷将被返还。</p>
		<div class="none" id="delete-prize-id"></div>
		<button class="btn-purse" id="delete-prize-btn">确定</button>
	</div>
</div>
<div id="ajax-address-box" class="hide-box box modal">
	<?php if($address):?>
	<table class="edit-table">
    	<tr><td>收货人</td><td><input id="address-name" type="text" value="<?php echo $address['name'];?>" class="ui-input"/></td></tr>
        <tr><td>所在地区</td><td><input id="address-address" type="text" value="<?php echo $address['address'];?>" class="ui-input" style="width:350px;"/></td></tr>
        <tr><td>详细地址</td><td><input id="address-detail" type="text" value="<?php echo $address['addressDetail'];?>" class="ui-input" style="width:350px;"/></td></tr>
        <tr><td>邮编</td><td><input id="address-zipcode" type="text"  value="<?php echo $address['zipcode'];?>" class="ui-input"/></td></tr>
        <tr><td>电话\手机</td><td><input id="address-phone" type="text" value="<?php echo $address['phone'];?>" class="ui-input"/></td></tr>
    </table>
	<?php else:?>
	<table class="edit-table">
    	<tr><td>收货人</td><td><input id="address-name" type="text" value="" class="ui-input"/></td></tr>
        <tr><td>所在地区</td><td><input id="address-address" type="text" value="" class="ui-input" style="width:350px;"/></td></tr>
        <tr><td>详细地址</td><td><input id="address-detail" type="text" value="" class="ui-input" style="width:350px;"/></td></tr>
        <tr><td>邮编</td><td><input id="address-zipcode" type="text"  value="" class="ui-input"/></td></tr>
        <tr><td>电话\手机</td><td><input id="address-phone" type="text" value="" class="ui-input"/></td></tr>
    </table>
	<?php endif;?>
    <p class="tc mt20"><input id="set-address-btn" type="button" value="确定" class="mr20 btn-blue"/>
    <!-- <input  type="button" value="取消" class="btn-blue"/> --></p>
</div>
<style type="text/css">
	.box .exchange-content {width: 500px; }
	.box .exchange-content p {color: #555;text-align: center; line-height: 30px;}
	.box .exchange-content em {color: #ff5848; font-weight: bold;}
	.btn-purse {color: #fff; font-size: 16px; text-decoration: none; display: block; height: 36px; line-height: 36px; width: 100px;background: #6633CC;border: none; margin: 0 auto; margin-top: 15px; margin-bottom: 10px;}
</style>
<?php $this->display('login.html');?>
<?php $this->display('footer.html');?>