<?php $this->display('header.html');?>
  <div id="ad0510">
    <div class="banner"></div>
    <div class="allwid">
      <img class="tit_yaowen" src="<?=RSRC?>/images/jiaoliu/tit_yaowen.png" alt="" />
      <div class="znq_yw">
        <div class="fl left">
          <ul>
            <li>
              <div class="tit">
                <a style="font-weight: bold;" href="http://www.wdzj.com/news/gonggao/28714.html" target="_blank">汇诚普惠：深度解读福建高收益短期限之谜</a>
              </div>
              <p class="col_666">
                5月7日，“网贷神州行”大型行业交流会第十站活动在福州隆重举办，汇诚普惠CEO、投资人、P2P平台负责人以及业界知名专家、学者，分别就福建省网贷行业的发展现状、投资策略及热门话题展开了讨论。
              </p>
            </li>
            <li>
              <div class="tit">
                <a style="font-weight: bold;" href="http://www.wdzj.com/news/hangye/28705.html" target="_blank">网贷神州行现场发布《福建网贷行业研究报告》</a>
              </div>
              <p class="col_666">活动现场发布了福建省网贷行业研究报告。盈灿咨询高级研究院卜一帆针对行业现状与趋势对报告作了深度解读</p>
            </li>
          </ul>
        </div>
        <div class="fr right">
          <div class="lunbo">
            <ul>
              <li>
                <a href="http://www.wdzj.com/news/gonggao/27912.html" target="_blank">
                  <img width="486"  src="<?=RSRC?>/images/jiaoliu/fuzhoubanenr.jpg"/>
                  <span>网贷神州行——福州站活动简介</span>
                </a>
              </li>
              <li>
                <a href="http://www.wdzj.com/news/gonggao/28714.html" target="_blank">
                  <img width="486"  src="<?=RSRC?>/images/jiaoliu/20160507203854s_.jpg"/>
                  <span>汇诚普惠 解读福建高收益短期限之谜</span>
                </a>
              </li>
              <li>
                <a href="http://www.wdzj.com/news/baogao/28707.html" target="_blank">
                  <img width="486"  src="<?=RSRC?>/images/jiaoliu/20160507163131s_.jpg"/>
                  <span>网贷神州行现场发布《福建网贷行业研究报告》</span>
                </a>
              </li>

              <li>
                <a href="http://www.wdzj.com/topic/szx/szx.html" target="_blank">
                  <img width="486" src="<?=RSRC?>/images/jiaoliu/cd3.jpg" />
                  <span>网贷神州行投资人见面会走遍中国系列活动</span>
                </a>
              </li>
            </ul>
            <div class="kz_box">
              <a href="#" class="last"> <i></i>
              </a>
              <a href="#" class="next"> <i></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="allwid">
      <div class="title_hd">
        <img src="<?=RSRC?>/images/jiaoliu/t1.png" alt="" />
      </div>
      <div class="speech sponsor">
        <div class="left">
          <img src="<?=RSRC?>/images/jiaoliu/photo.jpg" alt="" />
        </div>
        <div class="right">
          <div class="tit">
            <a style="font-weight: bold;" href="http://www.wdzj.com/news/guandian/28704.html" target="_blank">张巍：传统车贷融合融资租赁，是投资机会还是致命陷阱？</a>
          </div>
          <p style="margin-top:20px">
            2016年5月7日，由网贷之家主办、汇诚普惠协办的“网贷神州行”大型行业交流会第十站活动走进福州。在活动现场，汇诚普惠的CEO张巍做了主题演讲。
            <br />
            张巍表示，融资租赁很早就被利用于船舶、能源、医疗租赁等业务，也被一些网贷平台成功作为投资理财产品，供投资人进行投资获益。传统车贷和融资租赁融合就是汽车租赁，是汽车抵押贷款的一次升华。融资租赁既然安全透明，为什么以前的e租宝还会出现呢？其实他们是做融资租赁没有错，但是e租宝最大的问题是他们所有的融资租赁项目的标都是购买的。意味着他们平台上面的标基本上都是假标。所以这种问题的平台不管产品是多少优势的，只要是假的永远都真不了。
            <br></p>
        </div>
      </div>
    </div>
    <div class="allwid">
      <div class="title_hd">
        <img src="<?=RSRC?>/images/jiaoliu/t2.png" alt="" />
      </div>
      <div class="sponsor_plate yuanzhuo">
        <div class="spon_left mouse_effect">
          <a class="plate_img" href="http://www.wdzj.com/news/guandian/28711.html" target="_blank">
            <img src="<?=RSRC?>/images/jiaoliu/461.jpg" alt="">
            <span>
              主持人：卢屹
              <br>
              嘉宾：张   巍  汇诚普惠CEO
              <br>
              赵永新  河北金融学院教授
              <br>
              卜一帆  盈灿咨询高级研究员
              <br></span>
          </a>
        </div>
        <div class="spon_right">
          <div class="srbottom mouse_effect">
            <h2>赵永新教授：福建才只有50多家P2P远远不够</h2>
            <p>
              赵永新教授认为，虽然有一些不法之徒，给互金带来了不好的影响。但整个P2P行业大部分还是好的，未来的方向是光明的。他表示，福建50多家P2P远远不够，“我觉得后面还要加个零。”
            </p>
          </div>
          <div class="srbottom mouse_effect">
            <h2>现阶段P2P平台发展受哪些阻碍？</h2>
            <p>
              河北金融学院教授赵永新总结了目前P2P平台发展的障碍，他认为有四个方面。一个方面就是现在资金存管的问题；第二是风险控制能力；第三是行业人才；第四就是我国信用体系的建设。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="allwid">
      <div class="title_hd">
        <img src="<?=RSRC?>/images/jiaoliu/t3.png" alt="" />
      </div>
      <div class="znq_gqzt">
        <div class="lunbo">
          <div class="img_box">
            <ul>
              <li>
                <img src="<?=RSRC?>/images/jiaoliu/01.jpg" />
                <span>投资人在签到板签名</span>
              </li>
              <li>
                <img src="<?=RSRC?>/images/jiaoliu/02.jpg" />
                <span>投资人都围在外场拿活动礼物</span>
              </li>
              <li>
                <img src="<?=RSRC?>/images/jiaoliu/03.jpg" />
                <span>网贷神州行，福州站正在进行时</span>
              </li>
              <li>
                <img src="<?=RSRC?>/images/jiaoliu/04.jpg" />
                <span>网贷之家联合创始人朱明春致辞</span>
              </li>
              <li>
                <img src="<?=RSRC?>/images/jiaoliu/05.jpg" />
                <span>投资人也在认真的听着主题演讲</span>
              </li>
              <li>
                <img src="<?=RSRC?>/images/jiaoliu/06.jpg" />
                <span>业界权威人士圆桌讨论</span>
              </li>
              <li>
                <img src="<?=RSRC?>/images/jiaoliu/07.jpg" />
                <span>会场投资人都在认真听权威人士演讲</span>
              </li>
              <li>
                <img src="<?=RSRC?>/images/jiaoliu/08.jpg" />
                <span>嘉宾都很深入到交流会中</span>
              </li>
            </ul>
          </div>
          <div class="kz_box">
            <a href="#" class="last">
              <i></i>
            </a>
            <a href="#" class="next">
              <i></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="allwid">
      <div class="title_hd">
        <img src="<?=RSRC?>/images/jiaoliu/t4.png" alt="" />
      </div>
      <div class="video-area">
        <div id='plv_2e56b3f4e67b1680a8452fb23b79f6db_2'></div>
        <p>汇诚普惠CEO张巍专访</p>
      </div>
    </div>
    <div class="allwid">
      <div class="title_hd">
        <img src="<?=RSRC?>/images/jiaoliu/t5.png" alt="" />
      </div>
      <div class="zhibo_title">
        <span>时间：2016年5月7日（周六）13:30-17:30</span>
        <span>地址：中国·福州万达威斯汀酒店3楼宴会A楼</span>
      </div>
      <!-- zhibo start -->
      <div  class="zhibo">
        <div class="zhiboInfoArea">

          <ul class="">
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>主持人</span>
              </div>
              <div class="zhibo_right zhibo_right_first">
                <i></i>
                <p>
                  我是主持人谷倩颖。欢迎各位莅临由“网贷神州行”行业交流会福州站的活动现场，很高兴与大家在缤纷梦幻的初夏相约于美丽的榕城，一起度过这个愉快的下午。感谢各位投资人以及现场的各位媒体对本次活动的大力支持。张总您好非常欢迎汇诚普惠支持此次神州行福建站的活动，也非常荣幸您能接受我们的专访，首先还是请您来介绍一下汇诚普惠这个平台。
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>张巍</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  汇诚普惠成立于2014年10月是福建地区专注于质押抵押、融资租赁的P2P平台，我们平台联合创始人有两个，我是其中的一个，我们公司目前的业务交易量待收在5000万左右，每个月新增业务交易量在1000万左右，我们的业务品类主要是汽车融资租赁为主。
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>主持人</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  通过一些前期资料收集，我们发现汇诚普惠平均收益是非常高的，是达到了18.6%，在目前这样一个降息的大环境下，大部分平台收益都是维持在12%左右的，那咱们汇诚普惠是怎样维持到一个比较高的收益呢？
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>张巍</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  首先我们平台其实在节后已经有了一次降息了，年前的利息更高，可能预计在未来的时间还会有一定的降息，我们为什么车贷的平台利率相对偏高，投资人大概也知道车贷平台在所有的P2P平台产品类当中，金额小，小而分散，相对收益都比较高，而且为什么我们能在福建地区能维持这么高的收益率？因为第一我们的线下团队都是指引为主，我们线下的单单业务线的人员就达到了200人，这里避免了很多中间代理的利润，在福建地区车贷相对空白，我们在福州是第二家进行抵质押、融资租赁的公司，在全省范围内我们营业点布点已经达到了本土P2P的第一名，所以说相对来说在市场空白的情况下，线下的收益率也会比较高，但是随着市场竞争的激烈，我们可以需要去微调一些完善的收益率，来加大线下的业务推进。
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>主持人</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  刚刚也是说到了咱们收益率为什么这么高的原因了，接下来也说到政策方面的了，在2015年12月28日，发布的这样的一个监管征求意见稿当中，是定位了P2P它是网络信息中介机构，是不得提供征信服务的，也就是要去刚兑，那么我们汇诚普惠在这个方面有什么需要调整的么？
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>张巍</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  对于网络国家政策的这块调整，我们公司很早就有拨备金，以自由资金的形式，拨出一部分拨备金形式，后期也打算从所有所有借款项目中抽取一部分的拨备金进行项目逾期拨备，那至于拨备金肯定是在国家的允许范围内，因为这不属于担保，只是收益的一部分去覆盖坏账而已，对于国家政策的一些微调，包括我们平台一上线就已经上线了第三方存管，现在跟第三方支付公司再谈跟银行的联合存管，我们后期的话，包括电子签章，合同的网上保存，都会相应的跟进，而且也会在不远的时间内进行。
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>主持人</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  那您对于我们目前的出台的监管征求意见稿有什么看法或者是建议或者意见么？
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>张巍</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  在我看来现在的意见稿是非常好的，我们也会相应国家的号召，但是就是有一点希望监管层，希望能跟银行多沟通，开放银行存管渠道，像我们P2P跟银行沟通是非常困难的，我们只能通过第三方支付跟银行联合存管来实现监管要求，对于我们来说，我们最好能实现银行的单独存管，来更加增加公司的征信力度，而且还让投资者更认可、信任我们。
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>主持人</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  也算是更好的为我们投资人服务的一个动作，其实随着监管意见稿的发布，我们P2P行业会进入一个洗牌期，那汇诚普惠在未来的一个阶段，或者说有什么一个长久的规划，长久的目标呢？您能来介绍一下吗？
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>张巍</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  我们目前今年年内的目标是把福建省所有的营业网点全部布满，现在已经在福建省有六家直营营业部，相对我们来说今年我们的业绩待收目标是两亿，每个月正在以每个月一千多万的待收在增长，所以说在风险可控的情况下，我们会尽量的扩直营点，降低我们的融资成本，规模做大，尽量让投资者能投到标，能享受到我们相对好的理财产品，谢谢。
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>主持人</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  直下来要问到您，对于我们网贷之家，福建省这样的神州行活动，您认为有什么收益么？包括刚刚也是听了您一个非常简短的，非常精彩的演讲，您能简单的再来传达一下吗？
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>张巍</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  其实，我很高兴能参加网贷之家神州行活动，我感觉网贷之家主办这个活动一直以来都觉得能增加我们福建地区的行业和投资人的互动，这是一个非常好的机会，我能有幸参加网贷之家，网贷神州行的巡回福州站，我是很荣幸的，但是我发现今天的投资人相对可能当地的热度不够高，我是希望网贷之家可以多宣导投资人多加入这个大家庭，能让我们的网贷更健康。
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>主持人</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  那最后要问到您的问题就是您对于网贷新手，小白用户有什么建议或者给大家一个诀窍呢？
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>张巍</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  其实我自己在14年就有投资网贷，也投了100多万，在我看来网贷其实最大的问题就是假标和自融，我对于新手的建议，第一就是经常去网贷公司查访标的材料，最好要找有投资者监委的公司，然后在标的类别上尽量选择有抵押类的标，就比如说汽车跟房产，其实汽车是优于房产的，因为就以前我投资的记录来说，相对汽车的P2P平台发展的都会比房产的快，因为房产相对比较大，处置周期会相对慢一点，汽车会相对精而小，处置周期会相对快一点，所以说这块我觉得能给投资者一些建议的，谢谢。
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>主持人</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  还是要非常感谢汇诚普惠张总来参加这次活动，同时也是非常荣幸能够邀请到您来接收我们的专访，同时也要住汇诚普惠越办越好。
                </p>

              </div>
            </li>
            <li class="zhuchir">
              <div class="zhibo_left">
                <span>张巍</span>
              </div>
              <div class="zhibo_right">
                <i></i>
                <p>
                  谢谢网贷之家给我们一次机会，来参加网贷交流会，我们作为在网贷行业中车贷领域平台，我们在经营风险的同时，我们会把车贷这个领域生根下去，因为我觉得在做金融就是经营风险，我们要控制风险的情况下，才能把业务做好，把网贷做好才能让投资人更信任我们，谢谢。
                </p>

              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="allwid" style="margin-bottom: 40px;">
        <div class="title_hd">
          <img src="<?=RSRC?>/images/jiaoliu/t6.png" alt="" />
        </div>
        <div class="logoBox">
          <div class="logoMod">
            <a class="pic pic_block" href="http://news.cnfol.com/huiyihuodong/20160509/22721027.shtml" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/20160425131900s_.jpg" />
            </a>
            <a class="pic pic_block" href="http://news.rzw.com.cn/rzqiye/20160510/1462845903403.html" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/link12.jpg" />
            </a>
            <a class="pic pic_block" href="http://mt.sohu.com/20160508/n448326529.shtml" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/shouhu.png"/>
            </a>
            <a class="pic pic_block" href="http://biz.cb.com.cn/jinrong/2016_0510/1200822.html" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/zhongguojingyingbao.png" />
            </a>
            <a class="pic pic_block" href="http://www.wdzj.com/news/guandian/28706.html" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/link1.jpg" />
            </a>
            <a class="pic pic_block" href="http://www.csai.cn/p2pzixun/1162333.html" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/link2.jpg" />
            </a>
            <a class="pic pic_block" href="http://finance.stockstar.com/CP2016051000001794.shtml" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/link3.jpg" />
            </a>
            <a class="pic pic_block" href="http://www.1545ts.com/taiannews/contents/737/283340.html" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/link4.jpg" />
            </a>
            <a class="pic pic_block" href="http://www.hbsztv.com/2016/0510/554330.html" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/link5.jpg" />
            </a>
            <a class="pic pic_block" href="http://www.tj.xinhuanet.com/2016-05/10/c_1118836491.htm" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/link6.jpg"/>
            </a>
            <a class="pic pic_block" href="http://www.caixunchina.com/qihuo/201605103706.html" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/link7.jpg"/>
            </a>
            <a class="pic pic_block" href="http://news.xkb.com.cn/life/qykb/2016/0510/77578.html" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/link8.jpg"/>
            </a>
            <a class="pic pic_block" href="http://science.china.com.cn/2016-05/10/content_8758874.htm" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/link9.jpg"/>
            </a>
            <a class="pic pic_block" href="http://boss.fjsen.com/finance/20160510/964.htm" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/link10.jpg"/>
            </a>
            <a class="pic pic_block" href="http://yueyu.cntv.cn/2016/05/10/ARTIg6XfIyMGBWcVbKL1ldVI160510.shtml" target="_blank">
              <img src="<?=RSRC?>/images/jiaoliu/link11.jpg"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<?php $this->display('footer.html');?>