<?php $this->display('header.html');?>
<?php $assetRoot = WEB_ASSET.'/common/pages/jrMeeting/';?>
<div id="asset-root" style="display: none;"><?=$assetRoot?></div>
<link rel="stylesheet" type="text/css" href="<?=$assetRoot?>page.css">
<link href="http://cdn.bootcss.com/bxslider/4.2.12/jquery.bxslider.min.css" rel="stylesheet">
<div id="meet20170317">
  <div class="header hidetext">
    <h2>汇诚普惠受邀参加网贷平台转型之路</h2>
    <p>2017年3月4日 福建省互联网金融协会组织举办有关于“网贷平台转型之路”的研讨会。会议邀请了十余家会员单位负责人及高管参与，汇诚普惠作为福建省P2P行业的佼佼者也在受邀之列。</p>
  </div>
  <div class="area01 hidetext">
    <h3><strong>协会会长</strong>黄孝煜<br /><small>平安银行福州分行网络金融部 总经理</small></h3>
    <p>针对“网贷平台转型之路”的主题进行以下演讲：</p>
    <ol>
      <li>《P2P网络借贷业务管理暂行办法》颁布后网贷平台遇到的合规瓶颈</li>
      <li>平台合规转型的5个方向：金融科技、供应链金融、消费金融、网络小贷、金交所</li>
      <li>监管暂行办法对网贷企业的主要影响</li>
      <li>就银行存管方面，发表了个人观点</li>
    </ol>
  </div>
  <div class="area02 hidetext">
    <h3><strong>协会主任</strong>潘长风</h3>
    <blockquote>协会专业委员会主任潘长风博士指出网贷平台必须融入行业和生态，积极寻找可发展的路径，勇于创新，才能发挥价值，在差异互补之间发挥力量。</blockquote>
    <ul>
      <li>闽江学院两岸发展研究院 副院长</li>
      <li>厦门大学经济学 博士</li>
      <li>海西财政与金融发展研究中心 主任</li>
      <li>复旦大学风险研究投资中心 访问学者</li>
    </ul>
  </div>
  <div class="area03">
    <ul class="picSlider">
      <li><img src="<?=$assetRoot?>img/pic/01.jpg" alt="照片" /></li>
      <li><img src="<?=$assetRoot?>img/pic/02.jpg" alt="照片" /></li>
      <li><img src="<?=$assetRoot?>img/pic/03.jpg" alt="照片" /></li>
      <li><img src="<?=$assetRoot?>img/pic/04.jpg" alt="照片" /></li>
      <li><img src="<?=$assetRoot?>img/pic/05.jpg" alt="照片" /></li>
    </ul>
  </div>
  <div class="area04 hidetext">
    <p>参会单位代表纷纷发表自己的看法，其中信和贷李诗山董事长、国浩郭里铮律师、汇诚普惠CEO张巍等都提出自己的见解。之后大家对网贷平台转型的方向进行了深入而激烈的讨论。</p>
    <p>随着互联网金融行业一步步走向规范化，汇诚普惠也正在努力创建更加合规化的平台，提供更加优质的网贷中介服务，给予广大投资人更好的体验。</p>
  </div>
</div>
<?php $this->display('footer.html');?>