<?php $this->display('header.html');?>
<div class="red-wrap">
	<div class="ac-header"></div>
	<div class="main" style="width:995px;background: #fffded;">
		<div class="staff clearfix">
			<div>
				<h2 class="redtitle"><img src="<?=RSRC?>/images/huodong1.png"></h2>
				<div class="content-1">
					<a href="<?=WEB_USER?>/register"><img src="<?=RSRC?>/images/sp-reg-btn.png"></a>
				</div>
			</div>
			<div>
				<h2 class="redtitle"><img src="<?=RSRC?>/images/huodong2.png"></h2>
				<div class="head head-1"><span>NO.1</span>推荐奖励图</div>
				<div class="conent-2">
					<div class="content-p1"><img src="<?=RSRC?>/images/huodong-c2.png"></div>
					<div class="content-p2"><img src="<?=RSRC?>/images/huodong-c3.png"></div>
				</div>
				<div class="head head-2"><span>NO.2</span>如何推荐</div>
				<div class="content-3 clearfix">
					<div class="step-1">
						<div class="setp-head">方式一</div>
						<img width="400" src="<?=RSRC?>/images/spreg-s1.png">
					</div>
					<div class="step-2">
						<div class="setp-head">方式二</div>
						<img width="400" src="<?=RSRC?>/images/spreg-s2.png">
					</div>
				</div>
				<div class="more"><a href="/activity/spread"><img src="<?=RSRC?>/images/spreg-more.png"></a></div>
			</div>
			<div>
				<h2 class="redtitle"><img src="<?=RSRC?>/images/huodong3.png"></h2>
				<div class="content-4">
					<p>1. 新人待收本金从新人首个非债权转让标的首次结息日后一日开始计入推荐奖励公式进行计算，首个非债权转让标如在首次结息日前发生债权转让，开始计入新人待收的时间将自动顺延至下一个非债权转让标的首次结息日后一日；</p>
					<div class="exp">
						<p>例如：该新人在4月10日投资一个1月债权转让标5万元（首次结息日：5月10日）；4月12日投资一个1月标10万元（首次结息日：5月12日，而该标在5月1日债权转让给其他投资用户）；4月15日投资一个3月标10万元（首次结息日：5月15日）；4月17日投资一个3月标20万元（首次结息日：5月17日），之后无其他投标。</p>
						<p>由于4月10日投资的标的为债权转让标，4月12日投资的首个非债权转让标发生债权转让，而4月15日投资的第二个非债权转让标的首次结息日为5月15日，所以在5月16日时推荐奖励公式开始计入该新人的待收本金，待收本金为30万元（分别为4月15日和4月17日投资的三月标待收本金）</p>
					</div>
					<p>2. 待收本金仅为真实项目投资的待收本金，不包含虚拟金标、天标等活动类型标的；</p>
					<p>3. 推荐奖励每日获得（预计22:00:00-23:59:59发放），推荐奖励以发放时间点的新人待收本金进行计算；</p>
					<p>4. 红包活动具体下线时间以公告为准，推荐奖励统计有效期为一年，即新人的待收本金计入推荐奖励公式满一年后不再计入；</p>
					<p>5. 新推荐活动上线后，保留系统原有推荐关系，原有推荐关系也将重新获得一年的奖励统计有效期；</p>
					<p>6. 此活动仅限汇诚普惠注册用户参与，最终解释权归汇诚普惠所有，更多详情请联系客服热线：400-186-9996</p>
				</div>
			</div>

			
		</div>
	</div>
</div>
<?php $this->display('footer.html');?>