<?php $this->display('header.html');?>
<?php $assetRoot = WEB_ASSET.'/common/pages/tjInspect/';?>
<link rel="stylesheet" type="text/css" href="<?=$assetRoot?>page.css">
<div id="meet20170315">
  <div class="header hidetext">
    <h3>投监会考察报告</h3>
  </div>
  <div class="part1 back0">
    <p>2017年3月9日下午两点，投监会会长李戈春和投资者范祖修莅临汇诚普惠平台代表投资人对汇诚普惠平台进行考察。以下将两位对平台的考察情况反馈给广大投资者，汇诚普惠同时也欢迎更多的投资者来平台进行考察。</p>
  </div>
  <div class="part2">
    <h4 class="titleArea">考察流程</h4>
    <p class="imgArea"><img src="<?=$assetRoot?>img/flow.png" alt="考察流程" /></p>
  </div>
  <div class="part1 back0">
    <p>本次两位的考察工作主要以银行存管为主，以下是考察过程中会长代表投资人向我们了解的内容，希望能为其他投资人提供帮助！</p>
  </div>
  <div class="part3" data-func="qna">
    <dl class="close">
      <dt>银行存管的进度、执行到什么阶段、预计什么时候可以完成？</dt>
      <dd>
        <ul class="picArea">
          <li><a href="<?=$assetRoot?>img/pic01/01.jpg" rel="wxImage" title="微信截图" data-func="imgBox"><img src="<?=$assetRoot?>img/pic01/01_thumb.png" alt="微信截图" /></a></li>
          <li><a href="<?=$assetRoot?>img/pic01/02.jpg" rel="wxImage" title="微信截图" data-func="imgBox"><img src="<?=$assetRoot?>img/pic01/02_thumb.png" alt="微信截图" /></a></li>
          <li><a href="<?=$assetRoot?>img/pic01/03.jpg" rel="wxImage" title="微信截图" data-func="imgBox"><img src="<?=$assetRoot?>img/pic01/03_thumb.png" alt="微信截图" /></a></li>
        </ul>
        <p>目前已和银行存管的银行进行了资料对接并完成第二轮尽调，现银行方已在走相应流程。预计4月就可以签署协议，下一步就能进行技术对接进入技术研发阶段，待技术研发完成并测试通过即可进行上线。让我们一起期待银行存管的上线吧。</p>
        <p>右侧为会长抽查的聊天记录。</p>
      </dd>
    </dl>
    <dl class="close">
      <dt>关于金融办的备案？</dt>
      <dd>
        <p>因为福州市的金融办还未出台网贷机构备案管理方法，目前只有厦门市在2017年2月份出台了全国首个网贷机构备案管理办法，所以我们福州还不能进行备案。</p>
      </dd>
    </dl>
    <dl class="close">
      <dt>ICP（网络内容服务商）许可证的办理进度？</dt>
      <dd>
        <p>网站只有做了ICP备案才可以申请ICP许可证，需要建立政府相关部分的调研机制，有地方金融办负责对平台相关资质进行审查，然后提报通管局，按要求申报，这对于P2P平台来说做ICP许可证都非常的困难。而汇诚普惠目前已经进行了ICP备案，由于福州市金融办目前没有出台网贷机构备案管理方法，所以ICP许可证暂时无法办理。</p>
      </dd>
    </dl>
    <dl class="close">
      <dt>标的数量太少，抢不到标，导致资金滞留。</dt>
      <dd>
        <p>为了解决用户反馈的标的少的问题，我们的普惠金融即将上线，到时将很好的解决这方面的问题，给大家带来的不便敬请谅解。</p>
      </dd>
    </dl>
    <dl class="close">
      <dt>普惠金融什么时候可以上线？</dt>
      <dd>
        <p>预计在三月中下旬上线，目前已经进入技术测试阶段，测试完成后即可上线。</p>
      </dd>
    </dl>
    <dl class="close">
      <dt>普惠金融的利率和车贷有什么区别？是更高还是更低？</dt>
      <dd>
        <p>几乎没有什么区别，我们是经过测算来确保两边的利率平衡。</p>
      </dd>
    </dl>
    <dl class="close">
      <dt>普惠金融的扩张都是直营吗？</dt>
      <dd>
        <p>都是直营。今年我们已经开始有计划的布点扩张。目前福建省大部分城市，广东省及江西省的部分城市都开始营业。下一步将计划进行更大范围的扩张，如：安徽省、贵州省等。</p>
      </dd>
    </dl>
    <dl class="close">
      <dt>标的的真实性？</dt>
      <dd>
        <p>我们的标的都是真实的。</p>
        <ul class="itemArea">
          <li>我们保证借款标的真实信息在不泄露借款人隐私的前提下最大程度的公开，并保证借款人的借款信息清晰，身份信息详细、可靠；</li>
          <li>平台也将借款审核过程透明化：公开尺度标准，手续和资料要求严谨；</li>
          <li>平台提供的证明材料都是有法律保障的，都通过公证机构验证；</li>
          <li>平台公开资金担保情况；</li>
          <li>平台进行了第三方资金托管；</li>
        </ul>
      </dd>
    </dl>
    <dl class="close">
      <dt>万一发生问题（如二押）的话是否有一部分资金保障？</dt>
      <dd>
        <p>我们平台设立了风险拨备金，当借款项目发生还款逾期时，我们将使用风险拨备金回购逾期借款债权，降低投资风险保证平台与投资人双方权益。而我们在借贷的各个环节都严格把关，车贷人员在贷前对车辆抵押情况进行了摸底调查，尽量会避免手车、担保车、公司车、无年检车辆等等的情况发生。</p>
      </dd>
    </dl>
    <dl class="close">
      <dt>论坛有手机版吗？</dt>
      <dd>
        <p>目前手机版的论坛处于研发阶段，论坛是一种很好的信息交流方式，方便进行信息共享、互动。而大多数人现在都习惯使用手机，更加依赖手机，所以开发手机版论坛也能更方便大家的交流。为了能尽早地为大家提供便利，我们将加快我们的研发速度。</p>
      </dd>
    </dl>
  </div>
  <div class="part4">
    <h4 class="titleArea">考察现场照片展示</h4>
    <ul>
      <li class="line1 pos1"><img src="<?=$assetRoot?>img/pic02/01_thumb.png" alt="照片" /></li>
      <li class="line1 pos3"><img src="<?=$assetRoot?>img/pic02/02_thumb.png" alt="照片" /></li>
      <li class="line1 pos5"><img src="<?=$assetRoot?>img/pic02/03_thumb.png" alt="照片" /></li>
      <li class="line1 pos7"><img src="<?=$assetRoot?>img/pic02/04_thumb.png" alt="照片" /></li>
      <li class="line2 pos2"><img src="<?=$assetRoot?>img/pic02/05_thumb.png" alt="照片" /></li>
      <li class="line2 pos4"><img src="<?=$assetRoot?>img/pic02/06_thumb.png" alt="照片" /></li>
      <li class="line2 pos6"><img src="<?=$assetRoot?>img/pic02/07_thumb.png" alt="照片" /></li>
      <li class="line2 pos2"><a href="<?=$assetRoot?>img/pic02/05.jpg" rel="xcImage" title="查看银行存管资料" data-func="imgBox"></a></li>
      <li class="line2 pos4"><a href="<?=$assetRoot?>img/pic02/06.jpg" rel="xcImage" title="银行存管问题讨论" data-func="imgBox"></a></li>
      <li class="line2 pos6"><a href="<?=$assetRoot?>img/pic02/07.jpg" rel="xcImage" title="进入标的档案室" data-func="imgBox"></a></li>
      <li class="line1 pos1 link"><a href="<?=$assetRoot?>img/pic02/01.jpg" rel="xcImage" title="两位考察者到达现场" data-func="imgBox"></a></li>
      <li class="line1 pos3 link"><a href="<?=$assetRoot?>img/pic02/02.jpg" rel="xcImage" title="进行工作环境参观" data-func="imgBox"></a></li>
      <li class="line1 pos5 link"><a href="<?=$assetRoot?>img/pic02/03.jpg" rel="xcImage" title="问题交流" data-func="imgBox"></a></li>
      <li class="line1 pos7 link"><a href="<?=$assetRoot?>img/pic02/04.jpg" rel="xcImage" title="银行存管资料分发" data-func="imgBox"></a></li>
    </ul>
  </div>
  <div class="part1 back1">
    <p>李会长和范先生实地考察了平台的基本情况后，又了解汇诚普惠银行存管方面的资料，深入熟悉了汇诚普惠银行存管各方面的问题，以及提出了个人的看法。紧接着二位抽查了标的的资料，认真地查看了平台借款人的个人资料、与平台签署的合同协议以及各种证明材料。然后对抽查的标的进行了与数据库的标的核实。汇诚普惠的工作人员全程配合李会长和范先生的考察工作，希望能给汇诚普惠的投资人展现一个真实、透明、可信任的平台。</p>
  </div>
  <div class="part5">
    <h4 class="titleArea">考察资料照片展示</h4>
    <ul data-func="picGroup">
      <li class="imgBtn imgBtnLeft"><button>向左</button></li>
      <li class="imgBtn imgBtnRight"><button>向右</button></li>
      <li data-group="left">
        <ul class="imgList">
          <li><a href="<?=$assetRoot?>img/pic02/P01.jpg" rel="zlImage" title="李会长进入档案室" data-func="imgBox"><img src="<?=$assetRoot?>img/pic02/P01_thumb.png" alt="截图" /><span>李会长进入档案室</span></a></li>
          <li><a href="<?=$assetRoot?>img/pic02/P02.jpg" rel="zlImage" title="李会长正在抽取档案" data-func="imgBox"><img src="<?=$assetRoot?>img/pic02/P02_thumb.png" alt="截图" /><span>李会长正在抽取档案</span></a></li>
          <li><a href="<?=$assetRoot?>img/pic02/P03.jpg" rel="zlImage" title="李会长打开档案袋" data-func="imgBox"><img src="<?=$assetRoot?>img/pic02/P03_thumb.png" alt="截图" /><span>李会长打开档案袋</span></a></li>
          <li><a href="<?=$assetRoot?>img/pic02/P04.jpg" rel="zlImage" title="会长仔细查阅档案" data-func="imgBox"><img src="<?=$assetRoot?>img/pic02/P04_thumb.png" alt="截图" /><span>会长仔细查阅档案</span></a></li>
          <li><a href="<?=$assetRoot?>img/pic02/P05.jpg" rel="zlImage" title="档案问题交流" data-func="imgBox"><img src="<?=$assetRoot?>img/pic02/P05_thumb.png" alt="截图" /><span>档案问题交流</span></a></li>
          <li><a href="<?=$assetRoot?>img/pic02/P06.jpg" rel="zlImage" title="档案疑问解答" data-func="imgBox"><img src="<?=$assetRoot?>img/pic02/P06_thumb.png" alt="截图" /><span>档案疑问解答</span></a></li>
          <li><a href="<?=$assetRoot?>img/pic02/P07.jpg" rel="zlImage" title="进行档案说明" data-func="imgBox"><img src="<?=$assetRoot?>img/pic02/P07_thumb.png" alt="截图" /><span>进行档案说明</span></a></li>
          <li><a href="<?=$assetRoot?>img/pic02/P08.jpg" rel="zlImage" title="核对档案细节" data-func="imgBox"><img src="<?=$assetRoot?>img/pic02/P08_thumb.png" alt="截图" /><span>核对档案细节</span></a></li>
        </ul>
      </li>
      <li data-group="right" class="hidden">
        <ul class="imgList">
          <li><a href="<?=$assetRoot?>img/pic02/P09.jpg" rel="zlImage" title="详细审阅客户档案" data-func="imgBox"><img src="<?=$assetRoot?>img/pic02/P09_thumb.png" alt="截图" /><span>详细审阅客户档案</span></a></li>
          <li><a href="<?=$assetRoot?>img/pic02/P10.jpg" rel="zlImage" title="档案核对" data-func="imgBox"><img src="<?=$assetRoot?>img/pic02/P10_thumb.png" alt="截图" /><span>档案核对</span></a></li>
          <li><a href="<?=$assetRoot?>img/pic02/P11.jpg" rel="zlImage" title="车辆核对" data-func="imgBox"><img src="<?=$assetRoot?>img/pic02/P11_thumb.png" alt="截图" /><span>车辆核对</span></a></li>
          <li><a href="<?=$assetRoot?>img/pic02/P12.jpg" rel="zlImage" title="数据库信息核对" data-func="imgBox"><img src="<?=$assetRoot?>img/pic02/P12_thumb.png" alt="截图" /><span>数据库信息核对</span></a></li>
          <li><a href="<?=$assetRoot?>img/pic02/P13.jpg" rel="zlImage" title="数据库信息说明" data-func="imgBox"><img src="<?=$assetRoot?>img/pic02/P13_thumb.png" alt="截图" /><span>数据库信息说明</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="part1 back2">
    <p>最后，我们要感谢李会长和范先生在百忙之中抽身到汇诚普惠平台进行考察，汇诚普惠也会尽我们的全力将平台运营的更好，为平台的投资人带来更多的利益，为平台的投资人提供安全保障。对于本次的考察，广大投资者如果有更多想要了解的问题可以通过邮件或微信的方式联系李戈春会长（邮箱地址：xiaoweitjh@163.com，微信号：gege490238）或者联系汇诚普惠的在线客服，客服将详细地为您解答，同时汇诚普惠也欢迎广大的投资人到平台进行考察，更深入了解汇诚普惠。</p>
  </div>
</div>
<?php $this->display('footer.html');?>