<?php $this->display('header-index.html');?>
<?php $assetRoot = WEB_ASSET.'/common/pages/visit/';?>
<link rel="stylesheet" href="<?=$assetRoot?>page.css">
<section id="visit20170503mobile" class="visible-xs-block visible-sm-block">
    <div class="mobiPage">
        <img src="<?=$assetRoot?>img/mobi/1.jpg" alt="汇诚普惠，邀您考察" />
        <img src="<?=$assetRoot?>img/mobi/2.jpg" alt="参与方式" />
        <img src="<?=$assetRoot?>img/mobi/3.jpg" alt="报销说明" />
        <img src="<?=$assetRoot?>img/mobi/4.jpg" alt="报名方式 方式一" />
        <img src="<?=$assetRoot?>img/mobi/5.jpg" alt="报名方式 方式二" />
</div>
</section>
<section id="visit20170503" class="visible-md-block visible-lg-block">
    <div class="header">
        <div class="inner-box">
            <h2 class="hidden">汇诚普惠，邀您考察</h2>
            <ul class="hidden">
                <li>问题咨询了解</li>
                <li>银行存管考察</li>
                <li>抽查标的资料</li>
                <li>标的资料核实</li>
            </ul>
            <p>网贷平台考察一直是投资人了解平台最直观的方式。为了让投资者能进一步的了解汇诚普惠平台，消除投资人心中的疑虑，也应<strong>投监会</strong>的<strong>银行存管</strong>考察要求，汇诚普惠平台真诚的邀请投资者来对小微进行第二轮<strong>实地考察</strong>。</p>
        </div>
    </div>
    <div class="area01">
        <div class="inner-box">
            <h3>参与方式</h3>
            <p>本次的考察采用用户自主报名的方式，用户报名成功后，小微团队会筛选其中的 <strong> 5 </strong> 位报名用户进行电话确认并在官网公布考察人员名单，想要参与的广大小微投资者可以踊跃报名。（平台会根据投资人近期的投资金额、投资频次情况进行筛选）</p>
            <h3>考察流程</h3>
        </div>
    </div>
    <div class="area02">
        <div class="inner-box">
            <h3 class="pos01">报销说明</h3>
            <div class="pos02">
                <h4>报销标准</h4>
                <p>考察人员常住地址在</p>
                <ul class="list-unstyled">
                    <li><span>A</span>福州城区：无</li>
                    <li><span>B</span>省内：交通费补贴300元/人/次</li>
                    <li><span>C</span>省外：交通费+住宿补贴共计700元/人/次</li>
                </ul>
            </div>
            <div class="pos03">
                <h4>报销条件</h4>
                <ul class="list-unstyled">
                    <li><span>A</span>需在汇诚普惠微社区发布本次的考察心得、感想；</li>
                    <li><span>B</span>提供必要的报销票据。</li>
                </ul>
            </div>
            <h3 class="pos04">报名方式</h3>
            <div class="pos05">
                <p><span>扫描右侧二维码，</span>填写报名信息（真实姓名、联系方式、所在省市、小微账号、QQ）后，提交即可报名成功。</p>
            </div>
            <div class="pos06">
                <p>拨打客服电话<strong> 400-186-9996  </strong>或联系客服QQ进行报名。</p>
                <p>（工作日值班时间：9:00-21:00，周六、周日值班时间：9:00-12:00，13:30-17:30）</p>
            </div>
            <ul class="pos07">
                <li>报名截止时间：<span>2017年5月14日 17:00</span></li>
                <li>考察名单公布时间：<span>2017年5月15日</span></li>
                <li>实地考察时间：<span>2017年5月19日</span></li>
            </ul>
            <dl class="pos08">
                <dt>说明</dt>
                <dd>考察名单将在小微官网的公告及微信订阅号公布，并以短信的方式发送到入选的用户手机中，请用户注意查收。</dd>
            </dl>
        </div>
    </div>
    <!-- 活动未结束 -->
    <div class="area03"></div>
    <!--/ 活动未结束 end -->
    <!-- 活动结束 -/->
    <div class="area04">
        <div class="inner-box">
            <h3 class="pos01">名单公布</h3>
            <div class="row pos02">
                <p>根据小微团队的筛选，最终确定本次考察人员为以下 5 位：</p>
                <table>
                    <tbody>
                        <tr>
                            <th>①</th>
                            <td>张**</td>
                            <td>1379****023</td>
                            <td>福建省福州市</td>
                            <td>投资者</td>
                        </tr>
                        <tr>
                            <th>②</th>
                            <td>张**</td>
                            <td>1379****023</td>
                            <td>福建省福州市</td>
                            <td>投资者</td>
                        </tr>
                        <tr>
                            <th>③</th>
                            <td>张**</td>
                            <td>1379****023</td>
                            <td>福建省福州市</td>
                            <td>投资者</td>
                        </tr>
                        <tr>
                            <th>④</th>
                            <td>张**</td>
                            <td>1379****023</td>
                            <td>福建省福州市</td>
                            <td>投资者</td>
                        </tr>
                        <tr>
                            <th>⑤</th>
                            <td>张**</td>
                            <td>1379****023</td>
                            <td>福建省福州市</td>
                            <td>投资者</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3 class="pos03">考察结果</h3>
            <div class="pos04">
                <ul class="picSlider">
                  <li><img src="<?=$assetRoot?>img/temp/01.jpg" alt="照片" /></li>
                  <li><img src="<?=$assetRoot?>img/temp/01.jpg" alt="照片" /></li>
                  <li><img src="<?=$assetRoot?>img/temp/01.jpg" alt="照片" /></li>
                  <li><img src="<?=$assetRoot?>img/temp/01.jpg" alt="照片" /></li>
                  <li><img src="<?=$assetRoot?>img/temp/01.jpg" alt="照片" /></li>
                </ul>
            </div>
        </div>
    </div>
    <!-/-/ 活动结束 end -->
</section>
<?php $this->display('footer-index.html');?>