<?php $this->display('header-index.html');?>
<?php $assetRoot = WEB_ASSET.'/common/pages/visit201705/';?>
<link rel="stylesheet" href="<?=$assetRoot?>page.css">
<!-- 页面主体开始 -->
<section id="visit20170523mobile" class="visible-xs-block visible-sm-block">
    <div class="mobiPage">
        <img src="<?=$assetRoot?>img/mobi/1.jpg" alt="考察流程介绍" />
        <img src="<?=$assetRoot?>img/mobi/2.jpg" alt="深入汇诚普惠" />
        <img src="<?=$assetRoot?>img/mobi/3.jpg" alt="银行存管考察" />
        <img src="<?=$assetRoot?>img/mobi/4.jpg" alt="借款信息核实" />
        <img src="<?=$assetRoot?>img/mobi/5.jpg" alt="平台业务答疑" />
        <img src="<?=$assetRoot?>img/mobi/6.jpg" alt="线下门店考察" />
    </div>
</section>
<section id="visit20170523" class="visible-md-block visible-lg-block">
    <div class="header">
        <div class="inner-box">
            <h2 class="hidden">第2轮考察圆满结束</h2>
            <h3>考察流程介绍</h3>
            <ul class="list-unstyled">
                <li class="pos01">小微总部参观</li>
                <li class="pos02">银行存管考察</li>
                <li class="pos03">借款信息核实</li>
                <li class="pos04">平台业务答疑</li>
                <li>线下门店考察</li>
            </ul>
        </div>
    </div>
    <div class="area01">
        <div class="inner-box">
            <p>本次的考察通过考察用户报名、考察用户名单筛选环节后，于<strong>2017年5月19日</strong>终于迎来了我们的<strong>5</strong>位投资者。本次考察以<strong>投监会李会长</strong>为首，参与考察的投资者还有来自福建福州的林先生、周先生，上海青浦的韩先生，浙江温州的王先生，感谢他们百忙之中抽空莅临汇诚普惠参加本次的考察，汇诚普惠欢迎他们的到来，同时也欢迎广大的投资者参与本次考察的监督。</p>
        </div>
    </div>
    <div class="area02">
        <div class="inner-box">
            <h3 class="pos01">深入汇诚普惠</h3>
            <p class="pos02">5月19日下午，工作人员带领5位投资者参观了小微总部工作环境，介绍了每个部门的日常工作流程，让投资者们对小微团队有了更加深入的了解。</p>
            <h3 class="pos03">银行存管考察</h3>
        </div>
    </div>
    <div class="area03">
        <div class="inner-box">
            <h3>借款信息核实</h3>
            <p>在投资人心中，一直存在着对平台是否存在虚假标的疑问。投资者现场对借款人的信息进行了核实，并对借款人进行电话确认。</p>
        </div>
    </div>
    <div class="area04">
        <div class="inner-box">
            <h3>平台业务答疑</h3>
            <p>投资者们一直对汇诚普惠目前的平台业务不尽了解，因此小微团队为考察人员提出的平台业务流程相关问题给予了准确的回答。</p>
            <dl class="box05"></dl>
            <dl class="box06">
                <dt>使用什么模式的银行存管？和第三方联合还是直接存管的模式？</dt>
                <dd>平台将使用是银行直接存管模式，平台数据将进行迁移，不考虑和第三方联合模式。</dd>
            </dl>
            <dl class="box04">
                <dt>存管上线后充值、提现规则的变化？</dt>
                <dd>银行存管上线后，平台投资人将在该银行开设电子账户，充值、提现等相关资金操作都在电子账户内完成，具体的充值、提现规则以银行方公布为主。</dd>
            </dl>
            <dl class="box03">
                <dt>存管上线后债权转让是否会受影响？</dt>
                <dd>平台银行存管上线后，债权转让功能将延续原规则，并在原有的功能基础上进行债权结算的优化。</dd>
            </dl>
            <dl class="box02">
                <dt>今年计划扩充门店到多少家？</dt>
                <dd>目前的营业部已经有22家，已经覆盖的区域为11省。预计到年底扩展到50家左右，实际扩充数量根据小微团队进行评估后做最终扩张决定。</dd>
            </dl>
            <dl class="box01">
                <dt>银行存管进行到哪一步了？</dt>
                <dd>目前银行存管已经进入测试阶段，待测试完成确保没有问题后即可上线，请大家耐心等待。</dd>
            </dl>
        </div>
    </div>
    <div class="area05">
        <div class="inner-box">
            <h3>线下门店考察</h3>
            <p>完成了总部以上相关内容的考察，在小微工作人员的陪同下，投资者动身前往小微线下门店——福州1部，并对营业部人员安排、业务流程、日常工作进行了考察。</p>
        </div>
    </div>
    <div class="area06">
        <div class="inner-box">
            <h3>本次的考察工作已圆满结束</h3>
            <p>汇诚普惠再次感谢5位投资者拔冗莅临汇诚普惠进行实地考察。感谢一路陪伴小微的广大用户，也希望大家继续支持小微，传播一个真实的小微，汇诚普惠也将继续努力，为用户们打造一个合规、安全、透明、真实、可靠的平台。</p>
        </div>
    </div>
</section>
<!-- 页面主体结束 -->
<?php $this->display('footer-index.html');?>