<?php $this->display('header.html');?>
<div id="user-app">
    <?php $this->display('position.html');?>
    <!-- 主体 的右边-->
    <div class="container admin_body">
        <?php $this->display('menu.html');?>
        <div class="admin_right_body">
        	<div class="userSetBody">
			<h1 class="userSetTitle">开通存管</h1>
			<div>
				<form id="open-custody-form" class="user-form" action="/account/openCustody" method="post">
			      <input type="hidden" name="type" value="<?=$type?>">
			      <div class="input-wrap mt10 w clearfix">
			      	<span class="cRed">*</span>
			        <label class="label">手机号码</label>
			        <div class="static-input">
			          <span><?=_hide_phone($user->phone)?></span>
			        </div>
			      </div>
			      <div class="input-wrap mt10 w clearfix">
			        <span class="cRed">*</span>
			        <label class="label">真实姓名</label>
			        <input class="ui-input input-icon" id="custody-name" name="name" type="text" placeholder="请输入您的真实姓名" />
			      </div>
			      <div class="input-wrap mt10 w clearfix">
			        <span class="cRed">*</span>
			        <label class="label">身份证</label>
			        <input class="ui-input input-icon" id="custody-cardnum" name="cardnum" type="text" placeholder="请输入您的身份证号" />
			      </div>
			      <div class="input-wrap mt10 w clearfix">
			        <span class="cRed">*</span>
			        <label class="label">银行卡号</label>
			        <input class="ui-input input-icon" id="custody-bankNum" name="bankNum" type="text" placeholder="请输入您的银行卡号" />
			      </div>
			      <div class="mt10 checkbox-wrap">
			        <label style="color: #666;"><input id="custody-check" type="checkbox" /> 我已阅读并同意</label>
			        	<a style="color: #03a2ff;" href="<?=WEB_MAIN?>/safe/custody" target="_blank">《开户协议》</a>
			      </div>
			      <div class="mt30 button-wrap">
			        <input type="submit" value="同意并开通银行存管" class="btn-blue loginbtn pr">
			      </div>
			      </form>
			</div>
		</div>

        </div>
    </div>
</div>
<style type="text/css">
	.user-form .mt10 {margin-top: 10px;}
	.user-form .mt30 {margin-top: 30px;}

	.user-form {
		padding: 30px 50px;
	}
	.user-form .input-wrap {
		margin: 15px 0px;
		line-height: 40px;
	}
	.user-form .input-wrap .ui-input {
		width: 180px;
		height: 25px;
	    display: inline-block;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}
	.user-form .input-wrap .static-input {
		color: #03a2ff;
		float: left;
	}
	.user-form .input-wrap .cRed {
		float: left;
		color: #f00;
		width: 30px;
	}
	.user-form .input-wrap .label {
		color: #666;
		float: left;
		width: 80px;
		text-align: right;
		margin-right: 20px;
	}
	.user-form .btn-blue {
	    color: #fff;
	    padding: 8px 23px;
	    border-radius: 4px;
	    background-color: #03a2ff;
	    border: none;
	    margin: auto;
	    display: table;
	}
</style>
<?php $this->display('footer.html');?>