<?php $this->display('header.html');?>
<div class="middle">
    <?php $this->display('user/common/menu.html');?>
    <div class="main pt20">
        <?php $this->display('account/common/tab-money.html');?>
    	<div class="statictable-wrap full-wrap mb30 pb20">
    		<div class="title">旧系统资金记录
            <a class="more no_unl" href="/account/logs">新系统记录</a>
            </div>
            <div class="data-search-form">
	            <form action="/account/oldlogs" method="get">
					<div class="form-group">
                        <label>类型</label>
                        <select class="select" name="type" style="width:180px;">
                            <option value="all" <?php if('all'==$queries->type):?>selected<?php endif;?>>全部</option>
                            <?php foreach ($types as $key => $value):?>
                            <option value="<?=$key?>" <?php if($key==$queries->type):?>selected<?php endif;?>><?=$value?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>发生时间</label>
                        <input class="ui-input timepicker w180" type="text" name="timeBegin" value="<?=$queries->timeBegin?>">~
                        <input class="ui-input timepicker w180" type="text" name="timeEnd" value="<?=$queries->timeEnd?>">
                    </div>
                    <div class="form-group submit-btn"><input type="submit" class="btn-green-s" value="搜索"></div>
	            </form>
            </div>
            <table class="statictable" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>发生日期</th>
                        <th>类型</th>
                        <th>操作金额(元)</th>
                        <th>可用余额(元)</th>
                        <th>冻结金额(元)</th>
                        <th width="200">说明</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($logs as $key => $log):?>
                    <tr>
                        <td><?=date('Y-m-d H:i:s',$log->addtime)?></td>
                        <td><?=$types[$log->type];?></td>
                        <td>
                            <?php if($log->balance_new>0):?>
                                <span class="c-green">+<?=$log->balance_new?></span>
                            <?php elseif($log->await_new>0):?>
                                <span class="c-green">+<?=$log->await_new?></span>
                            <?php elseif($log->expend_new>0):?>
                                <span class="c-red">-<?=$log->expend_new?></span>
                            <?php endif;?>
                        </td>
                        <td><?=$log->balance?></td>
                        <td>
                            <?php if($log->frost_new>0):?>
                                <?=$log->frost_new?>
                            <?php endif;?>
                        </td>
                        <td class="remark tx-left"><?=$log->remark?></td>
                    </tr>
                    <?php endforeach;?>
                </tbody>
            </table>
            <div class="pagination-wrapper">
                <?=$logs->render();?>
            </div>
            <p class="tc f20 grey-color-6" style="display:none">暂无记录</p>
        </div>
    </div>
</div>
<?php $this->display('footer.html');?>