<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>
<body onload="document.form1.submit()">
<!-- <body> -->
<?php //var_dump($data);?>
<form id="form1" name="form1" method="post" action="<?php echo $url; ?>">
        <input type="hidden" name='number_id' value="<?php echo $data['numberId']; ?>" />
        <input type='hidden' name='mode' value="<?php echo $data['mode']; ?>"/>
        <input type='hidden' name='nick_name' value="<?php echo $data['nickName']; ?>" />
        <!--<input type='hidden' name='advice_url' value="<?php echo $data['adviceUrl']; ?>" />-->
        <input type='hidden' name='return_url' value="<?php echo $data['returnUrl']; ?>" />
        <input type='hidden' name='sign_info' value="<?php echo $data['sign']; ?>" />
</form>
</body>
</html>