<?php $this->display('header.html');?>
<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">添加新闻</h3>
        <div class="box-tools pull-right">
          <a class="btn btn-box-tool" data-toggle="tooltip" data-original-title="返回列表" href="/admin/article/list">
          <i class="fa fa-list"></i></a>
        </div>
      </div>
      <form action="/admin/article/save" class="form-horizontal" method="post" enctype="multipart/form-data">
      <div class="box-body">
        <input type="hidden" name="id" value="<?=$list->id?>">
        <div class="form-group">
          <label class="col-sm-1 control-label">标题</label>
          <div class="col-sm-11">
          <input type="text" class="form-control" name="title" value="<?=$list->title?>" placeholder="输入标题">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">类型</label>
          <div class="col-sm-11">
            <select name="rootType" class="form-control">
              <option value="">请选择...</option>
              <?php foreach($types as $type):?>
              <option value="<?=$type->rootType?>" <?php if($type->rootType==$list->rootType):?>selected<?php endif;?>><?=$type->type_name?></option>
              <?php endforeach;?>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">排序</label>
          <div class="col-sm-11">
          <input type="text" class="form-control" name="addtime" value="<?=$list->addtime?>" placeholder="输入时间">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">点击量</label>
          <div class="col-sm-11">
          <input type="text" class="form-control" name="news_num" value="<?=$list->news_num?>" placeholder="输入点击量">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label">内容</label>
          <div class="col-sm-11">
          <textarea id="editor-container1" class="editor-container" name="news_body" style="width:100%;height:300px;display:none;">
            <?=htmlspecialchars_decode($list->news_body)?>
          </textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-1">&nbsp;</div>
          <div class="col-sm-11">
            <button type="submit" class="btn btn-primary">提交</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
<?php $this->display('footer.html');?>