<?php $this->display('header.html');?>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">新闻列表</h3>
				<div class="box-tools pull-right">
		          <a class="btn btn-box-tool" data-toggle="tooltip" data-original-title="添加新闻" href="/admin/article/add">
		          <i class="glyphicon glyphicon-edit"></i></a>
		        </div>
			</div>
			<div class="box-body pb-0">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-hover mb-0" data-delete="/admin/article/delete">
							<tr>
								<th class="visible-lg">标题</th>
								<th>分类</th>
								<th>添加时间</th>
								<th class="visible-lg">操作</th>
							</tr>
							<?php foreach ($list as $value):?>
							<tr data-id="<?=$value->id;?>">
								<td class="visible-lg"><?=$value->title?></td>
								<td><?=$value->rootType?></td>
								<td class="visible-lg"><?=$value->addtime?></td>
								<td>
									<a class="btn btn-ssm btn-info" href="<?=WEB_MAIN;?>/knowledge/view/id/<?=$value->id?>" target="_blank"> <i class="glyphicon glyphicon-edit icon-white"></i>
										查看
									</a>
									<a class="btn btn-ssm btn-success" href="/admin/know/detail?id=<?=$value->id?>"> <i class="glyphicon glyphicon-edit icon-white"></i>
										编辑
									</a>
									<a class="btn btn-ssm btn-danger btn-delete">
										<i class="glyphicon glyphicon-trash icon-white"></i>
										删除
									</a>
								</td>
							</tr>
							<?php endforeach;?></table>
					</div>
				</div>
			</div>
			<div class="box-footer clearfix">
				<?=$list->render()?>
			</div>
		</div>
	</div>
</div>
<?php $this->display('footer.html');?>