<?php
    use Yaf\Registry;
    use helpers\StringHelper;
    $asset = Registry::get('asset');
?>
<!DOCTYPE html>
<html>
<head>
<?php $asset->begin();?>
</head>
<body>
	<div class="main">
		<div class="header clearfix">
			<div class="logo"></div>
			<div class="title">借款合同</div>
		</div>
		<div class="main-title">
			借款合同
			<?php if($oddMoney):?>
			<a target="_blank" class="download" href="<?=$link?>">【下载合同】</a>
			<?php endif;?>
		</div>
		<div class="main-content">
			<div class="mb10">借款协议号:<u><?=$oddMoney?$oddMoney->tradeNo:''?></u></div>
			<div class="mb10">甲方（资金出借方）:<u><?=$oddMoney?$oddMoney->user->name:''?></u></div>
			<?php if($oddMoney):?>
			<div class="table-wrapper mb10">
				<table class="table">
					<thead>
						<tr>
							<th width="120">出借人网站注册名</th>
							<th width="60">出借人姓名</th>
							<th width="150">身份证号</th>
							<th width="50">借款金额（投标金额）</th>
							<th width="50">借款期限</th>
							<th width="50">年利率</th>
							<th width="100">借款开始日</th>
							<th width="100">借款到期日</th>
                            <th width="80">投标本息</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><?=$oddMoney->user->username?></td>
							<td><?=$oddMoney->user->name?></td>
							<td><?=$oddMoney->user->cardnum?></td>
							<td><?=$oddMoney->money?></td>
                            <td><?=$odd->getPeriod()?></td>
							<td><?=$odd->oddYearRate*100?>%</td>
							<td><?=_date('Y年m月d日', $odd->oddRehearTime)?></td>
							<td><?=_date('Y年m月d日', $oddMoney->getLastEndTime())?></td>
                            <td><?=$oddMoney->getBaseStayMoney()?></td>
						</tr>
					</tbody>
				</table>
			</div>
            <?php 
            	$list = []; 
            	$payMoney = 0;
		        foreach ($oddMoney->invests as $invest) {
		            $list[] = _date('Y年n月j日', $invest->endtime);
		            $payMoney = $invest->zongEr;
		        }
	        ?>
	        <div class="mb10">还款日分别为<?=implode('、', $list)?>，每期还款金额为<?=$payMoney?>元。</div>
	    	<?php else:?>
			<div class="table-wrapper mb10">
				<table class="table">
					<thead>
						<tr>
							<th>受让方网站注册名</th>
							<th>姓名</th>
							<th>身份证号</th>
							<th>租金对价款（投标金额）</th>
							<th>受让期限</th>
							<th>计算租金年利率</th>
							<th>受让开始日</th>
							<th>受让截止日</th>
							<th>月截止租金支付日</th>
							<th>投标本息（租金）</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
			<?php endif;?>

			<div class="mb10">乙方（资金借入方）:<u><?=$odd->user->name?></u></div>
			<div class="mb10">身份证号: <u><?=$odd->user->cardnum?></u></div>
            <div class="mb10">网站注册名: <u><?=$odd->user->username?></u></div>
            <div class="mb10">通讯地址: <u><?=$odd->user->city?></u></div>
			<div class="mb10">联系方式: <u><?=$odd->user->phone?></u></div>
            <div class="mb30">邮箱: <u></u><?=$odd->user->email?></div>
            <div class="mb10">丙方（服务提供商）: <u>福建汇诚普惠科技发展有限公司</u></div>
            <div class="mb10">地址: <u>福建省福州市台江区鳌江路8号万达中心5楼</u></div>
            <div class="mb10">丁方（服务提供商）: <u>福建省众鑫盈资产管理有限公司</u></div>
            <div class="mb10">地址: <u>福建省福州市台江区鳌江路8号万达中心5楼</u></div>
            <div class="mb30">第三方支付平台: <u>汇潮支付有限公司</u></div>

			<div class="mb10">
				<p>甲、乙双方通过丙方的“汇诚普惠”网站（http://www.hcjrfw.com，以下称本网站），就借款事宜本着平等、自愿、诚信原则，依照《中华人民共和国合同法》及相关法律法规，特签订本协议，以资共同遵守。</p>
			</div>

			<div class="item">
				<h4>第1条 总则</h4>
				<p>1.1 本合同：指本《借款合同》（含附件）及本网站公布的各规则、公告、办法等文本以及各方网签的相关协议或合同。</p>
				<p>1.2 丙方与丁方系合法设立并有效存续的企业，双方共同利用各自资源为甲方与乙方提供金融信息咨询服务、信用咨询及管理服务。甲、乙双方均认可丙方提供的网站，双方通过网站达成意愿，认可并遵守网站的经营模式及相关交易规则；甲、乙双方一致同意并委托丙方通过网站提供本次借款所涉及的各类电子合同和纸质合同，委托丙方行使催收催讨、监督借款的使用等权利。同时，甲、乙双方同意并委托第三方支付平台对借款款项进行划付、结算。</p>
				<p>1.3 甲方与乙方应当向丙方与丁方提供委托事项所需要的相关资料信息、文件、凭证等，并保证其真实性、完整性、合法性及有效性。</p>
			</div>
			<div class="item">
				<h4>第2条 借款金额、利率、划付</h4>
				<p>2.1 甲方承诺其出借资金为合法所得，甲方对该资金享有完整且无瑕疵的支配权。甲方预先将借款金额存入其在第三方支付平台开设的电子账户中，委托并授权第三方支付平台将借款从其电子账户中划付到乙方的电子账户。划付款项后，即视为该借款款项已借出。第三方支付平台的转账费用由甲方承担。</p>
				<p>2.2 甲方出借借款金额与借款期限即甲方投标时的金额，借款利率即乙方发标时的借款利率。</p>
			</div>
			<div class="item">
				<h4>第3条 乙方应向丙方与丁方支付的服务费用</h4>
				<p>3.1 乙方确认：就本次借款乙方应向丙方与丁方支付服务费，并由乙丙丁三方另行签订《信用咨询及管理服务协议》。丙丁双方的服务费具体由手机验证费、银行卡验证费、身份验证费、征信审核费、信息发布费、居间服务费、平台运营费、电话客户服务费、客户端使用费等组成。其中，丁方就本合同项下服务应获得的服务费为借款合同金额的1%，丁方同意由丙方统一代收。</p>
				<p>3.2 乙方确认：就本次借款乙方除3.1条款约定的费用外，还应向丙方支付100元（大写：壹佰元整）的账户管理费，用于相关账户的管理。乙方委托甲方直接向丙方支付上述账户管理费用。</p>
			</div>
			<div class="item">
				<h4>第4条 借款用途及还款方式</h4>
				<p>4.1 乙方应严格依照本合同约定的合法用途使用借款，不得挪作他用。乙方承诺借款不用于炒股、买卖期货等及法律禁止的不合法用途。</p>
				<p>4.2 乙方还款金额及还款方式详见协议附件《还款明细说明》。</p>
                <p>4.3 乙方同意授权丙方指定的有支付结算资质的第三方支付平台划转支付本协议项下乙方应支付的费用，向丙方出具委托手续并签订《委托扣款授权书》。</p>
                <p>4.4 乙方应于每期还款日前，将应偿还借款本息及应支付的服务费用（以下简称“每期还款金额”）足额存入（充值）乙方在第三方平台开立的电子账户中，并委托第三方支付平台从乙方的电子账户中划入甲方的电子账户及丙方电子账户。从乙方电子账户中划扣的款项按以下顺序依次归还：</p>
                <p>4.4.1 应向丙方与丁方支付的居间服务费等服务费用；</p>
                <p>4.4.2 如有违约，应付的相关违约金；</p>
                <p>4.4.3 如有逾期的，应付的逾期罚息；</p>
                <p>4.4.4 如提前还款的，应付的提前还款违约金；</p>
                <p>4.4.5 借款利息；</p>
                <p>4.4.6 借款本金。</p>
                <p>划扣款项不足归还上述项目的，则按上述顺序依次抵偿权利人，不足部分由乙方继续归还，并根据本合同约定由乙方向权利人承担相应的违约责任。</p>
                <p>4.5 乙方确认，乙方将每期应还款金额存入第三方支付平台账户的费用及第三方支付平台根据合同约定向甲方与丙方划账支付的费用由乙方承担。</p>
			</div>
			<div class="item">
				<h4>第5条 借款的获得来源</h4>
				<p>5.1 乙方所获借款可能会来自于多位出借人，丙方或第三方支付机构会按照出借人列表所明示的出借比例对该笔还款为相应的出借人进行还款分配。</p>
                <p>5.2 若乙方逾期还款，经丙方同意后，甲方中的多位出借人，可以共同授权指定其中一名出借人向乙方行使债权，或经丙方同意后，甲方中的多位出借人，可以将其债权转让给其中一名出借人。对此，乙方没有异议，乙方确认，自丙方通过站内信或乙方注册丙方网站时填写的电子邮箱等联系方式发送上述授权通知或债权转让通知后，乙方应当向多位出借人共同指定的出借人或债权受让人清偿剩余的全部借款本息及逾期罚息，乙方将不会以任何理由拒绝向甲方共同指定人员清偿剩余债务。</p>
			</div>
			<div class="item">
				<h4>第6条 甲方与乙方的权利义务</h4>
				<p>6.1 为维护网站正常的经营秩序，创造良好的网站交易环境，乙方和甲方通过网站从事活动时，同意遵守如下义务：</p>
                <p>6.1.1 不得在网站虚假注册，向网站提供虚假的个人注册信息和资料；</p>
                <p>6.1.2 不得借助网站从事非法活动；</p>
                <p>6.1.3 不得违反网站公布的各项规则和程序进行操作；</p>
                <p>6.1.4 未经丙方书面同意，乙方和甲方不得擅自就本合同项下的借款期限、借款金额、还款方式、利息的计算及其他影响本合同履行的任何条款另行签署相关的协议或对合同进行变动；</p>
                <p>6.1.5 未经丙方同意或通过丙方平台，甲方不得擅自转让债权；乙方也不得擅自转移债务；</p>
                <p>6.1.6 未经丙方书面同意，乙方不得离开网站及本合同约定的第三方支付平台直接或通过第三人向甲方偿还借款本息及逾期罚息；未经丙方书面同意，甲方也不得离开网站及本合同约定的第三方支付平台直接或通过第三人收取甲方偿还的借款本息及逾期罚息；</p>
                <p>6.1.7 未经丙方书面同意，甲方不得自行免除债务，不得行使抵销权。</p>
                <p>6.2 甲方或乙方存在上述行为的，造成合同其他方损失的，应予以赔偿；甲、乙双方串通、合谋从事上述行为，导致丙方损失的，甲、乙双方应承担连带赔偿责任；甲方或乙方自身权利因此而遭受损害的，由其双方自行解决，丙方有权拒绝接受任何一方的委托进行调解或进行催讨等。</p>
                <p>6.3 如果甲方出现出借资金的继承或赠与，必须由主张权利的继承人或受赠人向丙方出示经国家权威机关认证的继承或赠与权利归属证明文件，丙方确认后方予协助进行资产的转移，由此产生的相关税费，由主张权利的继承人或受赠人，向其主管税务机关申报、缴纳，丙方不负责相关事宜处理。</p>
			</div>
			<div class="item">
				<h4>第7条 丙方、丁方与第三方支付平台的权利</h4>
				<p>7.1甲方通过丙方网站确认投标并向第三方支付平台支付投标资金后，第三方支付平台将冻结该投标资金至投标结束，甲方不得将资金撤回。甲方可将未投标成功的资金在第三方支付平台解除冻结后用于其他投标。投标行为视为甲方的出借承诺，无论甲方是选择性的投标还是委托系统自动投标，甲方均无权撤销或者收回投标或者减少投标资金，否则视为甲方违约，丙方有权在违约行为可能造成丙方损失的范围内冻结甲方在第三方支付平台电子账户内的资金。</p>
                <p>7.2 当乙方或甲方有违反本合同约定义务的，丙方有权根据本合同及网站公布的规则，针对违约的程度采取以下一种或数种措施：</p>
                <p>7.2.1 有权对乙方或甲方注册的网络账户采取部分网络权限限制；</p>
                <p>7.2.2 在上述行为可能造成丙方损失的范围内冻结甲方或乙方在第三方支付平台电子账户内的资金；</p>
                <p>7.2.3 对逾期乙方，有权通过网站发布逾期信息和催收公告；</p>
                <p>7.2.4 暂停对违约人的借款资格或投资资格，直至作销户处理；</p>
                <p>7.2.4 依照网站公布的规则进行其他处理行为。</p>
                <p>7.3 乙方、甲方双方同意丙方有权代甲方在必要时对乙方进行其所借款的违约提醒及催收工作，包括但不限于电话通知、发律师函等。甲方在此确认明确委托丙方为其进行以上工作，并授权丙方可以将此工作委托给其他方进行。乙方对前述委托的提醒、催收事项已明确知晓并应积极配合。</p>
                <p>7.4 丙方、丁方、第三方支付平台不对任何交易而发生的任何损失承担任何责任。丙方从事上述通知、催告等行为，仅是协助甲方敦促乙方履行合同义务，并不代表丙方对该借款本息承担任何担保责任或追收责任。</p>
                <p>7.5 丙方与丁方促成本合同成立后，非因丙方或丁方原因解除或不能履行本合同时，乙方仍应按照本合同第3条的约定向丙方与丁方支付服务费用。</p>
			</div>
			<div class="item"> 
				<h4>第8条 税务及其他费用</h4>
				<p>8.1 协议各方在资金出借、转让过程产生的税费，自行向主管税务机关申报、缴纳。</p>
                <p>8.2 甲方或乙方在第三方支付平台充值与提现费用及在丙方平台合作银行机构的转账费用由甲方与乙方自行承担，具体服务细节和收费标准由丙方合作银行或第三方支付平台设定并执行，丙方将在网站相关位置予以公告。</p>
                <p>8.3 邮寄费用：若甲方或乙方申请丙方邮寄纸质文件资料，则邮寄费用由申请邮寄的甲方或乙方承担。</p>
                <p>8.4 各项费用的调整，以公告的"资费标准"为准，并对调整后发生的借款发生效力。</p>
                <p>8.5 借款过程中若涉及相关费用（包括但不限于调查、评估、公证/见证、保险、担保及债务催收催讨支出的费用），由乙方另行承担。</p>
                <p>8.6 乙方同意授权丙方指定的有支付结算资质的第三方支付机构划转支付本协议项下乙方应支付的费用，向丙方出具委托手续并签订《委托扣款授权书》。</p>
			</div>
            <div class="item"> 
				<h4>第9条 税务及其他费用</h4>
				<p>乙方可提前还款，乙方提前还款的，须一次性将应还借款余额结清后，丙方按照《还款明细说明》的约定退还部分服务费。</p>
			</div>
            <div class="item"> 
				<h4>第10条 债权转让</h4>
				<p>在不违反法律法规规定的前提下，经丙方同意，甲方可以转让其在本合同项下的债权。乙方确认，上述债权转让的通知，由丙方通过网站站内信、乙方注册丙方网站是填写的电子邮箱等联系方式发送后，即视为甲方履行了债权转让的通知义务。债权转让后，甲方仍应当向丙方或新的债权人提供必要的配合。</p>
			</div>
            <div class="item"> 
				<h4>第11条 不可抗力条款</h4>
				<p>11.1 发生如下不可抗力情形（包括但不限于），免除丙方的责任：</p>
                <p>11.1.1出现网络设备故障时；</p>
                <p>11.1.2网络被黑客或病毒攻击时；</p>
                <p>11.2.3基础电信运营商的通信网络的故障、技术缺陷、覆盖范围限制。</p>
			</div>
            <div class="item"> 
				<h4>第12条 风险提示</h4>
				<p>12.1 政策风险：国家因宏观政策、财政政策、货币政策、行业政策、地区发展、法律法规等因素引起的政策风险。</p>
                <p>12.2 信用风险：当乙方发生资金状况的风险，或者乙方的还款意愿发生变化时，甲方的出借资金可能无法按时收回。</p>
                <p>12.3 不可抗力：由于战争、动乱、自然灾害等不可抗力因素的出现而可能导致甲方资产损失的风险。</p>
			</div>
            <div class="item"> 
				<h4>第13条 违约责任</h4>
				<p>13.1若乙方在本合同约定的还款期限之前未按照合同约定的收支账户存入还款金额或存入金额不足的，即构成违约，应向甲方、丙方承担以下违约责任：</p>
                <p>13.1.1丙方有权依照本网站的规则对乙方采取催收措施；</p>
                <p>13.1.2逾期期间，甲方有权继续依照本合同约定的利率计收借款利息，丙方有权自应还款日起每日按借款合同金额的0.1%向乙方收取违约金。13.1.3逾期超过 30 日，丁方有权对乙方提供的乙方个人信息和资料编辑入丁方网站及相关征信系统黑名单，并将该黑名单对第三方披露，并与任何第三方数据共享，以便丙方和丁方或其委托的第三方催收逾期借款及对乙方的其他申请进行审核之用，由此因第三方的行为可能造成乙方的损失，丙方与丁方不承担法律责任。</p>
                <p>13.1.4乙方违反本协议及有关附属协议的约定，丙方与丁方有权终止本协议，并要求乙方立即向甲方清偿全部借款本息。</p>
                <p>13.2 守约方为追回损失而支付的包括但不限于律师费、诉讼费、财产保全费、公证费、交通通讯费、差旅费、调查取证等费用，由违约方承担。</p>
                <p>13.3 如乙方擅自改变本协议所规定的借款用途、逾期还款或违反合同其他约定的，甲方有权提前终止本协议，甲方因上述原因提前终止本协议的，则乙方必须在甲方提出终止协议要求的三日内一次性支付余下的所有本金、利息及违约金。</p>
			</div>
            <div class="item"> 
				<h4>第14条 税务及其他费用</h4>
				<p>14.1 本协议在下列情况下解除：</p>
                <p>14.1.1 经各方协商一致解除。</p>
                <p>14.1.2 任何一方发生违约行为并在守约方向其发出书面通知之日起15日内不予履行合同的，或累计发生两次或两次以上违约行为的，守约方有权单方面通知违约方解除本协议。</p>
                <p>14.1.3 因法律规定的不可抗力造成本协议无法继续履行的。</p>
			</div>
            <div class="item"> 
				<h4>第15条 争议解决</h4>
				<p>15.1 本协议的效力、解释以及履行适用中华人民共和国的法律。</p>
                <p>15.2 本协议各方因本协议履行发生争议的，均应首先通过友好协商的方式解决，协 商不成的，任何一方有权向丙方住所地人民法院提起诉讼。</p>
			</div>
            <div class="item"> 
				<h4>第16条 其他条款</h4>
				<p>16.1 甲、乙双方已认真阅读和理解本合同所有内容并自愿按本合同相关约定履行各自的权利义务，甲方、乙方通过丙方网站借出、借入款项，视为接受本合同的条款，借款款项划付至乙方电子账户后，本网站将自动生成电子合同。借款合同双方在电子账户相关栏目中可查阅该电子合同，合同编号、借款金额、借款用途、借款期限、借款利息、还款方式等内容以借款招投标中确定的内容为准。电子合同文本为各方真实意思表示，对各方均具有法律约束力。电子合同与当事人签署的纸质合同具有同等法律效力。丙方通过网站站内信、注册网站用户时填写的电子邮箱和手机号码向甲方及乙方发送通知、告知、相关法律文书等，即视为已送达。</p>
                <p>16.2 甲方及乙方应当保守丙方及第三方支付平台的商业秘密，不得向任何人泄露，包括但不限于本合同、合同附件、与本合同有关的协议记载的内容，服务项目、收费标准，经营管理模式，客户信息等非公开的、保密的或专业的信息和数据等。若甲方或乙方违反本合同约定的保密义务，丙方和丁方有权立即终止本合同并要求甲方或乙方支付违约金10000元，违约金不足以赔偿丙方与丁方的损失的，按照实际损失进行赔偿。</p>
                <p>本合同签订之日起至借款全部清偿之日止，甲方、乙方有义务在下列信息变更三日内提供更新后的信息给丙方：本人、本人的家庭联系人及紧急联系人、工作单位、居住地址、住所电话、手机号码、电子邮箱、银行账户的变更。若因任何一方不及时提供上述变更信息而带来的损失或额外费用应由该方承担。就甲方、乙方提供的个人信息及丙方通过合法渠道获取的与其相关的个人信息，丙方有权为本合同目的自行管理并使用。</p>
                <p>16.3 本合同未尽事宜，以网站公布的规则为准。</p>
                <p>16.4 本合同各方委托丙方保管所有与本合同有关的书面文件或电子信息。</p>
			</div>
            <div class="item"> 
				<h4>第17条 附则</h4>
				<p>17.1 本协议附件作为本协议的有效组成部分，与本协议效力一致。</p>
                <p>17.2 本协议的电子件、传真件、复印件、扫描件等经各方书面确认的有效复本的效力与本协议原件效力一致。</p>
                <p>17.3 双方确认，本协议的签署、生效和履行以不违反中国的法律法规为前提。如果 本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。</p>
                <p>17.4 本协议一式四份，甲、乙、丙、丁各执一份，具有同等法律效力。</p>
			</div>
            <div class="item">
                <h4>附件</h4>
                <p>1、《委托扣款授权书》；</p>
                <p>2、《借款承诺书》；</p>
                <p>3、《客户权益告知书》。</p>
            </div>
            <div class="item"><p>【以下无正文】</p></div>
            <div class="item"><p>请在本页进行签署，并确认已经清楚知晓并了解本合同的所有相关内容。</p></div>
		</div>
		<div class="protocol-users clearfix">
			<div class="user-item">甲方：</div>
            <div class="user-item">日期：<?=_date('Y年m月d日', $oddMoney->time)?></div>
			<div class="user-item">乙方（签字并按捺）：</div>
            <div class="user-item">日期：<?=_date('Y年m月d日', $oddMoney->time)?></div>
			<div class="user-item">丙方（盖章）：福建汇诚普惠科技发展有限公司</div>
            <div class="user-item">授权代表（签字）：</div>
            <div class="user-item">日期：<?=_date('Y年m月d日', $oddMoney->time)?></div>
            <div class="user-item zp-2">丁方（盖章）：福建省众鑫盈资产管理有限公司</div>
            <div class="user-item">授权代表（签字）：</div>
		</div>
	</div>
</body>
</html>