<?php $this->display('header.html');?>
<div class="middle">
   	<?php $this->display('knowledge/common/menu.html', ['types'=>$types]);?>
   	<div class="main">
		<div class="knowledge-position">当前位置：<a href="/">汇诚普惠</a> &gt;&gt; <a href="#">财富文库</a></div>
		<div class="knowledge-list-wrap clearfix">
			<div class="knowledge-list">
				<div class="knowledge-type-wrap">
					<div class="knowledge-type"><?=$queries->type;?></div>
				</div>
				<?php foreach ($articles as $article):?>
				<div class="knowledge-item">
					<div class="title"><a href="/knowledge/view/id/<?=$article->id?>"><?=_title($article->title, 35)?></a></div>
					<div class="content"><?=_title(strip_tags($article->body), 120)?></div>
					<div class="other">发布者: 汇诚普惠</div>
				</div>
				<?php endforeach;?>
				<div class="pagination-wrapper">
					<?=$articles->render()?>
				</div>
			</div>
			<?php $this->display('knowledge/common/block.html', ['odds'=>$odds]);?>
		</div>
   	</div>
</div>
<?php $this->display('footer.html');?>