<?php $this->display('header.html');?>
<?php $this->display('guide/common/menu.html');?>
<div class="main mb30 mt30">
	<div class="content-wrap">
		<div class="content-main clearfix">
			<div class="right-nav">
			<div class="nav-head"><a href="javascript:;">帮助中心</a> </div>
				<ul id="nav-list" class="clearfix">
					<li class="current"><a href="javascript:;">新手入门</a></li>
					<li class=""><a href="javascript:;">我的账户</a></li>
					<li class=""><a href="javascript:;">我要理财</a></li>
					<li class=""><a href="javascript:;">我要借款</a></li>
					<li class=""><a href="javascript:;">债权转让</a></li>
					<li class=""><a href="javascript:;">常见问题</a></li>
					<li class=""><a href="javascript:;">名词解释</a></li>
					<li class=""><a href="javascript:;">收费标准</a></li>
				</ul>
			</div>
			<div class="left-content">
				<!-- 新手入门 -->
				<div class="content-item current">
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何注册平台账户？</div>
						<div class="item-content">
							<p>（1）进入平台首页，点击右上角【注册】按钮；</p>
							<p>（2）根据提示信息，填写您的用户名、手机号码、密码、图片验证码等信息，点击【同意用户协议并注册】；</p>
							<p>（3）填写手机短信验证码，点击【提交验证】；</p>
							<p>（4）若信息匹配则注册成功。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何开通江西银行存管账户？</div>
						<div class="item-content">
							<p>（1）新用户注册成功后，点击【开通存管账户】进入江西银行存管账户的开通；
			老用户登录平台，在【我的账户】中点击右侧【点此进行开户】按钮或依次点击【资金账户】-【银行存管】进入存管账户开通。</p>
							<p>（2）输入真实姓名、身份证号、银行卡号，勾选“我已阅读并同意《开户协议》”；</p>
							<p>（3）点击【同意并开通银行存管】，进入手机号校验页面；</p>
							<p>（4）填写图形验证码，点击获取验证码，待手机收到短信后填写短信校验码；</p>
							<p>（5）若信息匹配成功即可开通存管账户。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何设置存管密码？</div>
						<div class="item-content">
							<p>（1）登录平台，进入个人中心页，点击头像右侧的第三个图标或依次点击【个人信息】-【安全中心】；</p>
							<p>（2）点击最后一行“存管密码”的【设置】按钮进入存管密码设置；</p>
							<p>（3）设置电子账户交易密码，点击【确认】；</p>
							<p>（4）若两次密码相同，即可设置成功。</p>
							<p style="color:red;font-weight: 900">注：此存管密码为后期在平台进行投资、提现使用的密码。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>可以绑定哪些银行卡？</div>
						<div class="item-content">
							<p>工商银行、农业银行、中国银行、建设银行、招商银行、交通银行、中信银行、光大银行、民生银行、平安银行、兴业银行、邮政储蓄银行、上海银行、南京银行、宁波银行、江苏银行、江西银行、浦发银行、渤海银行、德阳银行、哈尔滨银行、邯郸银行、龙江银行、青岛银行、台州银行、温州银行、长安银行等。</p>
							<p style="color:red;font-weight: 900">注：实际可绑定的银行卡以江西银行为准。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何充值？</div>
						<div class="item-content">
							<p>（1）进入【我的账户】-【资金账户】-【充值】；</p>
							<p>（2）选择充值方式（银行转账、快速充值、支付宝转账）进行充值操作。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>什么是资金同步？</div>
						<div class="item-content">
							<p>用户在平台充值成功后，已收到银行扣款短信，但是在汇诚普惠平台上未显示充值金额，此时用户可使用资金同步功能来同步用户充值的资金。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>怎么进行资金同步？</div>
						<div class="item-content">
							<p>登录汇诚普惠官网，在【我的账户】的【账户总览】中的“资产总览”点击【资金同步】按钮进行资金同步操作。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>充值在汇诚普惠的钱安全吗？</div>
						<div class="item-content">
							<p>投资人进行充值操作后，充值的资金是存入用户江西银行的个人账户中，只能通过本人或授权后才能进行资金相关操作，汇诚普惠公司无任何权限动用该账户资金，从根本上杜绝“资金池”风险。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何理财投资？</div>
						<div class="item-content">
							<p>（1）进入【我要投资】，在投资列表中选择心仪的项目；</p>
							<p>（2）点击项目右侧的【立即抢购】按钮进入项目详情页面；</p>
							<p>（3）点击右侧【立即抢购】，进入投标操作；</p>
							<p>（4）输入投资的金额（50元整数倍），点击【投资】；</p>
							<p>（5）输入存管密码，点击【确认】，密码正确即可投资成功。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何提现？</div>
						<div class="item-content">
							<p>（1）在【我的账户】页点击【提现】或点击【我的账户】-【资金账户】-【提现】进入提现页；</p>
							<p>（2）输入提现金额，点击【提现】按钮，跳转至银行页面，输入存管密码，点击【确认】即可成功提交提现申请。</p>
						</div>
					</div>
				</div>
				<!-- 我的账户 -->
				<div class="content-item">
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何修改个人资料？</div>
						<div class="item-content">
							<p>进入【我的账户】-【个人信息】-【个人资料】修改个人资料。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何修改存管密码？</div>
						<div class="item-content">
							<p>（1）进入【我的账户】-【个人信息】-【安全中心】；</p>
							<p>（2）在最后一行的“存管密码”右侧点击【修改】按钮进入手机号校验页面；</p>
							<p>（3）填写图形验证码，点击获取验证码，待手机收到短信后填写短信校验码，点击【确定】进入存管密码设置页面；</p>
							<p>（4）设置存管密码，点击【确定】按钮，若两次密码匹配成功则设置成功。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>可以绑定多少张银行卡？</div>
						<div class="item-content">
							<p>一个账户只能绑定一张本人银行卡，如需绑定其他银行卡则可将目前绑定的银行卡解除绑定后再重新绑定新银行卡。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何重新绑定银行卡？</div>
						<div class="item-content">
							<p>（1）进入【我的账户】-【资金安全】-【银行存管】；</p>
							<p>（2）点击绑定银行卡上的【解除绑定】按钮；</p>
							<p>（3）解除绑定后再进行绑定银行卡操作，输入银行卡号，点击【立即绑定】，进入手机号校验；</p>
							<p>（4）输入图形校验码，点击【获取验证码】，填写短信校验码，点击【确定】，校验成功后即可成功绑定银行卡。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何查看我的卡券？</div>
						<div class="item-content">
							<p>进入【我的账户】-【活动优惠】-【我的卡券】查看个人优惠券及红包等。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何查看积分？</div>
						<div class="item-content">
							<p>登录汇诚普惠平台，在【我的账户】-【账户总览】页中的【投资总览】下方的“投资积分”查看。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何邀请好友？</div>
						<div class="item-content">
							<h4>方式一：链接邀请</h4>
							<p>（1）进入【我的账户】-【活动优惠】-【邀请有奖】；</p>
							<p>（2）点击“您的邀请链接”右侧的【复制】按钮；</p>
							<p>（3）将复制的邀请链接发送给好友；</p>
							<p>（4）好友通过您的邀请链接成功注册平台账户后即可邀请成功。</p>
							<h4>方式二：填写推荐人</h4>
							<p>（1）您的好友在官网或APP端进行账户注册操作；</p>
							<p>（2）在填写完个人信息后点击【推荐人用户名】；</p>
							<p>（3）填写您的汇诚普惠账户名并注册成功后即可邀请成功。</p>
						</div>
					</div>
				</div>
				<!-- 我要理财 -->
				<div class="content-item">
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>借款标的类型介绍</div>
						<div class="item-content">
							<p>目前平台借款标的类型有：抵押标、质押标、融资租赁标、新手标、自动标、手动标。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何理财？</div>
						<div class="item-content">
							<h4>投标之前需要注意哪些事项？</h4>
							<p>对于投资用户，投资前需要您先通过注册账户、存管账户开通、设置存管密码、邮箱认证后即可安心在本平台进行投资。</p>
							<h4>投资时有没有相关费用？</h4>
							<p>参考“关于我们”里的“资费标准”。</p>
							<h4>协议查询</h4>
							<p>登录官网，进入【我的账户】-【投资管理】-【投资记录】在投资列表中投资项目的右侧“操作”栏点击【合同】查看电子合同，点击打开即可在线阅览。</p>
						</div>
					</div>
					
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>自动投标</div>
						<div class="item-content">
							<h4>什么是自动投标？</h4>
							<p>自动投标是一种根据自行设定条件帮助投资者进行智能投资的工具，为减少投资人用于理财的时间投入而开发，根据个人条件设定并开启后，有项目符合设定规则时，会在项目发布后及时进行自动投资。</p>
							<h4>如何设置我的自动投标？</h4>
							<p>（1）进入【我的账户】-【投资管理】，点击【自动投标签约】，进入手机号校验。</p>
							<p>（2）手机号校验成功后即可成功签约自动投标；</p>
							<p>（3）再根据个人实际理财需求依次设定每次自动投资金额、利率范围、项目期限，等等，并点击开启自动投标与保存设置。</p>
							<h4>自动投标的规则</h4>
							<p>（1）投标顺序按照开启自动投标功能的时间先后进行排序。</p>
							<p>（2）每个会员每个借款仅自动投标一次，投标成功后，排到所有自动投标会员的末尾。</p>
							<p>（3）中间对自动投标进行修改的，排名不变。</p>
							<p>（4）新开启自动投标用户，自动排到所有自动投标会员的末尾。</p>
							<p>（5）当账户余额不足时，系统按顺序进行，但不投标，依次转移到下一个自动投标。</p>
						</div>
					</div>
				</div>
				<!-- 我要借款 -->
				<div class="content-item">
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>申请的条件</div>
						<div class="item-content">
							<p>（1）20-70周岁的中国公民。</p>
							<p>（2）信誉良好,工作、生活稳定、名下有车或房的个人和企业。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>申请流程</div>
						<div class="item-content">
							<p>（1）在"我要借款"页面提交借款申请。</p>
							<p>（2）本平台会联系借款人所在地分支机构。</p>
							<p>（3）分支机构联系借款申请人，进行实地考察。</p>
						</div>
					</div>
				</div>
				<!-- 债权转让 -->
				<div class="content-item">
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>债权转让是什么？</div>
						<div class="item-content">
							<p>债权转让是指债权持有人通过本平台债权转让平台将债权挂出出售，将所持有的债权转让给购买人的操作。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何转让债权？</div>
						<div class="item-content">
							<p>当投资用户持有的债权处于可转让状态时，用户可以在【我的账户】-【投资管理】-【债权转让】，选择类型为“可转让债权”，在债权转让列表点击要转让的债权右侧操作栏中的【转让】按钮，将债权挂出，待转让的债权有承接人认购后即可转出。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>债权转让是如何收费的？</div>
						<div class="item-content">
							<p>如果投资用户在转让所投项目债权时，该投资用户在该项目的投标天数&lt;30天则收取0.5%的手续费用，投标天数≥30天则不收取任何费用。 （注：债权转让当日不计入投标天数，手续费用为该投资用户在该项目所投金额的0.5%，在提现时收取）</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>如何投资债权转让标？</div>
						<div class="item-content">
							<p>（1）点击【我要投资】-【债权转让】，点击要投资的项目右侧的【认购】按钮进入项目详情页；</p>
							<p>（2）点击页面右侧的【立即抢购】按钮；</p>
							<p>（3）输入购买金额后，点击【购买】；</p>
							<p>（4）成功购买后该债权转让项目即可承接成功。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>投资债权转让标需支付的利息怎么计算？</div>
						<div class="item-content">
							<p>用户投资债权转让标则需预先支付承接金额的承接前该期的利息给转让人，用户承接后该期的全部回款资金都回款至承接人账户中。</p>
							<p>如：用户A在7月1日成功购买10000元的3月标，年化利率为15.5%，在8月14日将其债权转让。用户B在8月14投资5000元至其债权转让项目，则用户B需预先支付7月31日至8月14日期间5000元债权那部分的利息。待8月29日回款当天，用户B则收到7月31日至8月29日整月的回款金额。</p>
						</div>
					</div>
				</div>
				<!-- 常见问题 -->
				<div class="content-item">
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>收不到激活邮件怎么办？</div>
						<div class="item-content">
							<p>答：您可以尝试以下方法：</p>
							<p>（1）可以登录注册邮箱后，在垃圾箱里寻找，看是否被邮箱系统自动辨识为了垃圾邮件。</p>
							<p>（2）请尝试清空浏览器缓存，清空后，点击"重新发送激活邮件"。若是还未成功，请联系网站在线客服。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>快捷充值使用的银行卡和提现绑定的银行卡是否必须一致？</div>
						<div class="item-content">
							<p>答：必须一致。用户开通江西存管账户过程中需绑定一张本人银行卡，此银行卡用于用户快捷充值及提现使用。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>同一人是否可以申请多个账号？</div>
						<div class="item-content">
							<p>答：因账户和实名信息是一对一的绑定关系，所以同一人只能申请一个账号，您的身份信息不能再次绑定新账户。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>投资后，本人是否能够自主撤销？</div>
						<div class="item-content">
							<p>答：为了不影响项目的融资进度，保证交易的时效性，投资后，不能申请撤销。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>借款人逾期了怎么办？</div>
						<div class="item-content">
							<p>答：线上借款项目如遇逾期，将从结息日起，以结息日的应还本金计算罚息，罚息利率为0.06%/日（即罚息=当期应还本金*逾期天数*日利率0.06%，罚息无利息管理费用）,逾期期间，项目不额外计息。逾期后7天内借款人如未还款，平台在第8日结算投资用户应还本息及罚息。（逾期天数计7天）</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>投资人申请提现后何时到账？</div>
						<div class="item-content">
							<p>答：实时到账，具体到账时间以银行为准。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>为什么充值的时候提示充值金额超过每日支付限额？</div>
						<div class="item-content">
							<p>答：每日支付限额由银行每日支付限额、第三方支付平台每日支付限额和用户自己设定的每日支付限额三者共同决定，在实际使用中三者取最小值。例如：交通银行的网银每日支付限额是50万，但是交通银行和财付通签协议的时候，规定用户在财付通使用交通银行网银的时候每日支付限额为100万，用户自己设定的每日支付限额为30万，此时用户可以使用的每日支付限额为30万。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>投资人相关费用</div>
						<div class="item-content">
							<p>1、详细收费标准请查看网站收费标准公告。</p>
							<p>2、请查看网站自费说明公告。</p>
							<p>3、充值费用：全免，若用户通过网银跨行转账或者支付宝转账产生的费用则由银行方或支付宝方收取。</p>
							<p>4、提现费用：请查看网站收费标准公告。</p>
						</div>
					</div>
				</div>
				<!-- 名词解释 -->
				<div class="content-item">
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>借款人</div>
						<div class="item-content">
							<p>已经或准备在网站上进行借款活动的用户称为借款人。凡22周岁以上的中国大陆地区公民，都可以成为借款人。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>投资人</div>
						<div class="item-content">
							<p>已经或准备在网站上进行资金出借活动并完成了实名认证、手机号码绑定的用户称为投资人。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>借款标</div>
						<div class="item-content">
							<p>指借款人发布的包含其借款相关说明信息的借款申请。一个合格的借款项目至少包含：标题、描述、借款用途、借款总额、还款方式、年利率、借款期限、招标期限等基本信息。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>发标</div>
						<div class="item-content">
							<p>指借款用户发布借款项目的行为。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>投标</div>
						<div class="item-content">
							<p>指投资人将其本平台账户内的可用余额出借给指定的借款用户的行为。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>流标</div>
						<div class="item-content">
							<p>指一个项目在一定时间内没有招标完成，借款失败自动流标，之前投资的钱将自动归还给相对应的投资者。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>放款</div>
						<div class="item-content">
							<p>指一个借款标满额后且已符合放款标准，该借款所筹资金从投资人账户转入借款人账户的过程，即借款人成功获得了借款。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>借款失败</div>
						<div class="item-content">
							<p>指因资料上传不全或综合情况不符合借款要求，导致借款申请未通过，或超过项目购买期限但未满额的状态叫做借款失败。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>逾期</div>
						<div class="item-content">
							<p>指借款用户未按协议约定还款日当天24:00之前进行足额还款，此时借款的状态为逾期。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>账户总额</div>
						<div class="item-content">
							<p>指用户账户的所有金额（帐户总额=可用余额+待收总额+冻结总额）。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>可用余额</div>
						<div class="item-content">
							<p>是指用户可自由支配的金额。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>冻结总额</div>
						<div class="item-content">
							<p>帐户中已冻结，不能自由支配的金额，（冻结总额=投资中冻结金额+提现中冻结金额）</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>总收益</div>
						<div class="item-content">
							<p>指用户账户的所有收益（总收益=已赚利息+待收利息+其他收益）</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>等额本息</div>
						<div class="item-content">
							<p>在还款期内，每月偿还同等的金额(包含本金和利息)。月利率不变，每月所得利息随本金逐月减少而减少。 每月还款额=[贷款本金×月利率×（1+月利率）^还款总期数]÷[（1+月利率）^还款总期数-1]</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>先息后本</div>
						<div class="item-content">
							<p>每月返还利息，最后一个月返还当月的本金和利息。</p>
						</div>
					</div>
					<div class="sub-item">
						<div class="item-head"><i class="item-ico"></i>债权</div>
						<div class="item-content">
							<p>指投资人与借款人之间的债务约定。</p>
						</div>
					</div>
				</div>
				<div class="content-item">
					投资收费标准见 <a href="http://www.hcjrfw.com/about/fee" style="text-decoration: underline; color: #28a7e1;">收费标准</a>
				</div>
			</div>
		</div>
    </div>
</div>
<?php $this->display('footer.html');?>