<?php $this->display('header.html');?>
<?php $this->display('guide/common/menu.html');?>
<div class="xs-pt center">
	<h2>汇诚普惠投资平台</h2>
	<p>致力于为广大投资人提供<span>	低风险、高收益、最透明、易理解、多样化</span> 的金融产品</p>
	<div class="pt-liucheng"><img src="<?=RSRC?>/images/safe/tzpt.png"/></div>
</div>
<!-- 汇诚普惠投资平台 -->

<div class="ys-box">
	<div class="center ysWrap">
		<h2>汇诚普惠的优势</h2>
		<div class="v-youshi">
			<span class="logo"><img src="<?=RSRC?>/images/safe/ys-block-1.png"></span>
			<!--<a class="quxian"><i class="ico"></i></a>-->
			<a class="quxian"><b>绝无假标</b><em>质押车辆视频每周更新<br/>随时寻找到汽车标的物</em></a>
			<a class="word1"><b>超低投资门槛</b><em>50元起投<br/>快速入驻汇诚普惠</em></a>
			<a class="word2"><b>银行资金存管</b><em>江西银行资金存管系统<br/>确保资金透明安全</em></a>
			<a class="word3"><b>投资期限灵活</b><em>产品期限1到3个月<br/>投资人可自由选择</em></a>
			<a class="word4"><b>本息保障</b><em>足额汽车抵押物<br/>本金及收益保障</em></a>
			<a class="word5"><b>债权可以转让</b><em>已投债权可随时转让<br/>满足资金流动性需求</em></a>
		</div>
	</div>
</div>
<!-- 汇诚普惠的优势 -->

<div class="howtz center">
	<h2>如何投资</h2>	
	<div class="focusBox">
			<div class="navhd">
				<ul class="hd">
					<li class="ico1"><em class="tubiao1"></em><p>注册账号</p></li>
					<li class="ico2"><em class="tubiao2"></em><p>实名认证</p></li>
					<li class="ico3"><em class="tubiao3"></em><p>操作充值</p></li>
					<li class="ico4"><em class="tubiao4"></em><p>开始投资</p></li>
				</ul>
			</div>
			<div class="picwra1">
				<div class="picwra">
					<ul class="pic">
							<li><a><img src="<?=RSRC?>/images/safe/read1.jpg"/></a></li>
							<li><a><img src="<?=RSRC?>/images/safe/read2.jpg"/></a></li>
							<li><a><img src="<?=RSRC?>/images/safe/read3.jpg"/></a></li>
							<li><a><img src="<?=RSRC?>/images/safe/read4.jpg"/></a></li>
					</ul>
				</div>
			</div>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
			
	</div>
</div>
<!-- 如何投资 -->

<div class="v-produ">
	<div class="v-proWrap center">
		<h2>汇诚普惠可投资的理财产品</h2>
		<div class="proimg"><img src="<?=RSRC?>/images/safe/liccp.png"/></div>
	</div>
</div>
<?php $this->display('footer.html');?>