<?php $this->display('header.html');?>
<?php $this->display('guide/common/menu.html');?>
<div class="xinshouBox">
	<dl class="bordertn">
		<dt>1.什么是网络借贷？</dt>
		<dd>网络借贷平台的模式起源于英国，简称p2p。通过中介服务机构为有闲散资金想要投资的人和急需资金周转且信誉良好的人牵线搭桥，一边对有资金需求者进行专业严格的审批过滤为借款人，一边对投资理财者提供合格的借款信息服务，最终实现双方互赢。</dd>
	</dl>
	<dl>
		<dt>2.我的钱借给谁？凭什么相信他</dt>
		<dd>汇诚普惠主要针对信誉良好,工作、生活稳定、有固定资产的个人和企业为其解决资金需求。汇诚普惠拥有专业的风控团队，对平台每一个项目都进行实地的尽职调查及风 险评估，确保融资项目必须具备足值的抵押物及拥有较强偿的偿债能力。并且通过调取人民银行征集系统数据、公安部居民身份系统数据、工商系统数据、 车管所系统数据、房管所系统数据等来建立起一套完善严格的风控措施，以确保项目及融资需求真实、合法，为投资者的 资金安全保驾护航。</dd>
	</dl>
	<dl>
		<dt>3.他要是不还钱怎么办？</dt>
		<dd>千万风险准备金保障平台逾期事件应对，当借款人发生还款逾期，汇诚普惠将启动债权回购机制，动用风险准备金从投资人手中将债权回购，并保证逾期当日24：00前将本息偿还至理财人账户。</dd>
	</dl>
	<dl>
		<dt>4.充值在汇诚普惠的钱安全吗？</dt>
		<dd>投资人充值资金由"汇潮支付"全程托管，和银行一样，只能本人运作，汇诚普惠公司无任何权限动用该账户资金。</dd>
	</dl>
	<dl>
		<dt>5.电子合同是否具有法律效应？</dt>
		<dd>我国新《合同法》第十一条规定: 书面形式合同是指合同书、信件和数据电文(包括电报、电传、传真、电子数据交换和电子邮件)等可以有形地表现所载内容的形式。因此电子合同属于书面形式的合同一种，是受到法律保护的。另外汇诚普惠的所有合同都由北京大成律师事务所的专业律师起草，保证了经过平台的交易是具备法律效力的。</dd>
	</dl>
</div>
<?php $this->display('footer.html');?>