<?php $this->display('header.html');?>
<?php $this->display('position.html');?>
<div class="container disclosureBody">
    <?php $this->display('about/common/menu.html');?>
    <!-- 右边视图 -->
    <div class="pull-right">
        <div class="riskBody">
            <img src="<?=RSRC?>/images/index/disclosure/borrownotice.png" alt="">
            <h1>汇诚普惠网络借贷平台借款须知</h1>
            <div class="riskmain">
                <h3 style="text-indent: 0;font-weight: bold;">一、借款利息及收费（实际收费根据市场浮动）:</h3>
                <p>产品类型：房优贷、车险优贷</p>
                <p>借款期限：1~12月</p>
                <p>借款年利息：8%~12%</p>
                <p>还款方式：先息后本/等额本息</p>
                <p>房优贷居间服务费：借款金额1%~3.5%</p>
                <p>房优贷其他费用：评估费（1000元~2000元）、手续费（住宅：200元 ，非住宅：1000元）车险优贷无服务费</p>
                <p>逾期罚息：详见借款合同</p>
                <h3 style="text-indent: 0;font-weight: bold;">二、《网络借贷信息中介机构业务活动管理暂行办法》中明确规定了借款人应当履行如下义务：</h3>
                <p>1、提供真实、准确、完整的用户信息及融资信息；</p>
                <p>2、提供在所有网络借贷信息中介机构未偿还借款信息；</p>
                <p>3、保证融资项目真实、合法，并按照约定用途使用借贷资金，不得用于出借等其他目的；</p>
                <p>4、按照约定向出借人如实报告影响或可能影响出借人权益的重大信息；</p>
                <p>5、确保自身具有与借款金额相匹配的还款能力并按照合同约定还款；</p>
                <p>6、借贷合同及有关协议约定的其他义务。</p>
                <h3 style="text-indent: 0;font-weight: bold;">三、借款人应当禁止如下活动：</h3>
                <p>1、通过故意变换身份、虚构融资项目、夸大融资项目收益前景等形式的欺诈借款；</p>
                <p>2、同时通过多个网络借贷信息中介机构，或者通过变换项目名称、对项目内容进行非实质性变更等方式，就同一融资项目进行重复融资；</p>
                <p>3、在网络借贷信息中介机构以外的公开场所发布同一融资项目的信息；</p>
                <p>4、已发现网络借贷信息中介机构提供的服务中含有本办法第十条所列内容，仍进行交易；</p>
                <p>5、法律法规和网络借贷有关监管规定禁止从事的其他活动。</p>
                <h3 style="text-indent: 0;font-weight: bold;">四、借款人违约后果告知如下：</h3>
                <p>1、按照借款合同约定对逾期借款计收罚息；</p>
                <p>2、按照借款合同约定对应付未付利息计收复利；</p>
                <p>3、将借款人逾期信息报送至个人征信系统；</p>
                <p>4、通过电话、律师函、信函等多种形式进行催收借款人；</p>
                <p>5、采取保证担保方式的，通过电话、律师函、信函等多种形式进行催收保证人；</p>
                <p>6、停止借款人剩余授信额度的使用；</p>
                <p>7、宣布借款提前到期；</p>
                <p>8、采取质押担保方式的，将处置质押物归还于其借款本息；</p>
                <p>9、根据借款合同约定，向人民法院提起诉讼。</p>
            </div>
        </div>
    </div>
</div>
<?php $this->display('footer.html');?>