<?php $this->display('header.html');?>
<?php $this->display('position.html');?>
<div class="container disclosureBody">
    <?php $this->display('about/common/menu.html');?>
    <!-- 右边视图 -->
    <div class="pull-right">
        <div class="relationBody">
            <img src="<?=RSRC?>/images/index/disclosure/relation.jpg" alt="" class="relationImg">
            <div class="relationmain">
                <h1>汇诚普惠总部</h1>
                <div class="map">
                    <iframe src="<?=WEB_MAIN?>/about/map" class="iframe"></iframe>
                </div>
                <dl class="listInfo">
                    <dd>总店：福建省福州市鼓楼区五四路国贸广场2楼H区</dd>
                    <dd>全国热线：400-080-8885</dd>
                </dl>
                <dl class="listInfo">
                    <dt>客服服务</dt>
                    <dd>客服电话：400-080-8885(工作时间9：00-22:00)</dd>
                    <dd>在线帮助: 
                        <div class="kefu"> <span class="qq"></span> <span class="weixin"></span></div>
                    </dd>
                    <dd>客服邮箱：shangwu@91hc.com</dd>
                </dl>
                <dl class="listInfo">
                    <dt>媒体采访</dt>
                    <dd>客服邮箱：shangwu@91hc.com</dd>
                    <dd><h3>（如有需要媒体采访需求，请将您的媒体名称、采访时间、采访提纲、联系方式发送至此邮箱，我们会尽快与您联系！）</h3></dd>
                </dl>
                <dl class="listInfo listInfo1">
                    <dt>商务合作</dt>
                    <dd>商务合作邮箱：shangwu@91hc.com</dd>
                    <dd>披露咨询、投诉、举报</dd>
                    <dd>联系电话：400-080-8885</dd>
                    <dd>电子邮箱：shangwu@91hc.com</dd>
                    <dd>通讯地址：福建省福州市鼓楼区五四路国贸广场2楼H区</dd>
                    <dd><h3>如果您希望与我们建立商务合作关系，请将合作意向进行简要描述并发送邮件至此邮箱，我们将尽快与您联系。</h3></dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<?php $this->display('footer.html');?>