<?php $this->display('header.html');?>

<div class="depositBanner">
	<img src="<?=RSRC?>/images/index/disclosure/bankDepsit.jpg" alt="">
</div>

<div class="bankBox bankBoxH1">
	<h1>为什么要银行资金存管？<span></span></h1>
	<div class="clearfix"></div>
	<p>依据2016年8月24日由银监会、工信部、公安部、网信办联合公布的《网络借贷信息中介机构业务活动管理暂行办法》要求，需要互联网金融平台与银行业金融机构对接，对平台资金进行银行存管，具体做法是互联网金融平台在银行业金融机构开设独立账户，用于存放用户的交易资金，银行业金融机构根据用户的指令、合同内容，对用户的交易与资金流水进行划拨和簿记，以保障用户的资金安全。平台本着合规经营、安全至上的原则，多方寻求与银行机构的合作，在各银行机构中不断评估选优，最终确认同上海银行达成资金存管合作。汇城普惠自平台上线以来，始终坚持合规经营，主动拥抱监管，全面接受政府及社会公众的监督，力求为客户提供优质的网贷信息中介服务。</p>
</div>


<!--  银行存管的优势-->
<div class="bankBox bankBoxH2">
	<h1>银行存管的优势<span></span></h1>
	<div class="clearfix"></div>
	<ul class="list-unstyled">
		<li>
			<h2 class="youshi1"></h2>
			<h3>平台无法触碰用户资金<br>存管银行对资金进行管理与监督</h3>
		</li>
		<li>
			<h2 class="youshi1"></h2>
			<h3>账户信息由存管银行管理<br>资金交易均由用户授权银行操作执行</h3>
		</li>
		<li>
			<h2 class="youshi1"></h2>
			<h3>交易真实可查<br>银行对交易流程进行管理</h3>
		</li>
		<div class="clearfix"></div>
	</ul>
</div>


<!-- 银行存管模式图解 -->
<div class="bankBox bankBoxH3">
	<h1>银行存管模式图解 <span></span></h1>
	<div class="clearfix"></div>
	<h4></h4>
	<p>注：如图所示，交易资金均存放于银行存管账户，汇诚普惠碰不到您的钱！</p>
</div>


<!-- 为什么选择上海银行？ -->
<div class="bankBox bankBoxH4">
	<h1>为什么选择上海银行？<span></span></h1>
	<div class="clearfix"></div>
	<ul class="list-unstyled">
		<li>
			<h2 class="whyChoose1"></h2>
			<h3>上海银行是全国城市商业银行系统中唯一一家获得四类资格的存管银行，完全符合《网络借贷资金存管业务指引》政策要求。</h3>
		</li>
		<li>
			<h2 class="whyChoose2"></h2>
			<h3>上海银行在2016年英国《银行家》“全球前1000家银行”排名中，按一级资本和总资产计算分别位列第91位和97位，且多次被《亚洲银行家》杂志评为“中国最佳城市零售银行”。</h3>
		</li>
		<li>
			<h2 class="whyChoose3"></h2>
			<h3>
				上海银行曾获得“2013年区域性商业银行最佳网上银行用户体验奖”，并且已与多家平台开展资金存管业务，在技术研发经验和用户体验上均具有优势。
			</h3>
		</li>
		<div class="clearfix"></div>
	</ul>
	<p>注：四类资格是指企业短期融资券承销资格、人民币利率互换业务资格、新股验资行资格、证券交易结算资金存管银行资格。</p>
</div>

<!-- 银行存管 Q & A -->
<div class="footBanner"></div>


<?php $this->display('footer.html');?>