<?php $this->display('header.html');?>

<div class="cz">
	<div class="czbanner">
		<img src="<?=RSRC?>/images/index/disclosure/czBanner.png" alt="">
	</div>

	<div class="blue-img-bg">
		<div class="container">
			<h1 class="title">汇诚普惠接入安存电子数据保全系统</h1>
			
			<p>杭州安存网络科技有限公司创建于2008年，“打造诚信信息世界”是安存的愿景，“瞬间证明虚拟世界的真实性”是安存的任务。凭借20年中国法律服务及信息安全领域专业研发经验沉淀，安存致力于服务全球电子数据存证领域。</p>
			<p>基于互联网+的产业浪潮，各行各业都在加速互联网化，数据呈爆炸式增长，大数据时代已经正式到来，企业及个人的行为方式越来越趋于数据化、无纸化。</p>
			<img src="<?=RSRC?>/images/index/disclosure/czimg2.png" alt="" style="float: right;width: 397px;">
			<p>2013年1月1日实施的《中华人民共和国民事诉讼法》第63条已经明确将电子数据列为单一证据类别——电子数据证据成为法定证据。</p>
			<p>安存，基于全数据生命周期电子数据存管与证明体系，从数据生成与创建、数据存储与传输、数据取证的数据生命环节，闭环解决电子数据与司法证据间的要求差异，使之符合司法要求。</p>
			<p>安存电子数据保全系统（无忧存证）是为汇诚普惠客户量身打造的一套专业的电子数据存证。为投资人提供出借凭证保全服务，保全后的出借凭证将被加密固定，无法人为篡改，提升电子合同的真实有效性，为客户的合法权益保驾护航。</p>
		</div>
	</div>

	<div class="information">
		<div class="container">
			<h1 class="title title-black">投资证据链信息保全</h1>
			<ul class="list-unstyled info-suffix">
				<li>
					<div class="info-img-1"></div>
					<h3>用户身份信息</h3>
				</li>
				<li>
					<div class="info-img-2"></div>
					<h3>标的信息</h3>
				</li>
				<li>
					<div class="info-img-3"></div>
					<h3>投标信息</h3>
				</li>
				<li>
					<div class="info-img-4"></div>
					<h3>协议信息</h3>
				</li>
				<li class="margin-right-0">
					<div class="info-img-5"></div>
					<h3>资金支付信息</h3>
				</li>
				<div class="clearfix"></div>
			</ul>
		</div>
	</div>

	<div class="blue-img-bg">
		<div class="container">
			<h1 class="title">电子数据存证</h1>
			
			<p class="dianzi-p">对平台的数据、信息进行最高级别加密传输保护、分布式云存储隔离和安全防护保障，保证数据实时同步备份过程<br>及存储过程中没有被篡改，使得电子存证相关的法律服务具有法律效力。</p>
			<img src="<?=RSRC?>/images/index/disclosure/czimg.png" alt="" class='dianzi-img'>	
		</div>
	</div>

	<div class="blue-img-bg">
		<div class="container">
			<h1 class="title">技术安全</h1>
			<ul class="list-unstyled footer-box">
				<li class="czimg6">
					<h2>网站技术保障</h2>
					<p>汇诚普惠平台合法合规经营，实名认证银行同卡进出，运用SSL加密传输保护用户在个人信息、操作信息、资金信息安全。</p>
				</li>
				<li class="czimg3">
					<h2>平台安全保障</h2>
				</li>
				<li class="czimg4">
					<h2>信息安全保障</h2>
				</li>
				<li class="czimg5">
					<h2>资金安全保障</h2>
				</li>
				<div class="clearfix"></div>
			</ul>			
		</div>
	</div>

<!-- 	<div class="footer-box">
		<div class="footer-bg">
			<div class="container footer-img">
				<img src="<?=RSRC?>/images/index/disclosure/footerbg.png" alt="" class='footerbgs'>
				<div class="hefa"><img src="<?=RSRC?>/images/index/disclosure/hefa.png" alt=""></div>
				<div class="shiming"><img src="<?=RSRC?>/images/index/disclosure/shiming.png" alt=""></div>
				<div class="youzhi"><img src="<?=RSRC?>/images/index/disclosure/youzhi.png" alt=""></div>
				<div class="ssl"><img src="<?=RSRC?>/images/index/disclosure/ssl.png" alt=""></div>
			</div>	
		</div>
	</div> -->

</div>
<?php $this->display('footer.html');?>