<?php $this->display('header.html');?>
<?php $this->display('position.html');?>
<div class="container disclosureBody">
    <?php $this->display('about/common/menu.html');?>
    <!-- 右边视图 -->
    <div class="pull-right">
        <div class="developBody">
            <img src="<?=RSRC?>/images/index/disclosure/develop.jpg" alt="">
            <div class="developMain">
                <ul class="list-inline" id="licheng">
                    <li class="developMainLi">2018</li>|
                    <li>2017</li>|
                    <li>2016</li>|
                </ul>
                <!-- 2018 -->
                <div class="courseContainer">
                    <div class="courseBox">
                        <div class="leftTitle pull-left">1月<span></span></div>
                        <dl class="pull-left">
                            <dd><a>1月1日</a>汇诚普惠成为福建互联网金融协会会员</dd>
                            <dd><a>1月18日</a>汇诚普惠安存电子合同线上签约功能正式上线</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- 2017 -->
                <div class="courseContainer">
                    <div class="courseBox">
                        <div class="leftTitle pull-left">4月<span></span></div>
                        <dl class="pull-left">
                            <dd><a>4月20日</a>汇诚普惠与畅捷支付签署合作协议</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div>
                    <!-- <div class="courseBox">
                        <div class="leftTitle pull-left">5月<span></span></div>
                        <dl class="pull-left">
                            <dd><a>5月6日</a>汇诚普惠历史成交量突破三千万元</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div> -->
                    <div class="courseBox">
                        <div class="leftTitle pull-left">6月<span></span></div>
                        <dl class="pull-left">
                            <dd><a>6月18日</a>汇诚普惠乔迁新址办公</dd>
                            <dd><a>6月18日</a>汇诚普惠2.0版本系统更新上线</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div>
                    <!-- <div class="courseBox">
                        <div class="leftTitle pull-left">7月<span></span></div>
                        <dl class="pull-left">
                            <dd><a>7月9日</a>汇诚普惠长乐门店开业 。</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div> -->
                    <div class="courseBox">
                        <div class="leftTitle pull-left">8月<span></span></div>
                        <dl class="pull-left">
                            <dd><a>8月11日</a>汇诚普惠车险分期产品上线</dd>
                            <dd><a>8月11日</a>汇诚普惠与宝付支付签署合作协议</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div>
<!--                     <div class="courseBox">
                        <div class="leftTitle pull-left">9月<span></span></div>
                        <dl class="pull-left">
                            <dd><a>9月15日</a>汇诚与上海银行签署资金存管协议。</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div> -->
                    <div class="courseBox">
                        <div class="leftTitle pull-left">10月<span></span></div>
                        <dl class="pull-left">
                            <dd><a>10月12日</a>汇诚普惠与安存科技签署合作协议</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div>
                    <div class="courseBox">
                        <div class="leftTitle pull-left">11月<span></span></div>
                        <dl class="pull-left">
                            <dd><a>11月2日</a>汇诚普惠纳入金融办监管范围，进行审计核查</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div>
                    <div class="courseBox">
                        <div class="leftTitle pull-left">12月<span></span></div>
                        <dl class="pull-left">
                            <dd><a>12月1日</a>汇诚普惠3.0版本系统开放测试</dd>
                            <dd><a>12月17日</a>融办下达整改通知书，汇诚普惠启动整改计划。</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- 2016 -->
                <div class="courseContainer">
                    <div class="courseBox">
                        <div class="leftTitle pull-left">4月<span></span></div>
                        <dl class="pull-left">
                            <dd><a>4月22日</a>福州汇诚金融外包服务有限公司成立</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div>
                    <div class="courseBox">
                        <div class="leftTitle pull-left">6月<span></span></div>
                        <dl class="pull-left">
                            <dd><a>6月</a>汇诚普惠1.0版本系统正式上线</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div>
                    <div class="courseBox">
                        <div class="leftTitle pull-left">7月<span></span></div>
                        <dl class="pull-left">
                            <dd><a>7月1日</a>汇诚普惠房优贷产品上线</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div>
                    <!-- <div class="courseBox">
                        <div class="leftTitle pull-left">10月<span></span></div>
                        <dl class="pull-left">
                            <dd><a>10月15日</a>汇诚普惠历史成交量突破一千万元</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<?php $this->display('footer.html');?>