<?php $this->display('header.html');?>
<?php $this->display('position.html');?>
<div class="container disclosureBody">
    <?php $this->display('about/common/menu.html');?>
    <!-- 右边视图 -->
    <div class="pull-right">
        <div class="companyInfoBody">
            <img src="<?=RSRC?>/images/index/disclosure/events.png" alt="">
        </div>
        <div class="companyInfoMain">
            <h1>重大事项</h1>
            <div class="companyTable">
                <table class="table">
                    <tr class="bgColor">
                        <td class="border1" style="width: 75%;padding-left: 38px;text-indent: 0;">公司减资、合并、分立、解散或申请破产</td>
                        <td class="border2">无</td>
                    </tr>
                    <tr>
                        <td class="border1" style="width: 75%;padding-left: 38px;text-indent: 0;">公司依法进入破产程序</td>
                        <td class="border2">无</td>
                    </tr>

                    <tr class="bgColor">
                        <td class="border1" style="width: 75%;padding-left: 38px;text-indent: 0;">公司被责令停业、整顿、关闭</td>
                        <td class="border2">无</td>
                    </tr>
                    <tr>
                        <td class="border1" style="width: 75%;padding-left: 38px;text-indent: 0;">公司涉及重大诉讼、仲裁，或涉嫌违法违规被有权机关调查，或受到<br>刑事处罚、重大行政处罚</td>
                        <td class="border2">无</td>
                    </tr>
                    <tr class="bgColor">
                        <td class="border1" style="width: 75%;padding-left: 38px;text-indent: 0;">公司法定代表人、实际控制人、主要负责人、董事、监事、高级管理<br>人员涉及重大诉讼、仲裁，或涉嫌违法违纪被有权机关调查，或受到<br>刑事处罚、重大行政处罚，或被采取强制措施</td>
                        <td class="border2">无</td>
                    </tr>

                    <tr>
                        <td class="border1" style="width: 75%;padding-left: 38px;text-indent: 0;">公司主要或者全部业务陷入停顿</td>
                        <td class="border2">无</td>
                    </tr>
                    <tr class="bgColor">
                        <td class="border1" style="width: 75%;padding-left: 38px;text-indent: 0;">存在欺诈、损害出借人利益等其他影响网络借贷信息中介机构经营活<br>动的重大事项</td>
                        <td class="border2">无</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
<?php $this->display('footer.html');?>