<?php $this->display('header.html');?>
<?php $this->display('position.html');?>
<div class="container disclosureBody">
    <?php $this->display('about/common/menu.html');?>
    <!-- 右边视图 -->
    <div class="pull-right">
        <div class="companyBody">
            <img src="<?=RSRC?>/images/index/disclosure/company.jpg" alt="">
            <h1 class="title">公司简介</h1>
            <p class="article">  汇诚普惠（<a href="#">www.91hc.com</a>）成立于2016年4月22日，注册资本5000万元，是福州汇诚金融外包服务有限公司旗下。平台于2016年6月18日正式上线运营，目前业务涵盖房优贷款、车险优贷款，借助于计算机云存储、电子合同存证、移动支付和征信大数据等多项互联网技术，为广大出借人和借款人提供高效、便捷、优质的网络借贷服务。</p>
            <p class="article">2017年11月，汇诚普惠<!--联手上海银行打造的银行存管-->系统全新升级上线，平台始终坚持合规经营，主动拥抱监管，全面接受政府及社会公众的监督，并履行相应的信息披露义务。
            公司坚信，互联网金融不仅可以解决个人及中小微企业融资难的问题，同时也给广大出借人带来更高的财富收益。本着“诚信为本、共赢发展”的经营理念，公司将不断努力在互联网金融普惠之路上前行。<br></p>
            <p class="article">未来，互联网金融将进入规范化运营的新阶段，平台始终将围绕着“合规为先、风控为重、产品为主、服务至上”的经营思路，竭诚为客户提供优质的网贷信息中介服务。</p>
            <h1 class="title">公司高管</h1>
            <div class="team">
                <ul class="list-unstyled">
                      <li>
                        <div class="bgImg friend-1"></div>
                        <h2>刘振洲</h2>
                        <h3>法定代表人、执行董事、总经理</h3>
                        <p>原微贷网财务总监，15年以上500强企业及上市公司工作经历；长期从事企业财务管理、资金营运、项目融资等工作，有丰富的互联网项目规划、分析、设计及运营能力，对互联网金融行业有深刻的认识与业务积累，有很好的创意思维与企业管理能力。</p>
                      </li>
                      <li>
                        <div class="bgImg friend-4"></div>
                        <h2>陈晶晶</h2>
                        <h3>监事</h3>
                        <p>曾就职于中国银行，近10年的银行业务管理经验，长期从事银行内控管理，熟悉银行业务政策及制度，对银行及网络借贷信息中介行业有较深的认识和理解，能够把握企业经营及业务的合规性和风险点，为人正直，品行良好。</p>
                      </li>
                      <li>
                          <div class="bgImg friend-5"></div>
                          <h2>林丽爱</h2>
                          <h3>风控总监</h3>
                          <p>近10年的金融从业经历，为人正直，处事谨慎，原则性强，工作认真负责，熟悉信贷业务，熟悉信贷业务市场，熟悉信贷业务政策，具有较为丰富的信贷审查经验，从事信贷审查工作期间未出现过人为因素导致的信贷风险，对信贷风险具有较高。</p>
                      </li>

                      <li>
                        <div class="bgImg friend-2"></div>
                        <h2>唐巧龙</h2>
                        <h3>运营总监</h3>
                        <p>互联网行业资深人士，曾服务于国内大型知名互联网公司，8年以上互联网运营维护管理工作经验，具有丰富的产品运营、项目规划、整合营销、数据挖掘等团队运营管理经验。专注于互联网金融发展的研究，具备敏锐的洞察力，对制定公司的营销战略有着丰富的经验，并热爱互联网金融行业。</p>
                      </li>
                      
                      <li>
                        <div class="bgImg friend-3"></div>
                        <h2>刘晨辉</h2>
                        <h3>技术总监</h3>
                        <p>15年程序开发及管理经验，在程序开发及大数据库方面拥有丰富的工作经验。曾负责深圳政府应急系统的项目开发、深圳集时通讯客户管理系统的二次开发。韵达快递物流管理系统开发、唐狮服饰集团数据库挖掘开发（BI）及维护等项目。</p>
                      </li>
                      <li>
                          <div class="bgImg friend-6"></div>
                          <h2>张锦雄</h2>
                          <h3>财务负责人</h3>
                          <p>3年以上财务管理工作经营，熟悉金融企业财务核算，能够独立开展资金管理工作及投融资相关工作。对互联网金融行业的业务模式和内控管理有较深的理解，熟悉预算管理和税务管理等工作。</p>
                      </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <a class="left"></a>
            <a class="right"></a>
        </div>
    </div>
</div>

<?php $this->display('footer.html');?>
