<?php $this->display('header.html');?>
<style>
	.center{
		text-align: center;
	}
	.containers{
		width: 1000px;
		color: #333;
		font-size: 14px;
		margin: 0 auto;
		line-height: 30px;
	}
	.red{
		color: red;
	}
	.px20{
		font-size: 20px;
	}
	.px16{
		font-size: 16px;
	}
	.px14{
		font-size: 14px;
	}
	.w{
		font-weight: bold;
	}
	.table{
		border-bottom: 1px solid #333;
		border-right: 1px solid #333;
	}
	.table td{
		border-top: 1px solid #333;
		border-left: 1px solid #333;
		padding:5px;
	}
	.h20{
		height: 20px;
	}
</style>
<div class="containers">
	<div class="h20"></div>
	<h1 class="center w">委托协议书</h1>
<p>甲方（委托人）：</p>
<p>乙方（受托人）：</p> 
<p>身份证号码：</p>
<p>丙方（居间服务方）：福州汇诚金融外包服务有限公司</p>
<p>借款人：</p>
<p>企业名称：</p>
<p>法定代表人：</p>
<p>统一社会信用代码：</p>
<p>鉴于：</p>
<p>甲方于______通过丙方的居间服务与借款人签订《借款合同》（合同编号：________）并以电子数据形式存证于丙方汇诚普惠平台。第三人_____，公民身份号码________提供其所有的房产作为抵押物以担保上述债务履行，为便于办理抵押物抵押登记手续并及时了解抵押物情况，以切实保障甲方的债权，甲方确认委托乙方作为上述抵押物的登记抵押权人，乙方同意接受上述委托，在债务人逾期清偿债务时，乙方有权以自己的名义行使抵押权。</p>
<p>现甲乙丙三方就甲方委托乙方作为登记的抵押权人并行使抵押权相关事宜，一致达成如下协议：</p>
<p class="px14 w">一、抵押物基本信息</p>
<p>抵押人：</p>
<p>抵押房产坐落：</p>
<p>不动产权证书号（或房产证号）：</p>
<p>建筑面积：_____平方米。</p>
<p class="px14 w">二、委托事项</p>
<p>甲方确认委托乙方作为抵押房产的登记抵押权人，乙方有权以自己的名义开展的事项，包括但不限于：</p>
<p>1、乙方有权以乙方的名义与借款人签订《抵押借款合同》等办理抵押登记所需的文件，并有权以乙方的名义行使抵押权人的权利。</p>
<p>2、按照约定办理房产抵押登记手续，作为登记的抵押权人。</p>
<p>3、在借款人逾期还款或出现合同约定抵押权人有权行使抵押权的情形时，有权代表甲方对借款人进行催收，并有权以乙方自己的名义代表甲方行使抵押权。就行使抵押权所得款项，乙方有权先行扣除其为实现抵押权所支出的所有费用后（包括但不限于调查、评估、催收、拖车费、交通费、差旅费律师费等）。</p>
<p>4、在借款人清偿全部款项（包括但不限于借款本息、违约金等等）以及乙方为实现抵押权发生的全部费用后，乙方有权为借款人办理解押手续。</p>
<p>乙方履行受托事项而支出的费用由借款人承担，但乙方有权要求甲方先行垫付，甲方未垫付的，乙方有权拒绝履行本合同。</p>
<p class="px14 w">三、手续费收取标准及方式</p>
<p>1、委托手续费为借款金额*1‰，贷款发放后一次性支付。</p>
<p>2、委托手续费由丙方承担。</p>
<p class="px14 w">四、免责条款</p>
<p>1、乙方基于本协议而做出的行为所产生的责任均由甲方承担。</p>
<p>2、乙方对于抵押物毁损、灭失或者贬值等情况不承担任何责任。</p>
<p>3、乙方对于非归责于乙方原因而出现无法办理抵押登记、抵押权无法实现的情况不承担任何责任。</p>
<p class="px14 w">五、 其他</p>
<p>1、甲乙双方确认，未经丙方书面同意，甲方不得撤销授予乙方的权利，乙方根据本协议履行受托事项过程中已签署的所有文件不因授权的撤销而失效。</p>
<p>2、乙方与甲方、丙方不存在关联关系。</p>
<p>3、本协议自甲乙丙三方签章之日起生效。</p>

<p>甲方：</p>
<p>乙方：</p>                             
<p>丙方：</p>                             
<div class="h20"></div>
<div class="h20"></div>
</div>

<?php $this->display('footer.html');?>