<div class="admin_left_nav">
    <dl class="admin_left_nav_1">
        <dt class="no_select admin_mouseenter"  ui-sref="userPandect">
            <img src="img/myAdmin.png" alt="">
            我的账户
            <span class="admin_left_nav_hover admin_left_now"></span>
        </dt>
        <div class="admin_left_animat">
            <dd><a href="">资产明细</a></dd>
            <dd><a href="">交易记录</a></dd>
            <dd><a href="">充值</a></dd>
            <dd><a href="">提现</a></dd>
            <dd><a href="">银行卡</a></dd>
        </div>
    </dl>
    <dl class="admin_left_nav_2">
        <dt class="admin_left_nav_dl_dt admin_mouseenter" ui-sref="userAuto">
            <img src="img/investSet.png" alt="">
            投资管理
            <span class="admin_left_nav_hover"></span>
        </dt>
        <div class="admin_left_animat">
            <dd ui-sref="userAuto">自动投标</dd>
            <dd ui-sref="userMove.kzrzq">债权转让</dd>
        </div>
    </dl>
    <dl class="admin_left_nav_3">
        <dt class="admin_left_nav_dl_dt admin_mouseenter" ui-sref="userCoupon.HongBao">
            <img src="img/prerogative.png" alt="">
            我的特权
            <span class="admin_left_nav_hover"></span>
        </dt>
        <div class="admin_left_animat">
            <dd ui-sref="userCoupon.HongBao">红包卡券</dd>
            <dd ui-sref="userAwarp">推荐奖励</dd>
        </div>
    </dl>
    <dl class="admin_left_nav_4">
        <dt class="no_select admin_mouseenter" ui-sref="userSet">
            <img src="img/ourSet.png" alt="">
            账户设置
            <span class="admin_left_nav_hover"></span>
        </dt>
    </dl>
    <dl class="admin_left_nav_5">
        <dt class="no_select admin_mouseenter" ui-sref="userMessage">
            <img src="img/messageCenter.png" alt="">
            消息中心
            <span class="admin_left_nav_hover"></span>
        </dt>
    </dl>
</div>
