<?php 
  use tools\BFBank;
  $banks = BFBank::$banks;
  $xyBanks = BFBank::$xyBanks;
  $cxBanks = BFBank::$cxBanks;
?>
<div class="ui-tab rechargeWay">
  <div class="idTabs recharge-title">
    <ul id="pay-way-bf-choose" class="clearfix">
      <li >
        <a href="javascript:;"  data-ref="#c-banks" data-value="1" class="selected">网银</a>
      </li>
      <!-- <li >        
        <a href="javascript:;"  data-ref="#x-banks" data-value="2">网银(信用卡)</a>
      </li> -->
      <li >
        <a href="javascript:;"  data-ref="#r-banks" data-value="3">认证支付</a>
      </li>
    </ul>
  </div>
  <div class="recharge-banks banks-bf">
    
    <!-- 网银储蓄卡 -->
    <div class="pay-banks-list x-banks-list open mb20" id="c-banks">
      <div class="title">点击选择银行 ：</div>
      <ul class="bank-list-ul banks-only-icon clearfix">
        <?php $i=0;?>
        <?php foreach ($cxBanks as $key => $bank):?>
        <?php if($i!=9):?>
        <li  class="bank-item <?php if($i>9):?>fn-hide<?php endif;?>" data-value="<?=$bank['ichar']?>" data-code="<?=$key?>">
          <img alt="<?=$bank['name']?>" src="<?=RSRC?>/images/bank/<?=$bank['ichar']?>.png">
          <a title="<?=$bank['name']?>" class="mark-blue"></a> <i class="rt"></i>
        </li>
        <?php else:?>
        <li class="J_show_more_banks">
          <a href="javascript:">更多银行</a>
        </li>
        <li class="bank-item fn-hide" data-value="<?=$bank['ichar']?>" data-code="<?=$key?>">
          <img alt="<?=$bank['name']?>" src="<?=RSRC;?>/images/bank/<?=$bank['ichar']?>.png">
          <a title="<?=$bank['name']?>" class="mark-blue"></a> <i class="rt"></i>
        </li>
        <?php endif;?>
        <?php $i++;?>
        <?php endforeach;?>
      </ul>
    </div>
    
    <!-- 网银信用卡 -->
    <div class="pay-banks-list h-banks-list mb20" id="x-banks">
      <div class="title">点击选择银行 ：</div>
      <ul class="bank-list-ul banks-only-icon clearfix">
        <?php $i=0;?>
        <?php foreach ($xyBanks as $key => $bank):?>
        <?php if($i!=9):?>
        <li  class="bank-item <?php if($i>9):?>fn-hide<?php endif;?>" data-value="<?=$bank['ichar']?>" data-code="<?=$key?>">
          <img alt="<?=$bank['name']?>" src="<?=RSRC?>/images/bank/<?=$bank['ichar']?>.png">
          <a title="<?=$bank['name']?>" class="mark-blue"></a> <i class="rt"></i>
        </li>
        <?php else:?>
        <li class="J_show_more_banks">
          <a href="javascript:">更多银行</a>
        </li>
        <li class="bank-item fn-hide" data-value="<?=$bank['ichar']?>" data-code="<?=$key?>">
          <img alt="<?=$bank['name']?>" src="<?=RSRC?>/images/bank/<?=$bank['ichar']?>.png">
          <a title="<?=$bank['name']?>" class="mark-blue"></a> <i class="rt"></i>
        </li>
        <?php endif;?>
        <?php $i++;?>
        <?php endforeach;?>
      </ul>
    </div>

    <!-- 认证支付 -->
    <?php if($agreement):?>
    <div class="pay-banks-list c-has-banks" id="r-banks">
      <div class="title">已认证银行卡：</div>
      <ul class="bank-list-ul banks-with-num clearfix">
        <li class="clearfix bank-item" data-code="<?=$agreement['bank_code']?>" data-agree="<?=$agreement['no_agree']?>">
          <img alt="<?=$agreement['bank_name']?>" src="<?=RSRC?>/images/bank/<?=$banks[$agreement['bank_code']]['ichar']?>.png">
          <span class="bank-info"><?php if($agreement['card_type']==2){echo '储蓄卡';} else {echo '信用卡';}?> | 尾号<?php echo $agreement['card_no'];?></span>
          <a title="<?=$agreement['bank_name']?>" class="mark-blue"></a> <i class="rt"></i>
        </li>
      </ul>
    </div>
    <div id="c-new-banks-line" class="line hide"></div>
    <?php else:?>
    <div class="pay-banks-list r-banks-list mb20" id="r-banks">
      <div class="title">点击选择银行 ：</div>
      <ul class="bank-list-ul banks-only-icon clearfix">
        <?php $i=0;?>
        <?php foreach ($banks as $key => $bank):?>
        <?php if($i!=9):?>
        <li  class="bank-item <?php if($i>9):?>fn-hide<?php endif;?>" data-value="<?=$bank['ichar']?>" data-code="<?=$key?>">
          <img alt="<?=$bank['name']?>" src="<?=RSRC?>/images/bank/<?=$bank['ichar']?>.png">
          <a title="<?=$bank['name']?>" class="mark-blue"></a> <i class="rt"></i>
        </li>
        <?php else:?>
        <li class="J_show_more_banks">
          <a href="javascript:">更多银行</a>
        </li>
        <li class="bank-item fn-hide" data-value="<?=$bank['ichar']?>" data-code="<?=$key?>">
          <img alt="<?=$bank['name']?>" src="<?=RSRC?>/images/bank/<?=$bank['ichar']?>.png">
          <a title="<?=$bank['name']?>" class="mark-blue"></a> <i class="rt"></i>
        </li>
        <?php endif;?>
        <?php $i++;?>
        <?php endforeach;?>
      </ul>
      <div class="title mt30">输入银行卡号：</div>
      <div class="bank-card-input input-wrap mt20">
        <span class="cRed">*</span>
        <label class="label">银行卡号</label>
        <input name="bankCard" class="ui-input input-icon" type="text" style="width:200px;">
      </div>
      <div class="remark-box" style="padding-bottom:0px;">
        <div class="remark-title">注意:</div>
        <div class="remark-content">
          <p>1、认证支付只能使用您本人的银行卡进行充值(不支持信用卡)！</p>
          <p>2、使用认证支付后您的提现银行卡只能设置一张，并且该卡只能为认证支付的那张卡，您原来设置的卡将会被删除！</p>
          <p>3、认证支付每笔充值不能少于500元！</p>
        </div>
      </div>
    </div>
    <?php endif;?>

  </div>
</div>