<?php $this->display('header.html');?>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">发标预告列表</h3>
				<div class="box-tools pull-right">
		          <a class="btn btn-box-tool" data-toggle="tooltip" data-original-title="添加发标预告" href="/admin/article/annc">
		          <i class="glyphicon glyphicon-edit"></i></a>
		        </div>
			</div>
			<div class="box-body pb-0">
				<div class="row">
					<div class="col-sm-12">
						<form action="" class="table-search-form clearfix">
							<div class="form-group">
								<label class="control-label time-label">添加时间</label>
								<div class="input-group time-group">
									<input type="text" class="form-control input-sm timepicker" data-allow-input="true" name="beginTime" value="<?=$queries->beginTime?>">
									<div class="input-group-btn">
										<button type="button" class="btn btn-sm">至</button>
									</div>
									<!-- /btn-group -->
									<input type="text" class="form-control input-sm timepicker" data-allow-input="true" name="endTime" value="<?=$queries->endTime?>">
								</div>
							</div>
							<button type="submit" class="btn btn-sm btn-info">搜索</button>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-hover mb-0" data-delete="/admin/article/delete">
							<tr>
								<th class="visible-lg">新闻ID</th>
								<th>日期</th>
								<th>数量</th>
								<th>总金额</th>
								<th>操作</th>
							</tr>
							<?php foreach ($anncs as $annc):?>
							<tr data-id="<?=$annc->news_id?>">
								<td class="visible-lg"><?=$annc->news_id?></td>
								<td><?=$annc->day?></td>
								<td><?=$annc->num?></td>
								<td><?=$annc->totalMoney?></td>
								<td>
									<a class="btn btn-ssm btn-info" href="<?=WEB_MAIN;?>/news/show/id/<?=$annc->news_id?>" target="_blank"> 
										<i class="glyphicon glyphicon-edit icon-white"></i> 查看
									</a>
									<a class="btn btn-ssm btn-success" href="/admin/article/annc?id=<?=$annc->news_id?>"> 
										<i class="glyphicon glyphicon-edit icon-white"></i> 编辑
									</a>
									<a class="btn btn-ssm btn-danger btn-delete">
										<i class="glyphicon glyphicon-trash icon-white"></i> 删除
									</a>
								</td>
							</tr>
							<?php endforeach;?></table>
					</div>
				</div>
			</div>
			<div class="box-footer clearfix">
			<?=$anncs->render()?>
			</div>
		</div>
	</div>
</div>
<?php $this->display('footer.html');?>