<?php $this->display('header.html');?>
<style>
	.center{
		text-align: center;
	}
	.containers{
		width: 1000px;
		color: #333;
		font-size: 14px;
		margin: 0 auto;
		line-height: 30px;
	}
	.red{
		color: red;
	}
	.px20{
		font-size: 20px;
	}
	.px16{
		font-size: 16px;
	}
	.px14{
		font-size: 14px;
	}
	.w{
		font-weight: bold;
	}
	.table{
		border-bottom: 1px solid #333;
		border-right: 1px solid #333;
	}
	.table td{
		border-top: 1px solid #333;
		border-left: 1px solid #333;
		padding:5px;
	}
	.h20{
		height: 20px;
	}
</style>
<div class="containers">
	<div class="h20"></div>
	<p class="px20 w" style="text-align: center;">债权转让及受让协议</p>
	<div class="h20"></div>
	<div class="h20"></div>
	<p class="px16">甲方（债权受让人）：</p>
	<div class="h20"></div>
	<p class="px16">住所:</p>
	<div class="h20"></div>
	<p class="px16">乙方（债务人）:</p>
	<div class="h20"></div>
	<p class="px16">住所:</p>
	<div class="h20"></div>
	<p class="px16">居间服务人：</p>
	<div class="h20"></div>
	<p class="px16">福州汇诚金融外包服务有限公司</p>
	<p class="px16">（以下简称“汇诚普惠”）</p>
	<div class="h20"></div>
	<div class="h20"></div>
	<p>1、乙方于___年____月____日通过汇诚普惠的居间服务与借款人签订《借款协议书》并以电子数据形式存证于汇诚普惠平台。乙方确认该《借款协议书》是乙方真实意思表示并有效签订的合同，且借款人已经收到乙方通过汇诚普惠支付的全部出借款项，该借款协议项下的债权真实、合法、有效。</p>
	<div class="h20"></div>
	<p>2、按照上述编号_________《借款协议书》的约定，乙方通过汇诚普惠居间服务将上述债权转让给甲方，汇诚普惠根据《借款协议书》的约定完成债权转让通知及相关事宜。甲、乙双方均明确知晓并认可汇诚普惠的受托权限。<span class="red">乙方向甲方转让上述债权时，担保上述债权的抵押权一并转让。甲方知悉，为便于办理抵押登记以保障债权的实现，乙方委托汇诚普惠指定人员（以下简称委托代理人）作为上述抵押物的登记抵押权人，委托代理人有权作为债权人并以委托代理人的名义与债务人签订办理抵押登记所需的《抵押借款合同》等合同，在借款人逾期清偿债务时，或出现合同约定抵押权人有权行使抵押权的情形时，委托代理人有权以委托代理人的名义行使抵押权，甲方对此予以认可，并确认继续委托汇诚普惠指定人员作为上述抵押物的登记抵押权人，并按照上述约定代为行使抵押权。</span></p>
	<div class="h20"></div>

	<p>3、甲、乙双方需按照汇诚普惠平台的收费标准向其支付居间服务费、账户管理费等，甲、乙并不可撤销地确认授权汇诚普惠代扣相关费用。</p>
	<div class="h20"></div>
	<p>4、自甲、乙双方签署本协议及债权转让通知送达借款人后，借款人即按原《借款协议书》的约定向甲方按期还本付息。根据《借款协议书》及借款人的还款情况，转让债权的具体情况如下：     借款人：_______；债权转让本金：_______元（人民币）；利率_______（年）；剩余期限_______个月。</p>
	<div class="h20"></div>
	<p>5.甲方受让本协议项下的债权后，可通过汇诚普惠平台按照平台转让规则将本协议项下的债权转让给其他适格第三方。</p>
	<div class="h20"></div>
	<p>6、借款人未按约定还款的，借款人应承担甲方或其他债权受让方为实现债权而发生的一切费用（包括但不限于诉讼费、财产保全费、律师费、差旅费、执行费、评估鉴定费、拍卖费等）。</p>
	<div class="h20"></div>
	<p>7、本协议未约定内容，以汇诚普惠注册协议及《借款协议书》约定为准。</p>
	<div class="h20"></div>
	<p>8、凡因本协议导致诉讼的，由浙江省杭州市江干区人民法院管辖。</p>
	<div class="h20"></div>
	<p>9、本协议由甲方、乙方在汇诚普惠平台点击确认后生效。</p>
	<div class="h20"></div>
	<div class="h20"></div>
	<p class="px16" style="text-align: right;">居间服务人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
	<p class="px16" style="text-align: right;">签订时间：_____ 年 _____ 月_____日&nbsp;&nbsp;&nbsp;&nbsp;</p>
	<div class="h20"></div>
	<div class="h20"></div>
	<div class="h20"></div>
</div>
<?php $this->display('footer.html');?>